<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', {
          title : flock.name,
          breadcrumb: {
            text: `${member.username}'s Flock`,
            url: `/members/${member._id}`,
            prepend: `<img class="member-avatar avatar-sm" src="${member.avatar}" data-id="${member._id}" onerror="missingMemberAvatar(this)">`
          }
    }) %>

    <%- include('../partials/filter-search-sort.ejs', { includeAllFamilies: true, sortFields : [{ "value" : "hatchedAt", "label" : "Hatch Date (Newest)", "dir" : "desc" }, { "value" : "hatchedAt", "label" : "Hatch Date (Oldest)" }, { "value" : "species", "label" : "Species" }] }) %>

    <%- include('../partials/spacer.ejs') %>

    <div id="lazyLoader" class="row" data-endpoint="/api/flocks/<%= flock._id %>"></div>

  <%- include('../scripts/lazyloader.ejs') %>

  <% if (locals.loggedInUser && loggedInUser.id == member._id) { %>
  <script>
    var loader = `
      <div class="spinner-border d-block mx-auto" role="status">
        <span class="visually-hidden">Saving...</span>
      </div>
    `;

    $('#lazyLoader').on('click', '.card', function () {
      var image = this.querySelector('.birdypet');

      if (!image.style.opacity) {
        image.style.opacity = .5;
        image.innerHTML = loader;

        $.ajax({
          cache: false,
          url: `/api/flocks/<%= flock._id %>/${image.getAttribute('data-id')}`,
          dataType: "json",
          method: "POST",
          success: function(data) {
            image.style.opacity = null;
            image.innerHTML = "";

            $(image.parentNode)[`${data.action}Class`]('border-chartreuse');
          }
        });
      }
    });
  </script>
  <% } %>

<%- include('../footer.ejs') %>
