<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', {
        title : flock.name
      }
    )
  %>

  <div id="lazyLoader" class="row g-0" data-endpoint="/api/aviary" data-params='{"flock":"<%= flock.id %>","member":"<%= member.id %>"}'></div>

  <%- include('../scripts/lazyloader.ejs') %>

<%- include('../footer.ejs') %>
