<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { title : entity.name, breadcrumb: locals.loggedInUser && loggedInUser.id == entity.member ? 'Manage Flock' : `${member.username}'s Flock`  }) %>

    <%- include('../partials/filter-search-sort.ejs', { includeAllFamily: true, selectedFlock: entity._id, sortFields : [{ "value" : "hatched-at", "label" : "Hatched At" }, { "value" : "name", "label" : "Name" }, { "value" : "common-name", "label" : "Species" }] }) %>

    <%- include('../partials/spacer.ejs') %>

    <div class="row filter-container">
      <% for (var userpet of userpets) { %>
      <div class="col-md-3 filter-item" data-category="<%= [userpet.birdypet.species.family.toLowerCase(), ...(userpet.flocks.length > 0 ? userpet.flocks : ["flockless"]), (userpet.nickname ? "nicknamed" : "nonickname")].join(", ") %>">
        <div class="pb-4">
          <div class="card <%= locals.loggedInUser && loggedInUser.id == entity.member && userpet.flocks.includes(entity._id) ? "border-primary" : "" %>">
            <p></p>
            <a <% if (!locals.loggedInUser || loggedInUser.id == entity.member) { %>href="/birdypet/<%= userpet._id%>"<% } %>>
              <div class="lazy birdypet" data-id="<%= userpet._id %>" data-bg="<%= userpet.birdypet.image %>"></div>
            </a>
            <h3 class="text-center">
              <a <% if (!locals.loggedInUser || loggedInUser.id == entity.member) { %>href="/birdypet/<%= userpet._id%>"<% } %>>
                <%= userpet.nickname ? userpet.nickname : userpet.birdypet.species.commonName %>
              </a>
            </h3>
            <h6 class="text-center"><%= userpet.nickname ? userpet.birdypet.species.commonName : (userpet.birdypet.label + " " + userpet.birdypet.version) %></h6>
          </div>
        </div>
      </div>
      <% } %>
    </div>

  <%- include('../scripts/filterizr.ejs') %>

  <% if (locals.loggedInUser && loggedInUser.id == entity.member) { %>
  <script>
    var loader = `
      <div class="spinner-border d-block mx-auto" role="status">
        <span class="visually-hidden">Saving...</span>
      </div>
    `;

    $('.filter-container').on('click', '.card', function () {
      var image = this.querySelector('.birdypet');

      if (!image.style.opacity) {
        image.style.opacity = .5;
        image.innerHTML = loader;

        $.ajax({
          cache: false,
          url: `/api/flocks/<%= entity._id %>/${image.getAttribute('data-id')}`,
          dataType: "json",
          success: function(data) {
            image.style.opacity = null;
            image.innerHTML = "";

            $(image.parentNode)[`${data.action}Class`]('border-primary');
          }
        });
      }
    });
  </script>
  <% } %>

<%- include('../footer.ejs') %>
