<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', {
        title : flock.name,
        breadcrumb: {
          text: `${member.username}`,
          url: `/members/${member.id}`,
          prepend: `<img class="member-avatar avatar-sm" src="${member.avatar}" data-id="${member.id}" onerror="missingMemberAvatar(this)"> `
        }
      }
    )
  %>

  <%- include('../partials/filter-search-sort.ejs', {
        includeAllFamilies: true,
        sortFields : [
          { "value" : "hatchedAt-DESC", "label" : "Hatch Date (Newest)" },
          { "value" : "hatchedAt", "label" : "Hatch Date (Oldest)" },
          { "value" : "species", "label" : "Species" }
        ]
      }
    )
  %>

  <div id="lazyLoader" class="row" data-endpoint="/api/aviary" data-params='{"flock":"<%= flock.id %>","member":"<%= member.id %>"}'></div>

  <%- include('../scripts/lazyloader.ejs') %>

<%- include('../footer.ejs') %>
