<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', {
        title : flock.name,
        subtitle : `${member.username}'s Flock`
      }
    )
  %>

 <% if (flock.descriptionHTML && flock.descriptionHTML != "") { %>
  <div class="row mb-5">
    <div class="col-lg-6 offset-lg-3">
      <div class="bg-light px-3 pt-3 pb-2 rounded text-break text-center">
        <% for (var para of flock.descriptionHTML.split("\r\n")) { %>
         <p><%= para %></p>
        <% } %>
      </div>
    </div>
  </div>
 <% } %>

  <div id="lazyLoader" class="row g-0" data-endpoint="aviary" data-params='{"flock":"<%= flock.id %>","include":["memberData"],"memberData":"<%= locals.loggedInUser ? loggedInUser.id : "" %>","member":"<%= member.id %>"}'></div>

  <%- include('../scripts/lazyloader.ejs') %>

<%- include('../footer.ejs') %>
