<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', { title : "Manage Flocks" }) %>

  <div class="text-end mb-3">
    <a href="/flocks/new" class="btn btn-primary">New Flock</a>
  </div>

  <div id="sortable" class="row">
    <% for (let flock of flocks) { %>
    <div class="col-11 offset-1 offset-md-0 col-md-12 p-3" data-id="<%= flock._id %>" data-display-order="<%= flock.displayOrder || 0 %>">
      <div class="card p-2">
        <div class="row">
          <div class="col-8 col-md-10">
            <h3 class="draggable">
              <small class="text-muted font-weight-light">&#x283F</small>
              <%= flock.name %>
            </h3>
          </div>
          <div class="col-4 col-md-2 text-end">
            <a class="btn btn-secondary" href="/flocks/manage/<%= flock._id %>">
              ✏️
            </a>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js" integrity="sha256-DqWm+/v1Q0tgaHhTPLema89wDw8Ir+kIM10JePtjrZQ=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    Sortable.create(document.getElementById('sortable'), {
      onUpdate: function (e) {
        var item = e.item;
        var prev = item.previousElementSibling ? (item.previousElementSibling.getAttribute('data-display-order') * 1) : 0;
        var next = item.nextElementSibling ? (item.nextElementSibling.getAttribute('data-display-order') * 1) : prev + 100;

        var displayOrder = (prev + next) / 2;

        item.setAttribute('data-display-order', displayOrder);

        $.ajax({
          cache: false,
          url: `/api/flocks/${item.getAttribute('data-id')}`,
          data: {
           displayOrder : displayOrder
          },
          dataType: "json",
          method: "PUT",
          success: function(data) {
          }
        });
      }
    });
  </script>

<%- include('../footer.ejs') %>
