<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', {
        title : flock.name,
        breadcrumb: {
          text: `Manage Flocks`,
          url: '/flocks'
        }
      }
    )
  %>

  <div>
    <h5><label>Name</label></h5>
    <input type="text" id="flockName" class="form-control mb-3" value="<%= flock.name %>" style="width: 100%">

    <h5><label>Description</label></h5>
    <textarea id="flockDescription" maxlength="500" class="form-control mb-3" style="height: 150px; width: 100%;"><%= flock.description %></textarea>

    <button id="updateFlock" class="btn btn-primary" type="button">Save Changes</button>

    <button id="deleteFlock" class="btn btn-danger float-end" type="button">Delete</button>
  </div>

  <%- include('../partials/spacer.ejs') %>

  <h3 class="mb-3">Add/Remove Birds</h3>

  <p>
    <span class="border border-2 border-chartreuse p-1 mx-2">In Flock</span>  <span class="border border-2 border-secondary border-dashed p-1 mx-2">Not In Flock</span>
  </p>

  <%- include('../partials/filter-search-sort.ejs', { includeAllFamilies: true, selectedFlock: flock.id, sortFields : [{ "value" : "hatchedAt-DESC", "label" : "Hatch Date (Newest)" }, { "value" : "hatchedAt", "label" : "Hatch Date (Oldest)" }, { "value" : "species", "label" : "Species" }] }) %>

  <div id="lazyLoader" class="row" data-endpoint="/api/aviary" data-params='{"member":"<%= loggedInUser.id %>"}'></div>

  <%- include('../scripts/lazyloader.ejs', { skipParams : true }) %>

  <script>
    $('#lazyLoader').on('click', '.card', function (e) {
      if (e.target.nodeName != 'A') {
        var image = e.currentTarget.querySelector('.birdypet');

        if (!image.style.opacity) {
          image.style.opacity = .5;
          $(image.parentNode.parentNode).toggleClass('loadingData');

          $.ajax({
            cache: false,
            url: `/api/flocks/<%= flock.id %>/${image.getAttribute('data-id')}`,
            dataType: "json",
            method: "POST",
            success: function(data) {
              image.style.opacity = null;
              image.innerHTML = "";

              $(image.parentNode.parentNode).toggleClass('border-chartreuse border-secondary border-dashed loadingData');
            }
          });
        }
      }
    });

    $('#updateFlock').on('click', function (e) {
      var container = e.currentTarget.parentNode;

      if (!container.classList.contains('loadingData')) {
        toggleFields(container, true);

        $.ajax({
          cache: false,
          url: `/api/flock`,
          data: JSON.stringify({
           id: "<%= flock.id %>",
           name: $('#flockName').val(),
           description: $('#flockDescription').val()
          }),
          dataType: "json",
          method: "PUT",
          contentType: 'application/json',
          success: function(data) {
            toggleFields(container, false);
          }
        });
      }
    });

    $('#deleteFlock').on('click', function () {
      var rusure = confirm("Are you sure you want to delete this flock? This cannot be undone.");

      if (rusure) {
        $.ajax({
          cache: false,
          url: `/api/flock`,
          data: JSON.stringify({
            id: "<%= flock.id %>"
          }),
          dataType: "json",
          method: "DELETE",
          contentType: 'application/json',
          success: function(data) {
            window.location.href = '/flocks';
          }
        });
      }
    });

    function toggleFields (container, disabled) {
      container.classList[disabled ? 'add' : 'remove']('loadingData');

      container.querySelector('input').disabled = disabled;
      container.querySelector('textarea').disabled = disabled;
      container.querySelectorAll('button').forEach( function (button) {
        button.disabled = disabled;
      });
    }
  </script>

<%- include('../footer.ejs') %>
