<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { title : `Send Gift to: ${member.username}` }) %>

    <%- include('../partials/filter-search-sort.ejs', { includeAllFamilies : true, sortFields : [{ "value" : "hatchedAt", "label" : "Hatch Date (Newest)", "dir" : "desc" }, { "value" : "hatchedAt", "label" : "Hatch Date (Oldest)" }, { "value" : "species", "label" : "Species" }] }) %>

    <%- include('../partials/spacer.ejs') %>

    <div id="lazyLoader" class="row" data-endpoint="/api/gift/<%= member._id %>"></div>

<%- include('../scripts/lazyloader.ejs', { template: '../templates/gift.ejs' }) %>

<%- include('../footer.ejs') %>
