<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { title : "Members" }) %>

    <% for (var i = 0, len = members.length; i < len; i++) { %>
      <% if (i % 4 === 0) { %>
        <% if (i > 0) { %>
          </div>
        <% } %>
      <div class="row">
      <% } %>
        <div class="col-sm-6 col-md-3 mb-3">
          <div class="row">
          <div class="col-3 text-center">
            <a href="/members/<%= members[i].id %>">
              <img class="member-avatar" src="<%= members[i].avatar %>" data-id="<%= members[i].id %>" onerror="missingMemberAvatar(this)">
            </a>
          </div>
          <div class="col-8">
            <h5 class="pt-2">
              <a class="text-decoration-none" href="/members/<%= members[i].id %>">
                <%= members[i].username %>
              </a>
            </h5>
          </div>
        </div>
      </div>
    <% }; %>
    </div>

<%- include('../footer.ejs') %>
