<%- include('../header.ejs') %>

  <%- include ('../partials/page-title.ejs', { title : member.username }) %>

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <img class="member-avatar" src="https://cdn.discordapp.com/avatars/<%= member._id %>/<%= member.avatar %>.webp?size=256" data-id="<%= member._id %>" onerror="missingMemberAvatar(this)">
    </div>
    <div class="col-sm-6 col-md-3">
      <br>
      <h5>Joined</h5>
      <p><%= new Date(member.joinedAt).toLocaleString('en-US', { dateStyle: "long" }) %></p>

      <h5>Submissions</h5>
      <p><%= member.photoCount %></p>
    </div>
    <div class="col-md-6">
    </div>
  </div>

  <% if (member.birdybuddy) { %>
  <div class="row">

  </div>
  <% } %>

    <%- include('../partials/spacer.ejs') %>

    <h3 class="mb-4">Recently Hatched</h3>

    <div class="row">
      <% for (var userpet of userpets) { %>
      <div class="col-md-3">
        <div class="card mb-4">
          <% if (userpet.birdypet) { %>
          <p></p>
          <a href="/birdypets/<%= userpet.id %>">
            <div class="lazy birdypet" data-bg="https://storage.googleapis.com/birdypets/<%= userpet.birdypet.species.order %>/<%= userpet.birdypet.species.family %>/<%= userpet.birdypet.species.scientificName %>/<%= userpet.birdypet.id %>.jpg"></div>
          </a>
          <h3 class="text-center"><a href="/birdypets/<%= userpet.id %>"><%= userpet.nickname ? userpet.nickname : userpet.birdypet.species.commonName %></a></h3>
          <h6 class="text-center"><%= userpet.birdypet.version %> <%= userpet.birdypet.label %></h6>
          <hr>
          <% } %>
          <p class="text-center"><small><em>Hatch Date:<br><%= new Date(userpet.hatchedAt).toLocaleString('en-US', { dateStyle: "long" }) %></em></small></p>
        </div>
      </div>
      <% } %>
    </div>

<%- include('../footer.ejs') %>
