<%- include('../header.ejs') %>

  <%- include ('../partials/page-title.ejs', { title : member.username }) %>

  <div class="row">
    <div class="col-sm-6 col-md-2 text-center mb-3">
      <img class="member-avatar" src="<%= member.avatar %>" data-id="<%= member.id %>" onerror="missingMemberAvatar(this)">
    </div>
    <div class="col-sm-6 col-md-4 text-center text-md-start mb-3">
      <h4>
        <% if (member.aviary <= 0) { %>
          Aspiring
        <% } else if (member.aviary < 10) { %>
          Beginner
        <% } else if (member.aviary < 100) { %>
          Novice
        <% } else if (member.aviary < 500) { %>
          Dedicated
        <% } else if (member.aviary < 1000) { %>
          Greater
        <% } else if (member.aviary < 5000) { %>
          Superb
        <% } else if (member.aviary < 10000) { %>
          Penultimate
        <% } else if (member.aviary > 10000) { %>
          Ultimate
        <% } %>

        <%= member.tier.name %>
      </h4>
      <p><%= (member.aviary * 1).toLocaleString("en-US") %> birds collected</p>

      <h5>Joined</h5>
      <p><%= new Date(member.joinedAt * 1).toLocaleString('en-US', { dateStyle: "long" }) %></p>
    </div>
    <div class="col-md-6 text-center  
text-md-end">
        <p><a href="/aviary/<%= member.id %>" class="btn btn-primary">🐦 View Aviary</a></p>
      <% if (member.hasWishlist && !member.settings.privacy?.includes('wishlist')) { %>
        <p><a href="/wishlist/<%= member.id %>" class="btn btn-primary">❤️ View Wishlist</a></p>
      <% } %>
      <% if (locals.loggedInUser && loggedInUser.id != member.id && !member.settings.privacy?.includes('gifts')) { %>
        <p><a href="/members/<%= member.id %>/gift" class="btn btn-primary">🎁 Send Gift</a></p>
      <% } %>
    </div>
  </div>

  <% if (member.birdyBuddy) { %>
  <div class="row">

  </div>

  <%- include('../partials/spacer.ejs') %>

  <h3 class="mb-4">Birdy Buddy</h3>

  <div class="row">
    <div class="col-md-6 text-center">
      <div class="birdybuddy mb-3">
        <img src="<%= member.birdyBuddy.image %>">
        <span class="message border border-1 border-secondary" style="display: none;"></span>
      </div>
    </div>
    <div class="col-md-6">
      <h4><a class="text-decoration-none" href="/birdypet/<%= member.birdyBuddy.id %>"><%= member.birdyBuddy.nickname ? member.birdyBuddy.nickname : member.birdyBuddy.species.commonName %></a></h4>

      <%- include('../partials/friendshipMeter.ejs', { friendship : member.birdyBuddy.friendship }) %>

      <div>
        <% if (member.birdyBuddy.description) { %>
        <div class="py-4 ps-4">
          <% for (var para of member.birdyBuddy.description.split("\r\n")) { %>
            <p><%= para %></p>
          <% } %>
        </div>
        <% } %>

        <% if (locals.loggedInUser && loggedInUser.bugs > 0) { %>
           <% if (member.birdyBuddy.friendship >= 100) { %>
             <p><em>You have <%= loggedInUser.bugs %> bug<%= loggedInUser.bugs != 1 ? "s" : "" %>, but <%= member.birdyBuddy.nickname ? member.birdyBuddy.nickname : member.birdyBuddy.species.commonName %> is full!</em></p>
           <% } else { %>
             <p><button id="feedBug" class="btn btn-primary" role="button" data-birdypet="<%= member.birdyBuddy.id %>">🐛 Feed a Bug (you have <span><%= loggedInUser.bugs %></span>)</button></p>
           <% } %>
        <% } %>
      </div>
    </div>
  </div>
  <% } %>

  <% if (member.flock) { %>
    <%- include('../partials/spacer.ejs'); %>

    <h4 class="mb-5"><%= member.flock.name %></h4>

    <div id="lazyLoader" class="row" data-endpoint="/api/aviary" data-params='{"member":"<%= member.id %>","flock":"<%= member.flock.id %>"}'></div>

    <%- include('../scripts/lazyloader.ejs') %>
  <% } %>

 <% if (member.birdyBuddy) { %>
  <script type="text/javascript">
    var message = $('.birdybuddy .message');

    $('#feedBug').on('click', function (event) {
      var button = this;

      if (!button.style.opacity) {
        button.style.opacity = .5;

        $.ajax({
          cache: false,
          url: `/api/nomnomnom`,
          method: 'POST',
          dataType: "json",
          contentType: 'application/json',
          data: JSON.stringify({
            memberpet: "<%= member.birdyBuddy.id %>"
          }),
          success: function(data) {
            if (!data.error) {
              message.text(data.response).show();
              button.childNodes[1].innerText = data.bugs;

              if (data.bugs == 0) {
                button.disabled = true;
              }
              else {
                button.style.opacity = null;
              }
            }
            else {
              button.innerText = data.error;
              button.disabled = true;
            }
          }
        });
      }
    });
  </script>
 <% } %>

<%- include('../footer.ejs') %>
