<%- include('../header.ejs') %>

  <%- include ('../partials/page-title.ejs', { title : member.username }) %>

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <img class="member-avatar" src="https://cdn.discordapp.com/avatars/<%= member._id %>/<%= member.avatar %>.webp?size=256" data-id="<%= member._id %>" onerror="missingMemberAvatar(this)">
    </div>
    <div class="col-sm-6 col-md-3">
      <br>
      <h5>Joined</h5>
      <p><%= new Date(member.joinedAt).toLocaleString('en-US', { dateStyle: "long" }) %></p>

      <% if (submissions > 0) { %>
      <h5>Submissions</h5>
      <p><%= submissions %> Photos</p>
      <% } %>

      <% if (birdypets > 0) { %>
      <h5>Aviary</h5>
      <p><a href="/birdypets/aviary/<%= member._id %>"><%= birdypets %> BirdyPets</a></p>
      <% } %>
    </div>
    <div class="col-md-6">
    </div>
  </div>

  <% if (member.birdybuddy) { %>
  <div class="row">

  </div>
  <% } %>

    <%- include('../partials/spacer.ejs') %>

    <% if (birdybuddy.birdypet) { %>
    <h3 class="mb-4">Birdy Buddy</h3>

    <div class="row">
      <div class="col-md-6 text-center">
        <img src="https://storage.googleapis.com/birdypets/<%= birdybuddy.birdypet.species.order %>/<%= birdybuddy.birdypet.species.family %>/<%= birdybuddy.birdypet.species.scientificName %>/<%= birdybuddy.birdypet.id %>.jpg">
      </div>
      <div class="col-md-6">
        <h4><a href="/birdypets/<%= birdybuddy.id %>"><%= birdybuddy.nickname ? birdybuddy.nickname : birdybuddy.birdypet.species.commonName %></a></h4>
        <div>
          <%- include('../partials/friendshipMeter.ejs', { friendship : birdybuddy.friendship }) %>
        </div>
      </div>
    </div>
    <% } %>

<%- include('../footer.ejs') %>
