<%- include('../header.ejs') %>

  <%- include ('../partials/page-title.ejs', { title : member.username }) %>

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <img class="member-avatar" src="https://cdn.discordapp.com/avatars/<%= member._id %>/<%= member.avatar %>.webp?size=256" data-id="<%= member._id %>" onerror="missingMemberAvatar(this)">
    </div>
    <div class="col-sm-6 col-md-3">
      <br>
      <h5>Joined</h5>
      <p><%= new Date(member.joinedAt).toLocaleString('en-US', { dateStyle: "long" }) %></p>

      <% if (birdypets > 0) { %>
      <h5>Aviary</h5>
      <p><a href="/aviary/<%= member._id %>"><%= birdypets %> BirdyPets</a></p>
      <% } %>
    </div>
    <div class="col-md-6">
    </div>
  </div>

  <% if (member.birdybuddy) { %>
  <div class="row">

  </div>
  <% } %>

  <% if (birdybuddy.birdypet) { %>
    <%- include('../partials/spacer.ejs') %>

    <h3 class="mb-4">Birdy Buddy</h3>

    <div class="row">
      <div class="col-md-6 text-center">
        <img src="https://storage.googleapis.com/birdypets/<%= birdybuddy.birdypet.species.order %>/<%= birdybuddy.birdypet.species.family %>/<%= birdybuddy.birdypet.species.scientificName %>/<%= birdybuddy.birdypet.id %>.jpg">
      </div>
      <div class="col-md-6">
        <h4><a href="/birdypet/<%= birdybuddy.id %>"><%= birdybuddy.nickname ? birdybuddy.nickname : birdybuddy.birdypet.species.commonName %></a></h4>
        <div>
          <%- include('../partials/friendshipMeter.ejs', { friendship : birdybuddy.friendship }) %>
        </div>
      </div>
    </div>
  <% } %>

  <% if (flock) { %>
    <%- include('../partials/spacer.ejs'); %>

    <h4 class="mb-5"><%= flock.name %></h4>

    <div class="row">
      <% for (var userpet of flockpets) { %>
      <div class="col-md-3">
        <div class="pb-4">
          <div class="card">
            <% if (userpet.birdypet) { %>
            <p></p>
            <a href="/birdypet/<%= userpet._id %>">
              <div class="lazy birdypet" data-bg="https://storage.googleapis.com/birdypets/<%= userpet.birdypet.species.order %>/<%= userpet.birdypet.species.family %>/<%= userpet.birdypet.species.scientificName %>/<%= userpet.birdypet.id %>.jpg"></div>
            </a>
            <h3 class="text-center"><a href="/birdypet/<%= userpet.id %>"><%= userpet.nickname ? userpet.nickname : userpet.birdypet.species.commonName %></a></h3>
            <h6 class="text-center"><%= userpet.nickname ? userpet.birdypet.species.commonName : (userpet.birdypet.label + " " + userpet.birdypet.version) %></h6>
            <% } %>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  <% } %>

<%- include('../footer.ejs') %>
