<%- include('../header.ejs') %>

  <%- include ('../partials/page-title.ejs', { title : "Account Settings" }) %>

  <div class="row">
    <div class="col-12 col-md-6">
      <h3>
        Theme
      </h3>

      <div class="p-3 ps-0 m-3 mb-5 ms-0">
       <% for (var style of [{
          id: 'light',
          label: 'Light Swan',
          icon: '🦢', 
        }, {
          id: 'dark',
          label: 'Dark Duck',
          icon: '🦆'
        }, {
          id: 'darker',
          label: 'Night Owl',
          icon: '🦉'
        }, {
          id: 'chartreuse',
          label: 'Death by Chartreuse (use at your own risk)',
          icon: '🦚'
        }]) { %>
        <div class="form-check mb-3">
          <input type="radio" class="form-input-check" name="theme_style" value="<%= style.id %>" id="theme_style-<%= style.id %>" autocomplete="off" <%= member.settings.theme_style == style.id ? "checked" : "" %>>
          <label class="form-check-label ms-1 d-inline-block" for="theme_style-<%= style.id %>"><%= style.icon %> <%= style.label %></label>
        </div>
       <% } %>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <h3>
        General
      </h3>

      <div class="p-3 m-3 mb-5 d-inline">
        <div class="form-check form-switch mb-3">
          <span>
            <input type="checkbox" class="form-check-input" name="general_updateWishlist" value="1" id="general_updateWishlist" <%= member.settings.general_updateWishlist ? "checked" : "" %>>
          </span>
          <label class="form-check-label" for="general_updateWishlist">Remove newly obtained birds from my wishlist automatically</label>
        </div>

        <div class="form-check form-switch mb-3">
          <span>
            <input type="checkbox" class="form-check-input" name="general_removeCompleted" value="1" id="general_removeCompleted" <%= member.settings.general_removeCompleted ? "checked" : "" %>>
          </span>
          <label class="form-check-label" for="general_removeCompleted">Remove completed eggs from the hatching pool</label>
        </div>

        <div class="form-check form-switch mb-3">
          <span>
            <input type="checkbox" class="form-check-input" name="general_removeEvent" value="1" id="general_removeEvent" <%= member.settings.general_removeEvent ? "checked" : "" %>>
          </span>
          <label class="form-check-label" for="general_removeEvent">Remove special event variants from the hatching pool</label>
        </div>

        <div class="row mb-3">
          <div class="col-12 col-md-3 text-md-end">
            <label for="username">
              Display Name:
            </label>
          </div>
          <div class="col-12 col-md-9">
            <input type="text" name="username" id="username" class="form-control d-inline-block" data-endpoint="member" value="<%= member.username %>">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12 col-md-3 text-md-end">
            <label for="avatar">
              Avatar:
            </label>
          </div>
          <div class="col-12 col-md-9">
            <select type="text" name="avatar" id="avatar" class="form-select d-inline-block">
             <% for (let auth of [
                  { id: 'birdatar', label : 'Birdatar (customization coming soon!)' },
                  { id: 'discord', label : 'Discord' },
                  { id: 'google', label : 'Google' }
                ]) {
                  let connected = auth.id == "birdatar" || member.auth.find((tmp) => tmp.provider == auth.id);
             %>
               <option value="<%= auth.id %>" <%= member.settings.avatar == auth.id ? 'selected' : ''  %> <%= !connected ? 'disabled' : '' %>>
                 <%= auth.label %>
                 <%= !connected ? '(not connected)' : '' %>
               </option>
             <% } %>
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12 col-md-3 text-md-end">
            <label for="rank">
              Title:
            </label>
          </div>
          <div class="col-7 col-md-5">
            <select name="rank" id="rank" class="form-select">
             <% for (let rank of member.ranks) { %>
               <option value="<%= rank.id %>" <%= rank.selected ? 'selected' : '' %> <%= rank.disabled ? 'disabled' : '' %>>
                 <%= rank.label %>
               </option>
             <% } %>
            </select>
          </div>
          <div class="col-5 col-md-4">
            <select name="title" id="title" class="form-select">
             <% for (let title of member.titles) { %>
              <option value="<%= title.id %>" <%= title.id == member.settings.title ? "selected" : "" %>><%= title.name %></option>
             <% } %>
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12 col-md-3 text-md-end">
            <label for="rank">
              Birthday:
              <div class="small">
                <small>
                  Get a free BirdyPet of your choice on your birthday!
                </small>
              </div>
            </label>
          </div>
          <div class="col-5 col-md-3">
            <select name="birthday_date" id="birthday_date" class="form-select">
              <option value="" disabled <%= member.settings.birthday_date == null ? '' : 'selected' %>>Day</option>
             <% for (let i = 1; i < 31; i++) { %>
              <option <%= member.settings.birthday_date == i ? 'selected' : '' %>><%= i %></option>
             <% } %>
            </select>
          </div>
          <div class="col-7 col-md-6">
            <select name="birthday_month" id="birthday_month" class="form-select">
              <option value="" disabled <%= member.settings.birthday_month == null ? '' : 'selected' %>>Month</option>
             <% for (let i = 0, months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; i < 12; i++) { %>
              <option <%= member.settings.birthday_month == i ? 'selected' : '' %> value="<%= i %>"><%= months[i] %></option>
             <% } %>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <h3>
        Privacy
      </h3>

      <div class="p-3 m-3 mb-5 d-inline">
       <% if (member.serverMember) { %>
        <div class="form-check form-switch mb-3">
          <span>
            <input type="checkbox" class="form-check-input" name="privacy_activity" value="1" id="privacy_activity" <%= member.settings.privacy_activity ? "checked" : "" %>>
          </span>
          <label class="form-check-label" for="privacy_activity">Don't post my on-site activity to the Discord server</label>
        </div>
       <% } %>


        <h6 class="mt-5 mb-3">Don't allow other members to...</h6>
        <div class="ms-4">
         <% for (let privacy of [
           { id : 'profile',  label : 'see my profile'},
           { id : 'exchange', label : 'send me exchange offers' },
           { id : 'gifts',    label : 'send me gifts' },
           { id : 'wishlist', label : 'see my wishlist' }
          ]) {
         %>
          <div class="form-check form-switch mb-3">
            <span>
              <input type="checkbox" class="form-check-input" name="privacy_<%= privacy.id %>" value="1" id="privacy_<%= privacy.id %>" <%= member.settings[`privacy_${privacy.id}`] ? "checked" : "" %>>
            </span>
            <label class="form-check-label" for="privacy_<%= privacy.id %>"><%= privacy.label %></label>
          </div>
         <% } %>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <h3>Account</h3>
      <div id="accounts" class="ms-4">
       <% for (let auth of [
            { id: 'discord', label : 'Discord', endpoint: `https://discord.com/api/oauth2/authorize?client_id=885956624777351199&redirect_uri=${encodeURIComponent(redirectUri)}&response_type=code&scope=identify` },
            { id: 'google', label : 'Google' }
          ]) {
       %>
         <div class="row mb-3">
           <div class="col-3 text-end py-2"><%= auth.label %></div>
           <div class="col-9">
            <% if (member.auth.find((tmp) => tmp.provider == auth.id)) { %>
             <% if (member.auth.length == 1) { %>
              <a class="btn bg-dark me-4 disabled"><em>(please connect another provider to disconnect this one)</em></a>
             <% } else { %>
              <a class="btn bg-dark me-4" data-id="<%= auth.id %>" data-action="disconnect" role="button">Disconnect</a>
             <% } %>
            <% } else if (auth.id == 'google') { %>
              <div class="btn bg-success" data-id="google" data-action="connect">
                <div id="g_id_onload"
                   data-client_id="848686814409-9su97mlqeq5qr0685amalf5ke5hsd4r4.apps.googleusercontent.com"
                   data-callback="googleLogin"
                   data-auto_prompt="false">
                </div>
                <div class="g_id_signin d-inline-block align-middle me-2"
                   data-type="icon"
                   data-size="medium"
                   data-theme="outline">
                </div>
                Connect
              </div>
            <% } else { %>
              <a class="btn bg-success" data-id="<%= auth.id %>" data-action="connect" href="<%= auth.endpoint %>">
                <img class="bg-white rounded p-1 me-2" src="/img/providers/<%= auth.id %>.png" width="32px">
                Connect
              </a>
            <% } %>
           </div>
         </div>
       <% } %>
      </div>

      <script src="https://accounts.google.com/gsi/client"></script>
      <script>
        function googleLogin (response) {
          window.location.href = `/settings/connect?credential=${response.credential}`;
        }
      </script>

      <div class="pt-5 text-end">
        <button id="deleteAccount" class="btn btn-danger">Delete Account</button>
      </div>
    </div>
  </div>


  <script type="text/javascript">
    $(document).ready( function () {
      $('input, select').on('change', function (e) {
        var input = this;

        if (!input.parentNode.classList.contains('loadingData')) {
          var action = 'PUT';
          var key = input.name;
          var value = input.value;
          var data = {};

          input.parentNode.classList.add('loadingData');

          switch (input.type) {
            case 'radio':
            case 'checkbox':
              action = input.checked ? 'PUT' : 'DELETE';

              data.setting = key;
              data.value = value;
              break;
            case 'select-one':
              value = input.options[input.selectedIndex].value;
              action = value ? 'PUT' : 'DELETE';

              data.setting = key;
              data.value = value;
              break;
            case 'text':
              data[key] = input.value;
              break;
          }

          API.call(input.getAttribute('data-endpoint') || 'settings', action, data, function (response) {
            if (key.startsWith('theme') || key == 'avatar') {
              window.location.reload();
            }

            input.parentNode.classList.remove('loadingData');
          });
        }
      });

      $('#accounts').on('click', '.btn', function (e) {
        var button = this;
        var provider = button.getAttribute('data-id');
        var action = button.getAttribute('data-action');

        if (!button.classList.contains('disabled')) {
          switch (action) {
            case 'disconnect':
              button.classList.add('disabled');
              button.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';
              window.location.href = `/settings/disconnect?provider=${provider}`;
              break;
            case 'connect':
              if (provider == 'google') {
                google.accounts.id.prompt();
              }
              break;
          }
        }
      });

      $('#deleteAccount').on('click', function (e) {
        var rusure = confirm('Are you sure you want to delete your account? This is permanent and cannot be undone.');

        if (rusure) {
          var rurlysure = confirm('Are you REALLY sure?  This is PERMANENT.');

          if (rurlysure) {
            API.call('member', 'DELETE', {}, function () {
              window.location.href = '/logout';
            });
          }
        }
      });
    });
  </script>

<%- include('../footer.ejs') %>
