<%- include('../header.ejs') %>

  <%- include ('../partials/page-title.ejs', { title : "Account Settings" }) %>

  <div class="row">
    <div class="col-12 col-md-6">
      <h3>
        Theme
      </h3>

      <div class="p-3 ps-0 m-3 mb-5 ms-0">
       <% for (var style of [{
          id: 'light',
          label: 'Light Swan',
          icon: '🦢', 
        }, {
          id: 'dark',
          label: 'Dark Duck',
          icon: '🦆'
        }, {
          id: 'darker',
          label: 'Night Owl',
          icon: '🦉'
        }, {
          id: 'chartreuse',
          label: 'Death by Chartreuse (use at your own risk)',
          icon: '🦚'
        }]) { %>
        <div class="form-check mb-3">
          <input type="radio" class="form-input-check" name="theme_style" value="<%= style.id %>" id="theme_style-<%= style.id %>" autocomplete="off" <%= loggedInUser.settings.theme_style == style.id ? "checked" : "" %>>
          <label class="form-check-label" for="theme_style-<%= style.id %>"><%= style.icon %> <%= style.label %></label>
        </div>
       <% } %>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <h3>
        General
      </h3>

      <div class="p-3 m-3 mb-5 d-inline">
        <div class="form-inline">
          Display the title 
          <span>
            <select name="rank" id="rank" class="form-select d-inline-block w-auto">
             <% for (let rank of member.ranks) { %>
               <option value="<%= rank.id %>" <%= rank.selected ? 'selected' : '' %> <%= rank.disabled ? 'disabled' : '' %>>
                 <%= rank.label %>
               </option>
             <% } %>
            </select>
          </span>
          <span>
            <select name="title" id="title" class="form-select d-inline-block w-auto">
             <% for (let tier of member.tiers) { %>
              <option value="<%= tier.id %>" <%= tier.id == loggedInUser.settings.title ? "selected" : "" %>><%= tier.name %></option>
             <% } %>
            </select>
          </span>
          on my profile
        </div>

        <div class="form-check form-switch mt-3 mb-3">
          <span>
            <input type="checkbox" class="form-check-input" name="general_updateWishlist" value="1" id="general_updateWishlist" <%= loggedInUser.settings.general_updateWishlist ? "checked" : "" %>>
          </span>
          <label class="form-check-label" for="general_updateWishlist">Remove newly obtained birds from my wishlist automatically</label>
        </div>

        <div class="form-check form-switch mb-3">
          <span>
            <input type="checkbox" class="form-check-input" name="general_removeCompleted" value="1" id="general_removeCompleted" <%= loggedInUser.settings.general_removeCompleted ? "checked" : "" %>>
          </span>
          <label class="form-check-label" for="general_removeCompleted">Remove completed eggs from the hatching pool</label>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <h3>
        Privacy
      </h3>

      <div class="p-3 m-3 mb-5 d-inline">
       <% if (loggedInUser.serverMember) { %>
        <div class="form-check form-switch mb-3">
          <span>
            <input type="checkbox" class="form-check-input" name="privacy_activity" value="1" id="privacy_activity" <%= loggedInUser.settings.privacy_activity ? "checked" : "" %>>
          </span>
          <label class="form-check-label" for="privacy_activity">Don't post my on-site activity to the Discord server</label>
        </div>
       <% } %>


        <h6 class="mb-3">Don't allow other members to...</h6>
        <div class="ms-4">
         <% for (let privacy of [
           { id : 'profile',  label : 'see my profile'},
           { id : 'exchange', label : 'send me exchange offers' },
           { id : 'gifts',    label : 'send me gifts' },
           { id : 'wishlist', label : 'see my wishlist' }
          ]) {
         %>
          <div class="form-check form-switch mb-3">
            <span>
              <input type="checkbox" class="form-check-input" name="privacy_<%= privacy.id %>" value="1" id="privacy_<%= privacy.id %>" <%= loggedInUser.settings[`privacy_${privacy.id}`] ? "checked" : "" %>>
            </span>
            <label class="form-check-label" for="privacy_<%= privacy.id %>"><%= privacy.label %></label>
          </div>
         <% } %>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <h3>Account</h3>
      <div id="accounts" class="ms-4">
       <% for (let auth of [
            { id: 'discord', label : 'Discord', endpoint: `https://discord.com/api/oauth2/authorize?client_id=885956624777351199&redirect_uri=${encodeURIComponent(redirectUri)}&response_type=code&scope=identify` },
            { id: 'google', label : 'Google' }
          ]) {
       %>
         <div class="row mb-3">
           <div class="col-3 text-end py-2"><%= auth.label %></div>
           <div class="col-9">
            <% if (member.auth.includes(auth.id)) { %>
             <% if (member.auth.length == 1) { %>
              <em>(please connect another provider to disconnect this one)</em>
             <% } else { %>
              <a class="btn bg-dark" data-id="<%= auth.id %>" role="button">Disconnect</a>
             <% } %>
            <% } else if (auth.id == 'google') { %>
              <div class="btn bg-success" data-id="google">
                <div id="g_id_onload"
                   data-client_id="848686814409-9su97mlqeq5qr0685amalf5ke5hsd4r4.apps.googleusercontent.com"
                   data-callback="googleLogin"
                   data-auto_prompt="false">
                </div>
                <div class="g_id_signin d-inline-block align-middle me-2"
                   data-type="icon"
                   data-size="medium"
                   data-theme="outline">
                </div>
                Connect
              </div>
            <% } else { %>
              <a class="btn bg-success" data-id="<%= auth.id %>" href="<%= auth.endpoint %>">Connect</a>
            <% } %>
           </div>
         </div>
       <% } %>
      </div>

      <script src="https://accounts.google.com/gsi/client"></script>
      <script>
        function googleLogin (response) {
          window.location.href = `/settings/connect?credential=${response.credential}`;
        }

        $(document).ready(function () {
          $('#accounts').on('click', '.btn', function (e) {
            var button = this;
            var provider = button.getAttribute('data-id');
            var action = button.classList.contains('bg-dark') ? 'disconnect' : 'connect';

            if (action == 'disconnect') {
              window.location.href = `/settings/disconnect?provider=${provider}`;
            }
            else {
              switch (provider) {
                case 'google':
                  google.accounts.id.prompt();
                  break;
              }
            }
          });
        });
      </script>

      <div class="text-end">
        <button id="deleteAccount" class="btn btn-danger">Delete Account</button>
      </div>
    </div>
  </div>


  <script type="text/javascript">
    $(document).ready( function () {
      $('input, select').on('change', function (e) {
        var input = this;

        if (!input.parentNode.classList.contains('loadingData')) {
          var key = input.name;
          var value = input.value;

          input.parentNode.classList.add('loadingData');

          switch (input.type) {
            case 'radio':
            case 'checkbox':
              var value = input.value;
              var action = input.checked ? "PUT" : "DELETE";
              break;
            case 'select-one':
              var value = input.options[input.selectedIndex].value;
              var action = value ? "PUT" : "DELETE";
              break;
          }

          $.ajax({
            cache: false,
            url: '/api/settings',
            data: JSON.stringify({
              setting: key,
              value: value
            }),
            dataType: 'json',
            contentType: 'application/json',
            method: action,
            success: function(data) {
              if (key.startsWith('theme')) {
                window.location.reload();
              }

              input.parentNode.classList.remove('loadingData');
            }
          });
        }
      });

      $('#deleteAccount').on('click', function (e) {
        var rusure = confirm('Are you sure you want to delete your account? This is permanent and cannot be undone.');

        if (rusure) {
          API.call('member', 'DELETE', {}, function () {
            window.location.href = '/logout';
          });
        }
      });
    });
  </script>

<%- include('../footer.ejs') %>
