<%- include('../header.ejs') %>

  <%- include ('../partials/page-title.ejs', { title : "Account Settings" }) %>

  <div class="row">
    <div class="col-12 col-md-6">
      <h3>
        Theme
      </h3>

      <div class="p-3 ps-0 m-3 mb-5 ms-0">
       <% for (var style of [{
          id: 'light',
          label: 'Light Swan',
          icon: '🦢', 
        }, {
          id: 'dark',
          label: 'Dark Duck',
          icon: '🦆'
        }, {
          id: 'darker',
          label: 'Night Owl',
          icon: '🦉'
        }, {
          id: 'chartreuse',
          label: 'Death by Chartreuse (use at your own risk)',
          icon: '🦚'
        }]) { %>
        <div class="form-check mb-3">
          <input type="radio" class="form-input-check" name="theme_style" value="<%= style.id %>" id="theme_style-<%= style.id %>" autocomplete="off" <%= loggedInUser.settings.theme_style == style.id ? "checked" : "" %>>
          <label class="form-check-label" for="theme_style-<%= style.id %>"><%= style.icon %> <%= style.label %></label>
        </div>
       <% } %>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <h3>
        General
      </h3>

      <div class="p-3 m-3 mb-5 d-inline">
        <div class="form-inline">
          Display the title 
          <span>
            <select name="rank" id="rank" class="form-select d-inline-block w-auto">
             <% for (let rank of member.ranks) { %>
               <option value="<%= rank.id %>" <%= rank.selected ? 'selected' : '' %> <%= rank.disabled ? 'disabled' : '' %>>
                 <%= rank.label %>
               </option>
             <% } %>
            </select>
          </span>
          <span>
            <select name="title" id="title" class="form-select d-inline-block w-auto">
             <% for (let tier of tiers) { %>
              <option value="<%= tier.id %>" <%= tier.id == loggedInUser.settings.title ? "selected" : "" %>><%= tier.name %></option>
             <% } %>
            </select>
          </span>
          on my profile
        </div>

        <div class="form-check form-switch mt-3 mb-3">
          <span>
            <input type="checkbox" class="form-check-input" name="general_updateWishlist" value="1" id="general_updateWishlist" <%= loggedInUser.settings.general_updateWishlist ? "checked" : "" %>>
          </span>
          <label class="form-check-label" for="general_updateWishlist">Remove newly obtained birds from my wishlist automatically</label>
        </div>

        <div class="form-check form-switch mb-3">
          <span>
            <input type="checkbox" class="form-check-input" name="general_removeCompleted" value="1" id="general_removeCompleted" <%= loggedInUser.settings.general_removeCompleted ? "checked" : "" %>>
          </span>
          <label class="form-check-label" for="general_removeCompleted">Remove completed eggs from the hatching pool</label>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <h3>
        Privacy
      </h3>

      <div class="p-3 m-3 mb-5 d-inline">
       <% if (loggedInUser.serverMember) { %>
        <div class="form-check form-switch mb-3">
          <span>
            <input type="checkbox" class="form-check-input" name="privacy_activity" value="1" id="privacy_activity" <%= loggedInUser.settings.privacy_activity ? "checked" : "" %>>
          </span>
          <label class="form-check-label" for="privacy_activity">Don't post my on-site activity to the Discord server</label>
        </div>
       <% } %>

        <div class="form-check form-switch mb-3">
          <span>
            <input type="checkbox" class="form-check-input" name="privacy_profile" value="1" id="privacy_profile" <%= loggedInUser.settings.privacy_profile ? "checked" : "" %>>
          </span>
          <label class="form-check-label" for="privacy_profile">Don't allow other members to see my profile</label>
        </div>

        <div class="form-check form-switch mb-3">
          <span>
            <input type="checkbox" class="form-check-input" name="privacy_exchange" value="1" id="privacy_exchange" <%= loggedInUser.settings.privacy_exchange ? "checked" : "" %>>
          </span>
          <label class="form-check-label" for="privacy_exchanges">Don't allow other members to send me exchange offers</label>
        </div>

        <div class="form-check form-switch mb-3">
          <span>
            <input type="checkbox" class="form-check-input" name="privacy_gifts" value="1" id="privacy_gifts" <%= loggedInUser.settings.privacy_gifts ? "checked" : "" %>>
          </span>
          <label class="form-check-label" for="privacy_gifts">Don't allow other members to send me gifts</label>
        </div>

        <div class="form-check form-switch mb-3">
          <span>
            <input type="checkbox" class="form-check-input" name="privacy_wishlist" value="1" id="privacy_wishlist" <%= loggedInUser.settings.privacy_wishlist ? "checked" : "" %>>
          </span>
          <label class="form-check-label" for="privacy_wishlist">Don't allow other members to see my wishlist</label>
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript">
    $(document).ready( function () {
      $('input, select').on('change', function (e) {
        var input = this;

        if (!input.parentNode.classList.contains('loadingData')) {
          var key = input.name;
          var value = input.value;

          input.parentNode.classList.add('loadingData');

          switch (input.type) {
            case 'radio':
            case 'checkbox':
              var value = input.value;
              var action = input.checked ? "PUT" : "DELETE";
              break;
            case 'select-one':
              var value = input.options[input.selectedIndex].value;
              var action = value ? "PUT" : "DELETE";
              break;
          }

          $.ajax({
            cache: false,
            url: '/api/settings',
            data: JSON.stringify({
              setting: key,
              value: value
            }),
            dataType: 'json',
            contentType: 'application/json',
            method: action,
            success: function(data) {
              if (key.startsWith('theme')) {
                window.location.reload();
              }

              input.parentNode.classList.remove('loadingData');
            }
          });
        }
      });
    });
  </script>

<%- include('../footer.ejs') %>
