<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', {
          title : {
            url: `/members/${member.id}`,
            text: member.username,
            append: "'s Wishlist"
          }
    }) %>

    <%- include('../partials/pagination.ejs') %>

    <div id="lazyLoader" class="row g-0" data-endpoint="/api/wishlist" data-params='{"id":"<%= member.id  %>"}'></div>

    <%- include('../partials/pagination.ejs') %>

    <%- include('../scripts/lazyloader.ejs', { template: '../templates/wishlist.ejs', paginate: currentPage }) %>

<%- include('../footer.ejs') %>
