<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', {
          title : {
            url: `/members/${member._id}`,
            prepend: `<img class="member-avatar avatar-sm" src="${member.avatar}" data-id="${member._id}" onerror="missingMemberAvatar(this)"> `,
            text: member.username,
            append: "'s Wishlist"
          }
    }) %>

    <%- include('../partials/filter-search-sort.ejs', { includeAllFamilies : true } ) %>

    <%- include('../partials/pagination.ejs') %>

    <div id="lazyLoader" class="row" data-endpoint="/api/wishlist/<%= member._id %>"></div>

    <%- include('../partials/pagination.ejs') %>

    <%- include('../scripts/lazyloader.ejs', { template: '../templates/wishlist.ejs', paginate: currentPage }) %>

<script type="text/javascript">

<% if (locals.loggedInUser && loggedInUser.id == member._id) { %>
  $('#lazyLoader').on('click', '.wishlist-heart', function (event) {
    var button = event.target;

      if (!button.style.opacity) { 
        var action = button.getAttribute('data-action');
        button.style.opacity = .5;

        $.ajax({
          url: `/api/wishlist/${action}/${button.getAttribute('data-id')}`,
          method: 'post',
          dataType: "json",
          success: function(data) {
            button.style.opacity = null;

            if (action == "add") {
              button.innerHTML = "❤️";
              button.setAttribute('data-action', 'remove');
            }
            else {
              button.innerHTML = "🤍";
              button.setAttribute('data-action', 'add');
            }
          }
        });
      }

  });
<% } %>
</script>

<%- include('../footer.ejs') %>
