    <% var allFamilies = JSON.parse(include('../../public/data/families.json')); %>

    <div class="dropdown float-end">
      <button id="dropdownFilters" class="btn btn-secondary" data-bs-toggle="dropdown" aria-expanded="false">
        🔍
      </button>
      <div id="controls" class="dropdown-menu dropdown-menu-dark shadow" aria-labelledby="dropdownFilters">
        <div class="px-4 py-3" style="width: 325px;">
          <h6>Search</h6>
          <input id="search" type="text" name="search" class="form-control">

        <% if (locals.flocks && flocks.length > 0) { %>
          <h6 class="mt-3">Flocks</h6>
          <select id="flock" class="form-select">
            <option value="">[ALL]</option>
            <% if (locals.loggedInUser && member.id == loggedInUser.id) { %>
              <option value="NONE">[FLOCKLESS]</option>
            <% } %>
            <% for (var flock of flocks) { %>
              <option value="<%= flock.id %>" <%= locals.selectedFlock && selectedFlock == flock.id ? "selected" : "" %>>
                <%= flock.name %>
              </option>
            <% } %>
          </select>
        <% } %>

        <% if (locals.families) { %>
          <h6 class="mt-3">Family</h6>
          <select id="family" class="form-select">
            <% if (locals.includeAllFamilies) { %>
              <option value="">[ALL]</option>
            <% } %>
            <% for (var family of allFamilies) { %>
             <% if (families.includes(family.value)) { %>
              <option value="<%= family.value %>" <%= locals.selectedFamily && selectedFamily.toLowerCase() == family.value.toLowerCase() ? "selected" : "" %>>
                <%= family.label %>
              </option>
             <% } %>
            <% } %>
          </select>
        <% } %>
        </div>
      </div>
    </div>
