    <div id="controls" class="row">
      <div class="col-md-6 mt-4">
      <% if (locals.flocks && flocks.length > 0) { %>
        <div class="mb-4">
          <h4>Flock</h4>
          <select id="flocks" class="form-select">
            <option value="all">[ALL]</option>
            <% for (var flock of flocks) { %>
              <option value="<%= flock._id %>" <%= locals.selectedFlock && selectedFlock == flock._id ? "selected" : "" %>>
                <%= flock.name %>
              </option>
            <% } %>
            <% if (locals.loggedInUser && member._id == loggedInUser.id) { %>
              <option value="flockless">[FLOCKLESS]</option>
              <option value="nonickname">[NO NICKNAME]</option>
            <% } %>
          </select>
        </div>
      <% } %>
        <div>
          <h4>Family</h4>
          <select id="family" class="form-select">
            <% if (locals.includeAllFamily) { %>
              <option value="all">[ALL]</option>
            <% } else { %>
              <option value=""></option>
            <% } %>
            <% for (var family of families) { %>
              <option value="<%= family.value.toLowerCase() %>" <%= locals.selectedFamily && selectedFamily.toLowerCase() == family.value.toLowerCase() ? "selected" : "" %>>
                <%= family.label %>
              </option>
            <% } %>
          </select>
        </div>
      </div>

      <div class="col-md-6 mt-4">
        <div class="mb-4">
          <h4>Search</h4>
          <input id="search" type="text" name="search" class="form-control">
        </div>

        <% if (locals.sortFields) { %>
        <div>
          <h4>Sort</h4>
          <select id="sortList" class="form-select">
            <% for (var sort of sortFields) { %>
              <option value="<%= sort.value %>" data-dir="<%= sort.dir || "asc" %>">
                <%= sort.label %>
              </option>
            <% } %>
          </select>
        </div>
        <% } %>
      </div>
    </div>
