<div class="ms-4">
 <% if (locals.breadcrumb) { %>
  <h6>
 <% if (typeof breadcrumb == "object") { %>
    <%- breadcrumb.prepend %><a <%- breadcrumb.url ? `href="${breadcrumb.url}"` : "" %>><%= breadcrumb.text %></a><%- breadcrumb.append %>
  <% } else { %>
    <%= breadcrumb %>
  <% } %>
  </h6>
 <% } %>

  <h1 class="mb-4 pb-3">
   <% if (locals.title) { %>
    <% if (typeof title == "object") { %>
     <%- title.prepend %><a <%- title.url ? `href="${title.url}"` : "" %>><%= title.text %></a><%- title.append %>
    <% } else { %>
     <%= title %>
    <% } %>
   <% } %>
  </h1>
</div>
