<% if (locals.breadcrumb) { %>
  <h6>
  <% if (breadcrumb.url) { %>
    <% if (breadcrumb.prepend) { %>
      <%- breadcrumb.prepend %>
    <% } %>
    <a href="<%= breadcrumb.url %>">
      <%= breadcrumb.text %>
    </a>
  <% } else { %>
    <%= breadcrumb.text %>
  <% } %>
  </h6>
<% } %>

<h1 class="mb-4 pb-3 border-bottom border-2 border-dark text-capitalize">
 <% try { if (typeof title === 'object') { %>
    <%- title.prepend %><a <%= title.url ? `href="${title.url}"` : "" %>><%= title.text %></a><%- title.append %>
  <% } else { %>
    <%= title %>
  <% } } catch (err) { %>
    <%= title %>
  <% } %>
</h1>
