<div class="page-title mt-2 mb-5">
  <h1 class="mx-4">
   <% if (locals.title) { %>
    <% if (typeof title == "object") { %>
      <%- title.prepend %><%- title.url ? `<a href="${title.url}">` : "" %><%= title.text %><%- title.url ? '</a>' : '' %><%- title.append %>
    <% } else { %>
      <%= title %>
    <% } %>
   <% } %>
  </h1>

 <% if (locals.subtitle) { %>
  <h6 class="text-center">
    <em><%= subtitle %></em>
  </h6>
 <% } %>
</div>
