<% var image = locals.full ? photo.image.full : photo.image.thumbnail %>

<% if (locals.gallery) { %>
  <a class="glightbox"
     <% if (image.startsWith('https://images.unsplash.com')) { %>
       href="<%= photo.image.full %>"
     <% } else { %>
       href="<%= photo.image.full.replace(/^(http[s]?:)?\/\//, "https://storage.googleapis.com/squawkoverflow/") %>"
     <% } %>
     data-id="<%= photo.id %>"
     data-title="<%= photo.species.commonName %> (<%= photo.species.scientificName %>)"
     data-description="&copy; <a href='<%= photo.attribution[1] %>' target='_blank'><%= photo.attribution[0] %></a> / <a href='<%= photo.source %>' target='_blank'><%= photo.source.replace(/^(http[s])?:\/\//, '').split('/').shift() %></a>"
     data-type="image">
<% } %>

  <img
    class="<%= locals.classes ? classes : "" %>"
    <% if (image.startsWith('https://images.unsplash.com')) { %>
      src="<%= image %>"
    <% } else { %>
      src="<%= image.replace(/^(http[s]?:)?\/\//, "https://storage.googleapis.com/squawkoverflow/").replace('?', '/') %>"
    <% } %>
    data-original="<%= image %>"
    alt="<%= photo.species.commonName %> © <%= photo.attribution[0] %>"
  />

<% if (locals.gallery) { %>
  </a>
<% } %>
