<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', {
        title : page == "exchange/offer" ? `Offer Birds to ${exchange.member.username}` : `Request Birds from ${exchange.member.username}`,
        subtitle: `<a href="/exchange/${exchange.id}" class="btn btn-secondary">Return to Offer</a>`
      }
    )
  %>

  <%- include('../partials/pagination.ejs') %>

  <div id="lazyLoader" class="row g-0" data-endpoint="/api/aviary" data-params='{"member":"<%= page == "exchange/offer" ? loggedInUser.id : exchange.member.id %>","memberData":"<%= page == "exchange/offer" ? exchange.member.id : loggedInUser.id %>","exchangeData":"<%= exchange.id %>"}'></div>

  <%- include('../partials/pagination.ejs') %>

  <%- include('../scripts/lazyloader.ejs', { template: '../templates/exchange.ejs', paginate: currentPage }) %>

  <script type="text/javascript">
    $('#lazyLoader').on('click', '.card', function (e) {
      if (e.target.nodeName != 'A') {
        var image = e.currentTarget.querySelector('.birdypet');
        var container = image.parentNode.parentNode;

        if (!image.style.opacity) {
          image.style.opacity = .5;
          container.classList.add('loadingData');

          $.ajax({
            cache: false,
            url: '/api/exchanges',
            data: JSON.stringify({
              birdypet: image.getAttribute('data-id'),
              exchange: '<%= exchange.id %>'
            }),
            dataType: 'json',
            method: 'POST',
            contentType: 'application/json',
            success: function(data) {
              image.style.opacity = null;
              image.innerHTML = "";

              container.classList.toggle('border-primary');
              container.classList.toggle('border-secondary');
              container.classList.toggle('border-dashed');
              container.classList.remove('loadingData');
            }
          });
        }
      }
    });
  </script>

<%- include('../footer.ejs') %>
