<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', { title: "Exchanges & Offers" }) %>

  <div id="memberSearch" class="text-center">
    Start an exchange with:
    <div class="d-block d-md-inline-block m-3" style="min-width: 25%;">
      <input class="typeahead form-control" type="text">
    </div>
    <button id="actionButton" class="btn btn-secondary" disabled>Make Offer</button>
  </div>

  <%- include('../partials/pagination.ejs') %>

  <div id="lazyLoader" class="row g-0" data-endpoint="/api/exchanges"></div>

  <%- include('../partials/pagination.ejs') %>

  <%- include('../scripts/lazyloader.ejs', { paginate : currentPage, template: '../templates/offer.ejs', noResultsFound: "You have no offers or exchange history." }) %>

  <%- include('../scripts/membersearch.ejs', { privacy : ['exchanges'] }) %>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#actionButton').on('click', function () {
        var button = this;

        if (!button.disabled && selectedMember) { 
          button.parentNode.parentNode.classList.add('loadingData'); 
          button.disabled = true;

          window.location.href = `/exchange/${selectedMember.id}/new`;
        }
      });

      $('#lazyLoader').on('click', '.btn-danger', function () {
        let button = this;

        if (!this.style.opacity) {
          button.style.opacity = .5;

          let container = button.parentNode.parentNode;
          container.classList.add('loadingData');

          $.ajax({
            cache: false,
            url: '/api/exchanges',
            data: JSON.stringify({
              id: button.getAttribute('data-id')
            }),
            dataType: 'json',
            method: 'DELETE',
            contentType: 'application/json',
            success: function(data) {
              window.location.reload();
            }
          });
        }
      });
    });
  </script>

<%- include('../footer.ejs') %>
