<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', {
        title: `Exchange with ${exchange.member.username}`
      }) %>

 <% if (exchange.statusA >= 0 && exchange.statusB >= 0 && exchange.statusA + exchange.statusB < 4) { %>
  <div id="errorMessage" class="bg-warning text-dark p-3 w-50 mx-auto rounded mb-3 d-none"></div>

  <% if (exchange.mutable) { %>
    <div class="text-center small">
      <em>You can click on any bird on this screen to remove it from the offer or request.</em>
    </div>
  <% } %>

  <div id="exchange" class="row">
    <div class="col-12 col-md-6">
      <div class="row bg-light m-3 p-3 rounded h-100">
          <div class="col-6">
            <h4>
              <% if (exchange.memberA == loggedInUser.id) { %>
                I'll give
              <% } else { %>
                They'll give
              <% } %>

              <% if (exchange.mutable) { %>
                <span>
                  <select id="giveA" class="form-select d-inline-block w-auto mt-1">
                   <% for (let offer of offers) { %>
                    <option <%= exchange.giveA == offer ? 'selected' : '' %>><%= offer %></option>
                   <% } %>
                  </select>
                </span>
              <% } else { %>
                <%= exchange.giveA %>
              <% } %>
            </h4>
          </div>
         <% if (exchange.mutable) { %>
          <div class="col-6 text-end">
            <a class="btn btn-dark btn-sm" href="/exchange/<%= exchange.id %>/<%= exchange.memberA == loggedInUser.id ? "offer" : "request" %>">
              + <%= exchange.memberA == loggedInUser.id ? "offer" : "request" %> birds
            </a>
          </div>
         <% } %>

         <div class="col-12"></div>

         <% if (exchange.birdypetsA.length > 0) { %>
           <% for (let birdypet of exchange.birdypetsA) { %>
           <div class="col-12 col-lg-6 d-flex align-items-stretch">
             <div class="w-100 pb-3 px-2">
               <div class="h-100 card">
                <% if (loggedInUser.id != exchange.memberA) { %>
                 <a class="wishlist-heart">
                   <%= birdypet.bird.wishlisted ? (birdypet.bird.wishlisted == 2 ? '🌟' : '❤️') : '🤍' %>
                 </a>
                <% } %>
                 <div class="h100">
                   <div class="bg-white lazy birdypet <% if (loggedInUser.id != exchange.memberA) { %>checkmark<%= birdypet.bird.owned == 2 ? 2 : birdypet.bird.owned %><% } %>"
                        data-id="<%= birdypet.id %>"
                        data-bg="<%= birdypet.variant.image %>"
                   >
                   </div>
                 </div>
                 <div class="card-body">
                   <h4 class="text-center"><a href="/birdypet/<%= birdypet.id %>"><%= birdypet.nickname ? birdypet.nickname : birdypet.bird.commonName %></a></h4>
                   <h6 class="text-center"><%= birdypet.nickname ? birdypet.bird.commonName : "" %></h6>
                 </div>
               </div>
             </div>
           </div>
          <% } %>
         <% } else { %>
           <div class="text-center pt-3"><em>
            <% if (exchange.memberA == loggedInUser.id) { %>
             <% if (exchange.mutable) { %>
              <p>Please pick what birds you want to offer.</p>
              <p>If you make this offer without selecting any birds, it indicates to <%= exchange.member.username %> that they should pick what birds they want from your aviary.</p>
             <% } else { %>
              <p><%= exchange.member.username %> hasn't decided what birds from you aviary they want.</p>
             <% } %>
            <% } else { %>
             <% if (exchange.mutable) { %>
              <p>Please pick what birds you want from <%= exchange.member.username %>'s aviary.</p>
              <p>If you make this offer without selecting any birds, it indicates to <%= exchange.member.username %> that they should pick what birds they are willing to offer from their aviary.</p>
             <% } else { %>
              <p><%= exchange.member.username %> hasn't decided what birds from their aviary they want to offer.</p>
             <% } %>
            <% } %>
           </em></div>
         <% } %>

        <div class="w-75 mx-auto pt-4 align-self-end">
          <% if (exchange.memberA == loggedInUser.id) { %>
            <p><em>Notes for them: (optional)</em></p>
            <textarea id="noteA" class="form-control w-100" maxlength="250" <%= exchange.mutable ? '' : 'disabled' %>><%= exchange.noteA %></textarea>
          <% } else if (exchange.noteA) { %>
            <p><em>Notes from them:</em></p>
          <% for (var para of exchange.noteA.split("\r\n")) { %>
            <p><%= para %></p>
           <% } %>
          <% } %>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="row bg-light m-3 p-3 rounded h-100">
          <div class="col-6">
            <h4>
              for

              <% if (exchange.mutable) { %>
                <span>
                  <select id="forB" class="form-select d-inline-block w-auto mt-1">
                   <% for (let offer of offers) { %>
                    <option <%= exchange.forB == offer ? 'selected' : '' %>><%= offer %></option>
                   <% } %>
                 </select>
               </span>
              <% } else { %>
                <%= exchange.forB %>
              <% } %>
            </h4>
          </div>
         <% if (exchange.mutable) { %>
          <div class="col-6 text-end">
            <a class="btn btn-dark btn-sm" href="/exchange/<%= exchange.id %>/<%= exchange.memberA == loggedInUser.id ? "request" : "offer" %>">
              + <%= exchange.memberA == loggedInUser.id ? "request" : "offer" %> birds
            </a>
          </div>
         <% } %>

         <div class="col-12"></div>

         <% if (exchange.birdypetsB.length > 0) { %>
          <% for (let birdypet of exchange.birdypetsB) { %>
           <div class="col-12 col-md-6 d-flex align-items-stretch">
             <div class="w-100 pb-3 px-2">
               <div class="h-100 card">
                <% if (loggedInUser.id != exchange.memberB) { %>
                 <a class="wishlist-heart">
                   <%= birdypet.bird.wishlisted ? (birdypet.bird.wishlisted == 2 ? '🌟' : '❤️') : '🤍' %>
                 </a>
                <% } %>
                 <div class="h100">
                   <div class="bg-white lazy birdypet <% if (loggedInUser.id != exchange.memberB) { %>checkmark<%= birdypet.bird.owned == 2 ? 2 : birdypet.bird.owned %><% } %>"
                        data-id="<%= birdypet.id %>"
                        data-bg="<%= birdypet.variant.image %>"
                   >
                   </div>
                 </div>
                 <div class="card-body">
                   <h4 class="text-center"><a href="/birdypet/<%= birdypet.id %>"><%= birdypet.nickname ? birdypet.nickname : birdypet.bird.commonName %></a></h4>
                   <h6 class="text-center"><%= birdypet.nickname ? birdypet.bird.commonName : "" %></h6>
                 </div>
               </div>
             </div>
           </div>
          <% } %>
         <% } else { %>
           <div class="text-center pt-3"><em>
            <% if (exchange.memberA == loggedInUser.id) { %>
             <% if (exchange.mutable) { %>
              <p>Please pick what birds you want from <%= exchange.member.username %>'s aviary.</p>
              <p>If you make this offer without selecting any birds, it indicates to <%= exchange.member.username %> that they should pick what birds they are willing to offer from their aviary.</p>
             <% } else { %>
              <p><%= exchange.member.username %> hasn't decided what birds from their aviary to offer.</p>
             <% } %>
            <% } else { %>
             <% if (exchange.mutable) { %>
              <p>Please pick what birds you want to offer.</p>
              <p>If you make this offer without selecting any birds, it indicates to <%= exchange.member.username %> that they should pick what birds they want from your aviary.</p>
             <% } else { %>
              <p><%= exchange.member.username %> hasn't decided what birds from your aviary they want.</p>
             <% } %>
            <% } %>
           </em></div>
         <% } %>

        <div class="w-75 mx-auto pt-4 align-self-end">
          <% if (exchange.memberB == loggedInUser.id) { %>
            <p><em>Notes for them: (optional)</em></p>
            <textarea id="noteB" class="form-control w-100" maxlength="250" <%= exchange.mutable ? '' : 'disabled' %>><%= exchange.noteB %></textarea>
          <% } else if (exchange.noteB) { %>
            <p><em>Notes from them:</em></p>
          <% for (var para of exchange.noteB.split("\r\n")) { %>
            <p><%= para %></p>
           <% } %>
          <% } else { %>
            <p class="hidden">&nbsp;</p>
            <textarea class="form-control w-100 hidden"></textarea>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center pt-5">
   <% if (exchange.mutable) { %>
    <button id="makeOffer" class="btn btn-secondary btn-lg me-2">
      <% if (exchange.statusA == 2 || exchange.statusB == 2) { %>
        Accept Offer
      <% } else if (exchange.statusA == 1 && exchange.statusB == 1) { %>
        Submit Offer
      <% } else if (exchange.statusA == 0 & exchange.statusB == 0) { %>
        Make Offer
      <% } else {  %>
        Update Offer
      <% } %>
    </button>

    <script type="text/javascript">
      var errorMessage = document.getElementById('errorMessage');

      $('#exchange').on('click', '.card', function (e) {
        if (e.target.nodeName != 'A') {
          var image = e.currentTarget.querySelector('.birdypet');

          if (!image.style.opacity) {
            image.style.opacity = .5;
            $(image.parentNode.parentNode).toggleClass('loadingData');

            $.ajax({
              cache: false,
              url: '/api/exchanges',
              data: JSON.stringify({
                birdypet: image.getAttribute('data-id'),
                exchange: '<%= exchange.id %>'
              }),
              dataType: 'json',
              method: 'POST',
              contentType: 'application/json',
              success: function(data) {
                image.style.opacity = null;
                image.innerHTML = "";

                $(image.parentNode.parentNode).toggleClass('disabled loadingData');

                $('#makeOffer').text('Update Offer');
              }
            });
          }
        }
      });

      $('#giveA, #forB, #noteA, #noteB').on('change', function (e) {
        let data = {
          exchange: '<%= exchange.id %>'
        };

        data[this.getAttribute('id')] = $(this).val();

        $.ajax({
          cache: false,
          url: '/api/exchanges',
          data: JSON.stringify(data),
          dataType: 'json',
          method: 'POST',
          contentType: 'application/json',
          success: function (data) {
            console.log(data);
          }
        });
      });

      $('#makeOffer').on('click', function () {
        let button = this;

        if (!button.style.opacity) {
          button.style.opacity = .5;

          let container = button.parentNode.parentNode;
          container.classList.add('loadingData');
          errorMessage.classList.add('d-none');

          $.ajax({
            cache: false,
            url: '/api/exchanges',
            data: JSON.stringify({
              id: '<%= exchange.id %>',
              giveA: $('#giveA').val(),
              forB: $('#forB').val(),
             <% if (exchange.memberA == loggedInUser.id) { %>
              noteA: $('#noteA').val()
             <% } else { %>
              noteB: $('#noteB').val()
             <% } %>
            }),
            dataType: 'json',
            method: 'PUT',
            contentType: 'application/json',
            success: function(data) {
              if (data.error) {
                button.style.opacity = null;
                container.classList.remove('loadingData');
                errorMessage.classList.remove('d-none');
                errorMessage.innerHTML = '⚠️ ' + data.error;
              }
              else {
                window.location.reload();
              }
            }
          });
        }
      });
    </script>
   <% } else { %>
    <p><em><%= exchange.member.username %> has not yet made a decision. You cannot make any changes to the offer until they do.</em></p>
   <% } %>

    <button id="deleteOffer" class="btn btn-danger btn-lg"><%= exchange.memberA == loggedInUser.id ? 'Rescind' : 'Decline' %> Offer</button>

    <script type="text/javascript">
      $('#deleteOffer').on('click', function () {
        let button = this;

        if (!this.style.opacity) {
          button.style.opacity = .5;

          let container = button.parentNode.parentNode;
          container.classList.add('loadingData');

          $.ajax({
            cache: false,
            url: '/api/exchanges',
            data: JSON.stringify({
              id: '<%= exchange.id %>'
            }),
            dataType: 'json',
            method: 'DELETE',
            contentType: 'application/json',
            success: function(data) {
              window.location.reload();
            }
          });
        }
      });
    </script>
  </div>
 <% } %>

 <% if (exchange.logs.length > 0) { %>
  <div class="bg-light p-3 mt-5 rounded w-50 mx-auto">
    <h6 class="mb-3"><em>Recent activity:</em></h6>
    <div class="small">
     <% for (let activity of exchange.logs) { %>
      <p><%= activity.log %></p>
     <% } %>
    </div>
  </div>
 <% } %>

<%- include('../footer.ejs') %>
