<%- include('../header.ejs') %>

    <div class="row h-100">
      <div class="col-md-9">
              <%- include('../partials/photo', { full : true }) %>
      </div>
      <div class="col-md-3 h-100 border-start">
        <p><em>Common Name</em><br><%= photo.species.commonName %></p>

        <p><em>Scientific Name</em><br><%= photo.species.scientificName %></p>

        <p><em>Family</em><br><%= photo.species.family %></p>

        <p><em>Order</em><br><%= photo.species.order %></p>

        <p><em>Photographer</em><br><a href="<%= photo.attribution[1] %>" target="_blank">© <%= photo.attribution[0] %></a></p>
 
        <p><em>Source</em><br><a href="<%= photo.source %>" target="_blank"><%= photo.source.replace(/^(http[s])?:\/\//, '').split('/').shift() %> </a></em></p>
      </div>
    </div>

<%- include('../footer.ejs') %>
