<%- include('../header.ejs') %>

    <div class="row">
      <div class="col-md-9 pt-3">
              <%- include('../partials/photo', { full : true }) %>
      </div>
      <div class="col-md-3 pt-5 border-start">
        <h6>Common Name</h6>
        <p><%= photo.species.commonName %></p>

        <h6>Scientific Name</h6>
        <p><%= photo.species.scientificName %></p>

        <h6>Family</h6>
        <p><%= photo.species.family %></p>

        <h6>Order</h6>
        <p><%= photo.species.order %></p>

        <h6>Photographer</h6>
        <p><a href="<%= photo.attribution[1] %>" target="_blank">© <%= photo.attribution[0] %></a></p>
 
        <h6>Source</h6>
        <p><a href="<%= photo.source %>" target="_blank"><%= photo.source.replace(/^(http[s])?:\/\//, '').split('/').shift() %> </a></em></p>

        <% if (photo.submittedBy) { %>
        <h6>Submitted By</h6>
        <p>
          <a href="/members/<%= submittedBy.id %>">
            <img src="https://cdn.discordapp.com/avatars/<%= submittedBy.id %>/<%= submittedBy.avatar %>.webp?size=64" class="member-avatar" data-id="<%= submittedBy.id %>" onerror="missingMemberAvatar(this)">
          </a>
        </p>
        <% } %>

        <% if (photo.flocks.length > 0) { %>
        <hr>

        <h6>Groups</h6>

        <% photo.flocks.forEach( function (flock) { %>
          <p><a href="/groups/<%= flock %>"><%= flock %></a></p>
        <% }); %>

        <% } %>
      </div>
    </div>

<%- include('../footer.ejs') %>
