    </div>
  </main>

  <div id="sidebar" class="bg-dark">
    <div class="py-4 ps-3 ps-sm-0">
      <% if (locals.sidebar) { %>
        <%- include(`./sidebar/${sidebar}.ejs`) %>
      <% } %>
    </div>
  </div>

  <div id="footer" class="bg-dark">
    <div class="w-75 m-auto">
      <p>All images are the sole property of their respective owners and are either used with permission or exist within public domain / creative commons. If an image has been used in error, please send a takedown request to <a href="mailto:takedown@squawkoverflow.com">takedown@squawkoverflow.com</a>.</p>
       <p><a href="<%= locals.HOST %>/faq">FAQ</a> | <a href="<%= locals.HOST %>/privacy-policy">Privacy Policy</a> | <a href="<%= locals.HOST %>/terms-of-service">Terms of Service</a> | <a href="<%= locals.HOST %>/contact">Contact Us</a></p>
      <p>Birdatars <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC-By</a> David Revoy</p>
      <p>Badge icons made by <a href="https://www.flaticon.com/authors/freepik" target="_blank">Freepik</a> from <a href="http://www.flaticon.com/" target="_blank">www.flaticon.com</a></p>
    </div>
  </div>

  <div id="modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>    
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js" integrity="sha512-qOBWNAMfkz+vXXgbh0Wz7qYSLZp6c14R0bZeVX2TdQxWpuKr6yHjBIM69fcF8Ve4GUX6B6AKRQJqiiAmwvmUmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fitty/2.3.6/fitty.min.js" integrity="sha512-7U91NJISL6PgUHhYsU0MEEKGqx0dsOvweOAivSTcOYg1jk0fpWBuDAp09uThu33/c3F7uORGaBXFTKz0g2oHNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.4.0/dist/lazyload.min.js" integrity="sha256-Uukz8+FlQ78tU43ix2oKDcK84sJpKYzuU8XweQ1DaU0=" crossorigin="anonymous"></script>

  <script type="text/javascript">
    function missingMemberAvatar (img) {
      img.onerror = "";
      img.src = '/img/avatar-placeholder.jpeg';
      img.style.transform = `rotate(${Math.max(0, img.getAttribute('data-id'))}deg)`;
    };

    const API = {
      currentRequest : {},
      call : function (endpoint, method, data, success, error) {
        $('#errorMessage').addClass('d-none');

        if (API.currentRequest[endpoint] && method == 'GET') {
                API.currentRequest[endpoint].abort();
        }

        let querystring = method == 'GET' ? '?' + $.param(data) : '';
              
        if (method == "UPLOAD") {
          var form = new FormData();

          for (let key of Object.keys(data)) {
            form.append(key, data[key]);
          }

          data = form;
        }
        else {
          data = method != 'GET' ? JSON.stringify(data) : null;
        }

        API.currentRequest[endpoint] = $.ajax({
          cache: false,
          url: `/api/${endpoint}${querystring}`,
          method: method == "UPLOAD" ? "POST" : method,
          data: data,
          dataType: 'json',
          contentType: method == "UPLOAD" ? false : 'application/json',
          processData: method == "UPLOAD" ? false : true,
          success: function (res) {
            API.currentRequest[endpoint] = null;

            // TODO : do better
            if (res.code && !isNaN(res.code) &&  res.code != 200) {
              $('#errorMessage').html(res.response.data);
              $('#errorMessage').removeClass('d-none');

              if (error) {
                error(res);
              }
            }
            else if (success) {
              success(res);
            }
          }
        });
      }
    }

   <% if (locals.loggedInUser && locals.isMobile && loggedInUser.settings.general_lowData) { %>
    var lazyLoadInstance = new LazyLoad({
      callback_enter: function (element) {
        element.setAttribute('data-orig', element.getAttribute(element.hasAttribute('data-bg') ? 'data-bg' : 'data-src'));
        element.setAttribute(element.hasAttribute('data-bg') ? 'data-bg' : 'data-src', '/img/placeholder.jpeg');
      }
    });

    $(document).ready(() => {
      $('#main').on('click', '.loaded', function (event) {
        let element = event.target;

        if (element.hasAttribute('data-orig')) {
          if (element.hasAttribute('src')) {
            element.src = element.getAttribute('data-orig');
          } else {
            element.style.backgroundImage = 'url("' + element.getAttribute('data-orig') + '")';
          }

          element.removeAttribute('data-orig');
        }
      });
    });
   <% } else { %>
    var lazyLoadInstance = new LazyLoad({});
   <% } %>

    const modal = new bootstrap.Modal(document.getElementById('modal'));

    $('#modal').on('show.bs.modal', function (event) {
      var button = event.relatedTarget;

      $('.modal-title', this).html(button.getAttribute('data-modal-title'));
      
      $('.modal-body', this).html('<div class="text-center"><em><div class="spinner-border spinner-border-sm" role="status"></div> Loading...</em></div>');

      var data = button.getAttribute('data-modal-params');

      try {
        data = JSON.parse(data);
      } catch (err) {
        data = {};
      }

      API.call(button.getAttribute('data-modal-endpoint'), 'GET', data, (results) => {
        var html = "";

        for (let i = 0, len = results.length; i < len; i++) {
          html += modalTemplate(results[i]);
        }

        $('.modal-body', this).html(html);
      });
    });

    $(document).ready( function () {
      lazyLoadInstance.update();

      fitty('#navbar h2');

      $('.mobile-nav-toggle').on('click', function () {
        $('body').toggleClass('mobile-nav-active');
      });

      $('.mobile-sidebar-toggle').on('click', function () {
        $('body').toggleClass('mobile-sidebar-active');
      });

      $('#errorMessage').on('click', function () {
        $('#errorMessage').addClass('d-none');
        $('#errorMessage div').html('');
      });

     <% if (locals.loggedInUser) { %>
      $('#main').on('click', 'button.wishlist-heart', function (event) {
        var button = event.target;

        if (!button.style.opacity) { 
          button.style.opacity = .5;
          button.innerHTML = '⏳';

          API.call('wishlist', 'PUT', {
              species: button.getAttribute('data-id')
            }, 
            function(data) {
              button.style.opacity = null;
              button.innerHTML = data;
            }
          );
        }
     <% if (loggedInUser.happyBirdday && loggedInUser.birthdayPresentClaimed != 1) { %>
      }).on('click', 'button.birdday-present', function (event) {
        var button = event.target;

        if (!button.style.opacity) {
          button.style.opacity = .5;
          button.innerHTML = '⏳';

          API.call('birthday', 'POST', {
              birthday: button.getAttribute('data-id')
            },
            function (data) {
              window.location.href = `/birdypet/${data}`;
            }
          );
        }
     <% } %>
      });
    <% } %>
    });
  </script>

</body>

</html>
