<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQUAWKoverflow</title>
    <meta property="og:site_name" content="SQUAWKoverflow">

    <%- include('./partials/meta.ejs') %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/themes-<%= locals.loggedInUser ? (loggedInUser.settings.theme || "default") : "default" %>.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.4.0/dist/lazyload.min.js" integrity="sha256-Uukz8+FlQ78tU43ix2oKDcK84sJpKYzuU8XweQ1DaU0=" crossorigin="anonymous"></script>

    <script type="text/javascript">
      function missingMemberAvatar (img) {
        img.onerror = "";
        img.src = '/img/avatar-placeholder.jpeg';
        img.style.transform = `rotate(${Math.max(0, img.getAttribute('data-id'))}deg)`;
      };

      var lazyLoadInstance = new LazyLoad({ });
    </script>
  </head>

  <body class="bg-dark">
    <main>
      <div id="sidebarNav" class="col-2 col-md-3 col-lg-2 position-relative h-100 bg-dark" style="z-index: 9999;">
	<button id="sidebarToggle" class="d-block d-sm-none btn btn-outline bg-dark text-secondary rounded-0 position-absolute" data-toggle="expand" style="right: 0; margin-right: -25px;">&rsaquo;</button>
        <a href="/" class="align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <img src="/img/SQUAWK.png" class="d-none d-md-block p-3" alt="SQUAWK logo">
          <h1 class="d-block d-md-none fs-5 m-0 mt-4 text-center"><span class="text-chartreuse">SQ<span class="d-none d-sm-inline">UAWK</span></span>o</h1>
          <h1 class="d-none d-md-block fs-4 m-0 text-center"><span class="text-chartreuse">SQUAWK</span>overflow</h1>
        </a>
        <hr class="bg-light mx-2">
        <ul class="nav flex-column mb-auto text-center">
          <% siteMenu.forEach( function (item) { %> 
          <li class="nav-item">
            <a href="<%= item.href %>" class="nav-link p-0 py-2 ps-md-3 text-light">
              <span class="icon d-inline-block fs-4">
                <%= item.icon %>
              </span>
              <span class="d-none d-sm-block label">
                <%= item.label %>
              </span>
            </a>
          </li>
          <% }) %>
        </ul>
        <hr class="bg-light mx-2">
	<div class="px-2 pt-2 pb-4 text-center">
	<% if (locals.loggedInUser) { %>
        <div class="dropdown">
          <a href="#" class="align-items-center text-light text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
		  <img src="<%= loggedInUser.avatar %>" width="32" class="rounded-circle" onerror="missingMemberAvatar(this)">
		  <span class="d-none d-sm-inline-block"><%= loggedInUser.username %></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="/members/<%= loggedInUser.id %>">Profile</a></li>
            <li><a class="dropdown-item" href="/aviary/<%= loggedInUser.id %>">Aviary</a></li>
            <li><a class="dropdown-item" href="/wishlist/<%= loggedInUser.id %>">Wishlist</a></li>
            <li><a class="dropdown-item" href="/flocks">Flocks</a></li>
	    <li><a class="dropdown-item" href="/account">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
          </ul>
        </div>
	<% } else { %>
	  <a href="/login">Login</a>
        <% } %>
	</div>
      </div>

      <div class="bg-light col-10 col-md-9 col-lg-10 <% if (locals.error) { %> error-page full-image-background<% } %>">
      <% if (!locals.page || page != "home") { %>
        <div id="content" class="container py-5 py-sm-3 mb-5">
	  <div class="mx-md-3 mb-5">
      <% } %>
