<!doctype html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SQUAWKoverflow</title>
        <meta property="og:site_name" content="SQUAWKoverflow">

	<%- include('./partials/meta.ejs') %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.4.0/dist/lazyload.min.js" integrity="sha256-Uukz8+FlQ78tU43ix2oKDcK84sJpKYzuU8XweQ1DaU0=" crossorigin="anonymous"></script>

      <script type="text/javascript">
        function missingMemberAvatar (img) {
          img.onerror = "";
          img.src = '/img/avatar-placeholder.jpeg';
          img.style.transform = `rotate(${Math.max(0, img.getAttribute('data-id'))}deg)`;
        };

        var lazyLoadInstance = new LazyLoad({ });
      </script>
    </head>

    <body <% if (locals.error) { %> class="error-page full-image-background" <% } %>>

<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
	      <img src="/img/SQUAWK.png" style="height: 45px; margin-right: 5px;">
	      <span class="chartreuse">SQUAWK</span>overflow
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
	  <% locals.siteMenu.forEach( function (item) { %>
          <li class="nav-item">
		  <a href="<%= item.href %>" class="nav-link<% if (item.active) { %> active" aria-current="page<% } %>" <% if (item.newWindow) { %>target="_blank"<% } %>>
                    <%= item.label %>
		  </a>
          </li>
	  <% }); %>
        </ul>
	<div class="d-flex dropdown">
		<% if (locals.loggedInUser) { %>
		<a class="nav-link dropdown-toggle link-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			<img class="member-avatar avatar-sm" src="<%= locals.loggedInUser.avatar %>" data-id="<%= locals.loggedInUser.id %>" onerror="missingMemberAvatar(this)">
		    &nbsp;
		    <span class="member-name"><%= locals.loggedInUser.username %></span>
		</a>
		<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
			<li><a class="dropdown-item" href="/members/<%= locals.loggedInUser.id %>">Profile</a></li>
			<li><a class="dropdown-item" href="/aviary/<%= locals.loggedInUser.id %>">My Aviary</a></li>
			<li><a class="dropdown-item" href="/wishlist/<%= locals.loggedInUser.id %>">My Wishlist</a></li>
			<li><a class="dropdown-item" href="/flocks">Manage Flocks</a></li>
			<li><hr class="dropdown-divider"></li>
			<li><a class="dropdown-item" href="/logout">Logout</a></li>
		</ul>
		<% } else { %>
		<a href="/login"
		   class="btn btn-secondary"
		   role="button"
		   tabindex="-1">
			Log In
		</a>
		<% } %>
        </div>
      </div>
    </div>
  </nav>
</header>

<main>

  <div class="container" style="padding-top: 70px;">
