<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title ? `${title} | ` : ''%>SQUAWKoverflow</title>

  <%- include('./partials/meta.ejs') %>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.css" rel="stylesheet"></link>

  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/theme-<%= locals.loggedInUser ? (loggedInUser.settings?.theme_style || "dark") : "dark" %>.css" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.4.0/dist/lazyload.min.js" integrity="sha256-Uukz8+FlQ78tU43ix2oKDcK84sJpKYzuU8XweQ1DaU0=" crossorigin="anonymous"></script>

 <% if (locals.ENV == "PROD") { %>
   <script async src="https://cdn.splitbee.io/sb.js"></script>
 <% } %>

  <script type="text/javascript">
    function missingMemberAvatar (img) {
      img.onerror = "";
      img.src = '/img/avatar-placeholder.jpeg';
      img.style.transform = `rotate(${Math.max(0, img.getAttribute('data-id'))}deg)`;
    };

    const API = {
      currentRequest : {},
      call : function (endpoint, method, data, success, error) {
        $('#errorMessage').addClass('d-none');

        if (API.currentRequest[endpoint] && method == 'GET') {
		API.currentRequest[endpoint].abort();
	}

	let querystring = method == 'GET' ? '?' + $.param(data) : '';

        API.currentRequest[endpoint] = $.ajax({
          cache: false,
          url: `/api/${endpoint}${querystring}`,
          method: method,
          data: method != 'GET' ? JSON.stringify(data) : null,
          dataType: 'json',
          contentType: 'application/json',
          success: function (res) {
            API.currentRequest[endpoint] = null;

	    // TODO : do better
            if (res.code && !isNaN(res.code) &&  res.code != 200) {
              $('#errorMessage').html(res.response.data);
              $('#errorMessage').removeClass('d-none');

              if (error) {
                error(res);
              }
            }
            else if (success) {
              success(res);
            }
          }
        });
      }
    }

    var lazyLoadInstance = new LazyLoad({
     <% if (locals.loggedInUser && locals.isMobile && loggedInUser.settings.general_lowData) { %>
      callback_enter: function (element) {
        element.setAttribute(element.hasAttribute('data-bg') ? 'data-bg' : 'data-src', '/img/placeholder.jpeg');
      }
     <% } %>
    });
  </script>
</head>

<body class="<%= locals.error ? "full-image-background" : "" %> <%= !locals.sidebar ? "no-sidebar" : "" %>">
  <span class="mobile-nav-toggle d-xl-none bg-secondary text-primary">≡</span>

 <% if (locals.sidebar) { %>
  <span class="mobile-sidebar-toggle d-xxl-none bg-secondary text-primary"><%- sidebar == "filters" ? "&#128269;&#xFE0E;" : "ℹ" %></span>
 <% } %>

  <div id="navbar" class="bg-dark">
    <div class="pt-3 px-3 px-sm-0">

      <div class="ps-4 ms-1 ps-sm-0 ms-sm-0">
        <img src="/img/SQUAWK.png" alt="logo" class="img-fluid d-none d-sm-block mb-2">
	<h2 class="text-center"><a href="/"><span class="text-primary">SQUAWK</span>overflow</a></h2>
      </div>

      <nav class="nav-menu navbar">
        <ul>
         <% siteMenu.forEach( function (item) { %> 
          <li class="nav-item pb-2">
            <a href="<%= item.href %>" class="nav-link">
              <span class="icon d-inline-block fs-4">
                <%= item.icon %>
              </span>
              <span class="d-block label">
                <%= item.label %>
              </span>
	      <% if (item.notif) { %>
	        <strong class="ms-2 bg-primary text-dark p-2 badge"><%= item.notif %></strong>
	      <% } %>
            </a>
          </li>
         <% }) %>
        <% if (locals.includeLogin) { %>
	  <li class="my-2 ms-3 pb-2">
            <hr>
	  </li>
	 <% if (locals.loggedInUser) { %>
	  <li class="nav-item pb-2">
            <a href="/members/<%= loggedInUser.id %>" class="nav-link">
              <span class="icon d-inline-block fs-4">
                <img src="<%= loggedInUser.avatar %>" class="rounded p-2" onerror="missingMemberAvatar(this)">
              </span>
              <span class="ms-1"><%= loggedInUser.username %></span>
            </a>
	  </li>
          <li class="nav-item pb-2 ms-2">
            <a href="/aviary/<%= loggedInUser.id %>" class="nav-link">
              <span class="icon d-inline-block fs-5">🐦</span>
	      <span class="d-block label">Aviary</span>
	    </a>
	  </li>
	  <li class="nav-item pb-2 ms-2">
            <a href="/wishlist/<%= loggedInUser.id %>" class="nav-link">
              <span class="icon d-inline-block fs-5">❤️</span>
              <span class="d-block label">Wishlist</span>
            </a>
          </li>
	  <li class="nav-item pb-2 ms-2">
            <a href="/flocks" class="nav-link">
              <span class="icon d-inline-block fs-5">🏘️</span>
              <span class="d-block label">Flocks</span>
            </a>
	  </li>
	  <li class="nav-item pb-2 ms-2">
            <a href="/notifications" class="nav-link">
              <span class="icon d-inline-block fs-5">🔔</span>
              <span class="d-block label">Notifications</span>
             <% if (loggedInUser.notificationCount) { %>
	     <strong class="ms-2 bg-primary text-dark p-2 badge"><%= loggedInUser.notificationCount > 100 ? '100+' : loggedInUser.notificationCount %></strong>
             <% } %>
            </a>
	  </li>
	  <li class="nav-item pb-2 ms-2">
            <a href="/settings" class="nav-link">
              <span class="icon d-inline-block fs-5">⚙️</span>
              <span class="d-block label">Settings</span>
            </a>
	  </li>
          <li class="my-2 ms-3 pb-2">
            <hr>
          </li>
          <li class="nav-item ps-4">
            <a href="/logout">
              Log Out
            </a>
          </li>
	 <% } else { %>
	  <li class="nav-item ps-4">
            <a href="/login">
              Log In
	    </a>
	  </li>
	 <% } %>
        <% } %>
        </ul>
      </nav>
    </div>
  </div>

  <main id="main">
   <% if (locals.page && locals.page == "home") { %> 
    <div id="home-banner" class="full-image-background">
      <a class="attribution bg-light"></a>
    </div>
    <div id="home-text">
      <h1 class="bg-dark border-bottom border-5 border-primary"><strong>SQUAWK</strong>overflow</h1>
      <div></div>
      <p class="text-center"><em>the ultimate bird collecting game</em></p>
    </div>
    <script type="text/javascript" src="/js/full-background-image.js" image="banner"></script>
   <% } %>

   <% if (locals.bugFound) { %>
    <div class="bg-light w-75 mx-auto my-4 d-flex rounded p-3 align-items-start">
      <img src="<%= locals.bugFound %>">

      <div>
        <h4>You found a bug!!</h4>

        <p>This little bugger was chewing on some data, but thankfully you caught it before it did any real damage!</p>
        <p>You can feed it to your birds to increase their friendship or use it as bait to attract <a href="/wishlist">a bird on your wishlist</a>.</p>
      </div>
    </div>
   <% } %>

  <div class="container mt-4 mb-5">
