<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', {
    title: "Notifications"
  }) %>

  <%- include('../partials/pagination.ejs') %>

  <div id="notifications" class="px-5 mx-auto">
    <div class="text-end mb-3" data-id="ALL">
      <a class="btn btn-sm btn-dark" data-action="dismiss">Dismiss All</a>
    </div>

    <div id="lazyLoader" class="row g-0" data-endpoint="notifications"></div>
  </div>

  <%- include('../partials/pagination.ejs') %>

<%- include('../scripts/lazyloader.ejs', { template: '../templates/notification.ejs', paginate : currentPage, noun: 'notification' }) %>

  <script>
    $(document).ready(function() {
      const stickers = ["bird_4359609.png", "bird_4359669.png", "bird_4359689.png", "bird_4359824.png", "bird_4433234.png", "cactus_4359655.png", "duck_4359767.png", "love-birds_4289413.png", "love-birds_4403057.png", "parrot_4359923.png"];

      updatePagination();

      $('#notifications').on('click', '[data-action]', function() {
        var action = this.getAttribute('data-action');
        var trigger = this.nodeName == 'LI' ? document.getElementById(this.parentNode.getAttribute('aria-labelledby')) : this;
        var container = $(this).closest('div[data-id]')[0];

        if (!container.classList.contains('loadingData')) {
          trigger.classList.add('disabled');
          container.classList.add('loadingData');

          var attributes = this.getAttributeNames();
          var json = {};

          for (let attribute of attributes) {
            if (attribute.startsWith('data-json')) {
              json[attribute.replace('data-json-', '')] = this.getAttribute(attribute);
            }
          }

          API.call('notifications', action == 'dismiss' ? 'DELETE' : 'PUT', {
            id: container.getAttribute('data-id'),
            action: action,
            data: json,
            type: $('#type').val()
          }, () => {
            container.classList.remove('loadingData');

            switch (action) {
              case 'thank':
                trigger.innerHTML = '💖 Thanked!';
                trigger.classList.remove('dropdown-toggle');
                break;
              case 'dismiss':
                if (container.getAttribute('data-id') == 'ALL') {
                  window.location.reload();
                } else {
                  container.remove();
                }
                break;
            }
          }, (err) => {
            trigger.classList.remove('disabled');
            container.classList.remove('loadingData');
          });
        }
      });
    });
  </script>

<%- include('../footer.ejs') %>
