<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.4.1/jquery.appear.min.js" integrity="sha512-vYYoQJKYzaJQaOaYxaJhhmxikOJ2SEgHwmCNa0EMP0aRr7opdt4HHrorAwnCyPm8bdW/JBApIomo85YaBX81zA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  var urlParams = new URLSearchParams(window.location.search);
  var container = document.getElementById('lazyLoader');
  var endpoint = container.getAttribute('data-endpoint');
  var search = document.getElementById('search');
  var paginations = document.querySelectorAll('.pagination');
  var currentPage = <%= locals.paginate || 1 %>;
  var totalPages = 0;
  var totalResults = 0;
  var timeout;

  function template (model) {
    return `<%- include(locals.template ? template : '../templates/birdypet.ejs') %>`;
  }

  $(document).ready( function () {
    var preset = Object.fromEntries(urlParams.entries());

    for (var key in preset) {
      $(`#${key}`).val(preset[key]);
    }

    updateResults();

    $('select', '#sidebar').on('change', resetResults);

    $('input[type="checkbox"]', '#sidebar').on('click', function (e) {
      resetResults();
    });

    $('#search').on('change', function () {
      clearTimeout(timeout);

      timeout = setTimeout(resetResults, 500);
    });
  });

 <% if (locals.paginate) { %>
  $('.pagination').on('click', '.page-link', function (e) {
    resetResults(null, e.currentTarget.innerHTML);
  });
 <% } %>

  function resetResults (event, page = 1) {
    container.innerHTML = "";
   <% if (locals.paginate) { %>
    for (let pagination of paginations) {
      pagination.parentNode.style.visibility = 'hidden';
    }
   <% } %>
    currentPage = page * 1;
    totalPages = 1;
    updateResults();
  }

  function updateResults () {
    container.classList.add('loadingData');

    var sort = $('#sort option:selected');
    var flock = $('#flock option:selected');

    <% if (!locals.skipParams) { %>
      <% if (locals.paginate) { %>
        urlParams.set('page', currentPage);
      <% } %>

    $('select', '#sidebar').each( (i, select) => {
      var value = select.options[select.options.selectedIndex].value;

      if (value) {
        urlParams.set(select.id, select.options[select.options.selectedIndex].value);
      }
      else {
        urlParams.delete(select.id);
      }
    });

    window.history.replaceState(null, '', window.location.pathname + '?' + urlParams.toString());
    <% } %>

    $.ajax({
      url: endpoint,
      data: Object.assign({
          page: currentPage * 1,
          sort: sort.val() && sort.val().includes('-') ? sort.val().split('-').shift() : sort.val(),
          sortDir: sort.val() && sort.val().includes('-') ? sort.val().split('-').pop() : 'ASC',
          search : $('#search').val(),
          <%- locals.filters ? `filters : Array.from($('input:checked', '#filters')).map((checkbox) => checkbox.value),` : '' %>
          <%- locals.extraFilters ? `extraFilters: Array.from($('input:checked', '#extraFilters')).map((checkbox) => checkbox.value),` : '' %>
          <%- locals.families ? `family : $('#family').is(':visible') ? $('#family').val() : '',` : '' %>
          <%- locals.flocks ? `flock : flock && !flock.attr('data-special') ? flock.val() : '',` : '' %>
          <%- locals.artists ? `artist : $('#artist').is(':visible') ? $('#artist').val() : '',` : '' %>
          <%- locals.page == 'wishlist' ? `intensity: Array.from($('input:checked', '#intensity')).map((checkbox) => checkbox.value),` : '' %>
          <%- locals.egg ? `adjectives : "${egg.adjective}",` : '' %>
        },
        container.getAttribute('data-params') ? JSON.parse(container.getAttribute('data-params')) : {}
      ),
      method: "GET",
      dataType: "json",
      success: function (data) {
        totalPages = data.totalPages * 1;
        totalResults = typeof data.totalResults == "undefined" ? null : data.totalResults * 1;

        if (data.results.length > 0 ) {
          for (var result of data.results) {
            container.innerHTML += template(result);
          }

          lazyLoadInstance.update();

         <% if (locals.paginate) { %>
           updatePagination();
           container.classList.remove('loadingData');
         <% } else { %>
          var lastElement = $('#lazyLoader > div').last();

          if (lastElement.is(':appeared')) {
            currentPage++;
            updateResults();
          }
          else {
            container.classList.remove('loadingData');
            lastElement.appear().one('appear', function (event) {
              currentPage++;
              updateResults();
            });
          }
         <% } %>
        }
        else {
          container.classList.remove('loadingData');

          if (container.childNodes.length == 0) {
             container.innerHTML = '<p class="text-center"><em><%= locals.noResultsFound ? noResultsFound : 'No birdies match the selected criteria.  Where could they be hiding?' %></em></p>';
          }
        }
      }
    });
  }

  function updatePagination () {
    var content = "";

    if (currentPage > 2) {
      content += `<li class="page-item"><a class="page-link" role="button">1</a></li>`;
    }

    if (currentPage > 3) {
      content += `<li class="page-item disabled"><span class="page-link">...</span></li>`;
    }

    for (let i = Math.max(1, currentPage - 1), len = Math.min(totalPages, currentPage + 1); i <= len; i++) {
      content += `<li class="page-item${currentPage == i ? ' active' : ''}"><a class="page-link" role="button">${i}</a></li>`;
    }

    if (currentPage < totalPages - 2) {
      content += `<li class="page-item disabled"><span class="page-link">...</span></li>`;
    }

    if (currentPage < totalPages - 1) {
      content += `<li class="page-item"><a class="page-link" role="button">${totalPages}</a></li>`;
    }

    for (let pagination of paginations) {
      pagination.innerHTML = content;

      if (totalResults != null) {
        pagination.nextElementSibling.innerHTML = `${totalResults.toLocaleString("en-US")} <%= locals.noun ? noun : 'result' %>s found`;
      }
      else {
        pagination.nextElementSibling.innerHTML = '';
      }

      pagination.parentNode.style.visibility = 'visible';
    }

  }
</script>
