<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.4.1/jquery.appear.min.js" integrity="sha512-vYYoQJKYzaJQaOaYxaJhhmxikOJ2SEgHwmCNa0EMP0aRr7opdt4HHrorAwnCyPm8bdW/JBApIomo85YaBX81zA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  var urlParams = new URLSearchParams(window.location.search);
  var container = document.getElementById('lazyLoader');
  var endpoint = container.getAttribute('data-endpoint');
  var search = document.getElementById('search');
  var currentPage = <%= locals.paginate || 1 %>;
  var totalPages = 0;
  var totalResults = 0;
  var timeout;

  <%- include('./pagination.ejs') %>

  function template (model) {
    return `<%- include(locals.template ? template : '../templates/birdypet.ejs') %>`;
  }

  $(document).ready( function () {
    var preset = Object.fromEntries(urlParams.entries());

    for (var key in preset) {
      if (document.getElementById(key).slim) {
        document.getElementById(key).slim.set(preset[key].split(','));
      } else {
        $(`#${key}`).val(preset[key]);
      }
    }

    updateResults();

    $('select', '#sidebar').on('change', resetResults);

    $('input[type="checkbox"]', '#sidebar').on('click', function (e) {
      resetResults();
    });

    $('#search').on('change', function () {
      clearTimeout(timeout);

      timeout = setTimeout(resetResults, 500);
    });
  });

 <% if (locals.paginate) { %>
  $('.pagination').on('click', '.page-link', function (e) {
    resetResults(null, e.currentTarget.innerHTML);
  });
 <% } %>

  function resetResults (event, page = 1) {
    container.innerHTML = "";
   <% if (locals.paginate) { %>
    for (let pagination of paginations) {
      pagination.parentNode.style.visibility = 'hidden';
    }
   <% } %>
    currentPage = page * 1;
    totalPages = 1;
    updateResults();
  }

  function updateResults () {
    container.classList.add('loadingData');

    var sort = $('#sort option:selected');
    var search = $('#search').val();
    var flocks = $('#flocks').val();

    <% if (!locals.skipParams) { %>
      <% if (locals.paginate) { %>
        if (currentPage > 1) {
          urlParams.set('page', currentPage);
        }
        else {
          urlParams.delete('page');
        }
      <% } %>

    if (search) {
      urlParams.set('search', search);
    }
    else {
      urlParams.delete('search');
    }

    $('select', '#sidebar').each( (i, select) => {
      if (select.multiple) {
        var values = $(select).val();

        if (values.length > 0) {
          urlParams.set(select.id, values.join(','));
        }
        else {
          urlParams.delete(select.id);
        }
      }
      else {
        var value = select.options[select.options.selectedIndex].value;

        if (value && value != select.options[0].value) {
          urlParams.set(select.id, select.options[select.options.selectedIndex].value);
        }
        else {
          urlParams.delete(select.id);
        }
      }
    });

    window.history.replaceState(null, '', window.location.pathname + (urlParams.toString() ? ('?' + urlParams.toString()) : ''));
    <% } %>

    API.call(endpoint, 'GET', Object.assign({
          page: currentPage * 1,
          sort: sort.val() && sort.val().includes('-') ? sort.val().split('-').shift() : sort.val(),
          sortDir: sort.val() && sort.val().includes('-') ? sort.val().split('-').pop() : 'ASC',
          search : search,
          <%- locals.filters ? `filters : Array.from($('input:checked', '#filters')).map((checkbox) => checkbox.value),` : '' %>
          <%- locals.extraFilters ? `extraFilters: Array.from($('input:checked', '#extraFilters')).map((checkbox) => checkbox.value),` : '' %>
          <%- locals.families ? `family : $('#family').is(':visible') ? $('#family').val() : '',` : '' %>
          <%- locals.flocks ? `flocks : flocks ? flocks : '',` : '' %>
          <%- locals.artists ? `artist : $('#artist').is(':visible') ? $('#artist').val() : '',` : '' %>
          <%- locals.page == 'wishlist' ? `intensity: Array.from($('input:checked', '#intensity')).map((checkbox) => checkbox.value),` : '' %>
          <%- locals.egg ? `adjectives : "${egg.adjective}",` : '' %>
        },
        container.getAttribute('data-params') ? JSON.parse(container.getAttribute('data-params')) : {}
      ), function (data) {
        totalPages = data.totalPages * 1;
        totalResults = typeof data.totalResults == "undefined" ? null : data.totalResults * 1;

        if (data.results.length > 0 ) {
          for (var result of data.results) {
            container.innerHTML += template(result);
          }

          lazyLoadInstance.update();

         <% if (locals.paginate) { %>
           updatePagination();
           container.classList.remove('loadingData');
         <% } else { %>
          var lastElement = $('#lazyLoader > div').last();

          if (lastElement.is(':appeared')) {
            currentPage++;
            updateResults();
          }
          else {
            container.classList.remove('loadingData');
            lastElement.appear().one('appear', function (event) {
              currentPage++;
              updateResults();
            });
          }
         <% } %>
        }
        else {
          container.classList.remove('loadingData');

          if (container.childNodes.length == 0) {
             container.innerHTML = '<p class="text-center"><em><%= locals.noResultsFound ? noResultsFound : 'No birdies match the selected criteria.  Where could they be hiding?' %></em></p>';
          }
        }
    });
  }
</script>
