<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { title : "Groups" }) %>

    <% for (let i = 0, len = groups.length; i < len; i++) { %>
      <% let group = groups[i]; %>
      <% if (i % 2 === 0) { %>
        <% if (i > 0) { %>
          </div>
        <% } %>
      <div class="row">
      <% } %>
        <div class="col-md-6 mb-3">
          <div class="row">
          <div class="col-md-4 text-center">
            <a href="/groups/<%= group.name %>">
              <% if (groupImages[group.name]) { %>
                <%- include('../partials/photo', { photo : groupImages[group.name], classes : "lazy img-thumbnail" }) %>
              <% } %>
            </a>
          </div>
          <div class="col-md-6 mb-3">
            <h5 class="pt-2">
              <a href="/groups/<%= group.name %>">
                <%= group.name %>
              </a>
            </h5>
            <%= group.description %>
            <hr>
            <h6>Photos</h6>
            <p><%= group.photoCount %> </p>
          </div>
        </div>
      </div>
    <% }; %>
    </div>

<%- include('../footer.ejs') %>
