<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { title : "Birds by Family", breadcrumb: "Birdypedia" }) %>

    <%- include('../partials/filter-search-sort.ejs', { selectedFamily : locals.selectedFamily ? selectedFamily : "" }) %>

    <%- include('../partials/spacer.ejs'); %>

    <div id="birdDisplay" class="row filter-container" data-delay="true"></div>

<script type="text/javascript">
  var filterizr = {
    destroy : function () {}
  };

  var userpets = ["<%- userpets.join('","') %>"];
  var wishlist = ["<%- wishlist.join('","') %>"];
  var cache = {};
  var timeout = null;

  var statePushed = false;

  $('#birdDisplay').on('click', '.wishlist-heart', function (event) {
    var button = event.target;

      if (!button.style.opacity) { 
        var action = button.getAttribute('data-action');
        button.style.opacity = .5;

        $.ajax({
          url: `/api/wishlist/${action}/${button.getAttribute('data-id')}`,
          method: 'post',
          dataType: "json",
          success: function(data) {
            button.style.opacity = null;

            if (action == "add") {
              button.innerHTML = "❤️";
              button.setAttribute('data-action', 'remove');
            }
            else {
              button.innerHTML = "🤍";
              button.setAttribute('data-action', 'add');
            }
          }
        });
      }

  });

  $('#birdDisplay').on('click', '.birdypet.mini', function (event) {
    var variant = event.target;
    var full = variant.parentNode.parentNode.parentNode.querySelector('.birdypet');

    full.style.backgroundImage = variant.style.backgroundImage;

    if (variant.className.includes('unhatched')) {
      $(full).removeClass('hatched').addClass('unhatched');
    }
    else {
      $(full).removeClass('unhatched').addClass('hatched');
    }
  });

  $('#family').on('change', function () {
    var family = this.value;

    filterizr.destroy();

    try {
      if (family == "") {
        throw "";
      }

      $('#birdDisplay').html(`
        <div class="spinner-border d-block mx-auto" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      `);

      if (statePushed) {
        window.history.replaceState(null, null, `/birdypedia/family/${family}`);
      }
      else {
        window.history.pushState(null, null, `/birdypedia/family/${family}`);
        statePushed = true;
      }

      if (cache[family]) {
        displayBirdyPets(family);
      }
      else {
        $.getJSON(`/api/birdypedia/family/${family}`, function (data) {
          cache[family] = data;
          displayBirdyPets(family);
        });
      }
    } catch (err) {
      $('#birdDisplay').html("");

      if (statePushed) {
        window.history.go(-1);
        statePushed = false;
      }
    }
  });

  <% if (locals.selectedFamily) { %>
    $('#family').change();
  <% } %>

  function displayBirdyPets (family) {
    var birds = cache[family];
    var output = "";

    for (var bird of birds) {
        bird.variants.sort( function (a, b) { 
          var aIndex = userpets.indexOf(a.id);
          var bIndex = userpets.indexOf(b.id);

          return (aIndex > -1 ? aIndex : Infinity) - (bIndex > -1 ? bIndex : Infinity);
        });

        output += `<%- include('../partials/js/birdypedia.ejs') %>`;
    }

    $("#birdDisplay").html(output);

    lazyLoadInstance.update();

    var filterizr = new window.Filterizr('.filter-container', {
      controlsSelector: '.filter-control',
      gridItemsSelector: '.filter-item',
      multifilterLogicalOperator: 'and',
      layout: 'sameWidth',
      spinner: {
        enabled: true
      }
    });
  }
</script>

<%- include('../footer.ejs') %>
