        <h5>Scientific Name</h5>
        <p><%= bird.scientificName %></p>

        <h5 class="pt-3">Family</h5>
        <p><a href="/birdypedia?family=<%= bird.family %>"><%= bird.family %></a></p>

        <h5 class="pt-3">Order</h5>
        <p><%= bird.order %></p>

        <h5 class="pt-3">
          Variants
         <% if (locals.loggedInUser && loggedInUser.admin) { %>
          <a href="/birdypedia/bird/<%= bird.id_slug %>/variant/new" class="btn btn-sm btn-light p-1 ms-3">+ new</a>
         <% } %>
        </h5>
        <div id="birdDisplay">
         <% for (var variant of bird.variants) { %>
         <% if (!variant.special) { %>
          <div class="row mb-3">
            <div class="col-3 g-0 text-end">
              <div class="bg-white border border-1 m-0 birdypet mini <%= variant.hatched ? "hatched" : "unhatched" %> checkmark<%= Math.min(2, variant.hatched) %>" data-id="<%= variant.id %>" data-image="<%= variant.image %>" data-credit="<%= variant.credit %>" data-source="<%= variant.source %>" style="background-image: url('<%= variant.image %>');"></div>
            </div>
            <div class="col-9 small">
              <% if (locals.loggedInUser && loggedInUser.contributor) { %>
                <a href="/birdypedia/bird/<%= bird.id_slug %>/variant/<%= variant.id %>" class="btn btn-sm btn-light m-2 float-end">edit</a>
              <% } %>
              <%- variant.subspecies ? `<em>${variant.subspecies}</em><br>` : '' %>
              <%- variant.label ? `${variant.label}<br>` : '' %>
              <small>&copy; <a href="/birdypedia?artist=<%= encodeURIComponent(variant.credit) %>"><%= variant.credit %></a></small>
            </div>
          </div>
         <% } %>
         <% } %>

       <% if (bird.variants.find((variant) => variant.special)) { %>
        <h6>Special Variants</h6>
         <% for (var variant of bird.variants) { %>
         <% if (variant.special) { %>
          <div class="row mb-3">
            <div class="col-3 g-0 text-end">
              <div class="bg-white border border-1 m-0 birdypet mini <%= variant.hatched ? "hatched" : "unhatched" %> checkmark<%= Math.min(2, variant.hatched) %>" data-id="<%= variant.id %>" data-image="<%= variant.image %>" data-credit="<%= variant.credit %>" data-source="<%= variant.source %>" style="background-image: url('<%= variant.image %>');"></div>
            </div>
            <div class="col-9 small">
              <% if (locals.loggedInUser && loggedInUser.admin) { %>
                <a href="/birdypedia/bird/<%= bird.id_slug %>/variant/<%= variant.id %>" class="btn btn-sm btn-light m-2 float-end">edit</a>
              <% } %>
              <%- variant.subspecies ? `<em>ssp. ${variant.subspecies}</em><br>` : '' %>
              <%- variant.label ? `${variant.label}<br>` : '' %>
              <small>&copy; <a href="/birdypedia?artist=<%= encodeURIComponent(variant.credit) %>"><%= variant.credit %></a></small>
            </div>
          </div>
         <% } %>
         <% } %>
       <% } %>
        </div>

        <h5 class="pt-3">Eggs</h5>
       <% if (locals.loggedInUser && loggedInUser.contributor) { %> 
         <select id="adjectives" multiple>
          <% for (var egg of eggs) { %>
           <option value="<%= egg.adjective %>" <%= bird.adjectives.includes(egg.adjective) ? 'selected' : '' %>><%= egg.adjective %></option>
          <% } %>
         </select>

         <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.js"></script>
         <script type="text/javascript">
           var currentState = $('#adjectives').val();

           var adjectives = new SlimSelect({
             select: '#adjectives',
             beforeOnChange: (info) => {
               let newState = info.filter((opt) => opt.selected).map((opt) => opt.value);
               let method = currentState.length > newState.length ? 'DELETE' : 'POST';
               let adjective = method == 'DELETE' ? currentState.find((opt) => !newState.includes(opt)) : newState.find((opt) => !currentState.includes(opt));

               adjectives.slim.container.classList.add('loadingData');
               adjectives.disable();

               return API.call('bird', method, { id : '<%= bird.id %>', adjective : adjective }, function () {
                 adjectives.slim.container.classList.remove('loadingData');
                 adjectives.enable();
                 return true;
               }, function () {
                 adjectives.slim.container.classList.remove('loadingData');
                 adjectives.enable();
                 return false;
               });
             },
             onChange: (info) => {
               currentState = $('#adjectives').val();
             }
           });
         </script>
       <% } else { %>
        <p>
        <% for (var adjective of bird.adjectives.sort()) { %>
            <%= adjective %><br>
        <% } %>
        </p>
       <% } %>
