        <h5>Scientific Name</h5>
        <p><%= bird.scientificName %></p>

        <h5 class="pt-3">Family</h5>
        <p><a href="/birdypedia?family=<%= bird.family %>"><%= bird.family %></a></p>

        <h5 class="pt-3">Order</h5>
        <p><%= bird.order %></p>

        <% if (bird.variants.length > 1) { %>
        <h5 class="pt-3">Variants</h5>
          <div id="birdDisplay">
          <% for (var variant of bird.variants) { %>
            <p>
              <div class="bg-white border border-1 birdypet mini <%= variant.hatched ? "hatched" : "unhatched" %>" data-id="<%= `${variant.prefix}-${variant.alias}` %>" data-image="<%= variant.image %>" data-credit="<%= variant.credit %>" data-source="<%= variant.source %>" style="background-image: url('<%= variant.image %>');"></div>
              <%= variant.label %> <%- variant.hatched ? "<span class=\"checkmark\"></span>" : "" %>
            </p>
          <% } %>
          </div>
        <% } %>

        <h5 class="pt-3">Hatches From</h5>
        <p>
        <% for (var adjective of bird.adjectives.sort()) { %>
            <%= adjective %> eggs<br>
        <% } %>
        </p>
