       <% if (locals.loggedInUser && loggedInUser.contributor) { %>
        <div class="text-center mb-4">         
          <p><a href="/birdypedia/bird/<%= bird.id_slug %>/edit" class="btn btn-light">✏️ Edit Species</a></p>
        </div>
       <% } %>

        <h5>Scientific Name</h5>
        <p><%= bird.scientificName %></p>

        <h5 class="pt-3">Family</h5>
        <p><a href="/birdypedia?family=<%= bird.family %>"><%= bird.family %></a></p>

        <h5 class="pt-3">Order</h5>
        <p><%= bird.order %></p>

      <% if (locals.loggedInUser) { %>
        <h5 class="pt-3">Discovered</h5>
       <% if (bird.unlock) { %>
        <p>
          <a href="/birdypet/<%= bird.unlock.birdypet %>">
            <%= 
              new Date(bird.unlock.unlockedAt).toLocaleDateString('en-US', {
                year: 'numeric',
                month: 'short',
                day: 'numeric'
              });
            %>
          </a>
        </p>
       <% } else { %>
        <p class="small"><em>Not yet discovered!</em></p>
       <% } %>
      <% } %>

        <h5 class="pt-3">Eggs</h5>
       <% if (locals.loggedInUser && loggedInUser.contributor) { %> 
         <select id="adjectives" multiple>
          <% for (var egg of eggs) { %>
           <option value="<%= egg.adjective %>" <%= bird.adjectives.includes(egg.adjective) ? 'selected' : '' %>><%= egg.adjective %></option>
          <% } %>
         </select>

         <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.js"></script>
         <script type="text/javascript">
           var currentState = $('#adjectives').val();

           var adjectives = new SlimSelect({
             select: '#adjectives',
             beforeOnChange: (info) => {
               let newState = info.filter((opt) => opt.selected).map((opt) => opt.value);
               let method = currentState.length > newState.length ? 'DELETE' : 'PUT';
               let adjective = method == 'DELETE' ? currentState.find((opt) => !newState.includes(opt)) : newState.find((opt) => !currentState.includes(opt));

               adjectives.slim.container.classList.add('loadingData');
               adjectives.disable();

               return API.call('adjective', method, { id : '<%= bird.id %>', adjective : adjective }, function () {
                 adjectives.slim.container.classList.remove('loadingData');
                 adjectives.enable();
                 return true;
               }, function () {
                 adjectives.slim.container.classList.remove('loadingData');
                 adjectives.enable();
                 return false;
               });
             },
             onChange: (info) => {
               currentState = $('#adjectives').val();
             }
           });
         </script>
       <% } else { %>
        <p>
        <% for (var adjective of bird.adjectives.sort()) { %>
          <a href="/birdypedia/eggs/<%= adjective %>"><%= adjective %></a><br>
        <% } %>
        </p>
       <% } %>

         <h5 class="pt-3">Learn More</h5>
         <div>
           <a href="https://avibase.bsc-eoc.org/search.jsp?qstr=<%= encodeURIComponent(bird.scientificName) %>" target="_blank">Avibase</a>
         </div>
       <% if (bird.code) { %>
         <div>
           <a href="https://ebird.org/species/<%= bird.code %>" target="_blank">eBird</a>
         </div>
       <% } %>

        <% if (false) { %>
         <h5>Contribute Art</h5>
         <p>Are you an artist, or do you know of some public domain art for this bird? Your help is greatly appreciated in ensuring that SQUAWK is overflowing with birds!</p>

         <p>Please send us a link to where the image can be found and one of our volunteer contributors will take a look at adding it to the site. Thank you so much!</p>

         <input id="contributeArt" type="text" class="form-control mb-3 w-100">
         <button id="submitContribution" class="btn btn-dark" role="button">Submit</button>

         <p><em>If you have any questions, please <a href="https://squawkoverflow.com/faq#contribute-art">check the FAQ</a>, reach out on <a href="https://discord.com/invite/h87wansdg2"">the Discord server</a>, or send us an email directly at <a href="mailto:contribute@squawkoverflow.com">contribute@squawkoverflow.com</a>.</em></p>

         <script>
           $(document).ready(function () {
             $('#submitContribution').on('click', function () {
             });
           });
         </script>
        <% } %>
