<% if (locals.page == "birdypet") { %>
        <div class="text-center">
          <p class="friendshipMeter"><%= birdypet.friendshipMeter %></p>

        <% if (locals.loggedInUser && loggedInUser.bugs > 0) { %>
          <% if (birdypet.friendship < 100) { %>
           <p><button id="feedBug" class="btn btn-light" role="button" data-birdypet="<%= birdypet.id %>">🐛 Feed a Bug (you have <span><%= loggedInUser.bugs %></span>)</button></p>
          <% } %>
        <% } %>

        <% if (locals.loggedInUser && member.id == locals.loggedInUser.id) { %>
          <p><a id="makeBirdyBuddy" class="btn btn-light <%= member.birdyBuddy == birdypet.id ? 'disabled' : '' %>">💖 Make Birdy Buddy</a></p>
          <p><a class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal_editBirdyPet" data-id="<%= birdypet.id %>" role="button">✏️  Edit Details</a></p>
          <p>
            <button data-bs-toggle="modal"
               data-bs-target="#modal_giftBirdyPet"
               data-bird="<%= birdypet.bird.id %>"i
               data-id="<%= birdypet.id %>"
               class="btn btn-light">
              🎁 Gift to Someone
            </button>
          </p>
          <p><a href="/birdypet/release/<%= birdypet.id %>" class="btn btn-light">👋 Release Bird</a></p>
        <% } %>

          <p>
            <button data-bs-toggle="modal"
                data-bs-target="#modal"
                data-modal-title="<%= birdypet.nickname || birdypet.bird.commonName %>'s BirdStory"
                data-modal-endpoint="birdstory"
                data-modal-params='{"birdypet":"<%= birdypet.id %>"}'
                class="btn btn-light">
              📖 Read BirdStory
            </button>
          </p>
          <script>
            function modalTemplate (model) {
              let html = "";

              switch (model.what) {
                case "hatched":
                  html += `🐣 Hatched by `;
                  break;
                case "collected":
                  html += `❤️  Collected by `;
                  break;
                case "gifted":
                  html += `🎁 Gifted by `;
                  break;
                case "exchanged":
                  html += `🤝 Exchanged by `;
                  break;
              }

              try {
                if (model.who.id) {
                  html += `<a href="/members/${model.who.id}">${model.who.username}</a>`;
                }
                else if (model.who.username) {
                  html += model.who.username;
                }
                else {
                  html += 'someone';
                }
              } catch (err) {
                html += 'someone';
              }

              try {
                if (model.who2?.id) {
                  html += ` to <a href="${model.who2.id}">${model.who2.username}</a>`;
                }
              } catch (err) { }

              return `<p>${html}</p>`;
            }
          </script>
        </div>

        <h6 class="mt-4">Common Name</h6>
        <p class="ms-2">
          <a href="/birdypedia/bird/<%= birdypet.bird.id_slug %>"><%= birdypet.bird.commonName %></a>
        </p>

        <h6>Scientific Name</h6>
        <p class="ms-2"><%= birdypet.bird.scientificName %></p>

        <h6>Family</h6>
        <p class="ms-2"><a href="/birdypedia?family=<%= birdypet.bird.family %>"><%= birdypet.bird.family %></a></p>

        <h6>Order</h6>
        <p class="ms-2"><%= birdypet.bird.order %></p>

       <% if (birdypet.variant.subspecies) { %>
        <h6>Subspecies</h6>
        <p class="ms-2">
          <%= birdypet.variant.subspecies %>
        </p>
       <% } %>

       <% if (birdypet.variant.label) { %>
        <h6>Variant</h6>
        <p class="ms-2">
          <%= birdypet.variant.label %>
        </p>
       <% } %>

        <h6>Hatch Date</h6>
        <p class="ms-2"><%= new Date(birdypet.hatchedAt).toLocaleDateString('en-US', {
            year: 'numeric',
            month: 'short',
            day: 'numeric'
          }); %></p>

        <h6>Belongs To</h6>
        <p class="ms-2"><a href="/members/<%= member.id %>"><%= member.username %></a></p>

        <% if (birdypet.flocks.length > 0) { %>
        <h6>Flocks</h6>
        <p class="ms-2">
        <% for (var flock of member.flocks) { %>
          <% if (birdypet.flocks.includes(flock.id) && ((locals.loggedInUser && member.id == locals.loggedInUser.id) || !flock.private)) { %>
          <a href="/flocks/<%= flock.id %>"><%= flock.name %></a><br>
          <% } %>
        <% } %>
        </p>
        <% } %>

       <% if (birdypet.variant.source != "n/a") { %>
        <h6>Art By</h6>
        <p class="ms-2">
          <a href="<%= birdypet.variant.source %>" target="_blank" rel="noopener">
            <%= birdypet.variant.credit %>
          </a>
        </p>
       <% } %>

  <%- include('../scripts/feedbug.ejs') %>
<% } %>
