<% if (locals.page == "birdypedia") { %>
  <h5>Guides</h5>

  <ul class="nav-menu p-0">
    <li class="nav-item pb-2">
      <a href="/birdypedia">
        <span class="icon d-inline-block fs-4">🐦</span>
        <span class="d-block label">Birds</span>
      </a>
    </li>
    <li class="nav-item pb-2">
      <a href="/birdypedia/eggs">
        <span class="icon d-inline-block fs-4">🥚</span>
        <span class="d-block label">Eggs</span>
      </a>
    </li>
  </ul>
<% } %>

  <h5>Search</h5>
  <input id="search" type="text" name="search" class="form-control mb-4">

<% if (locals.families) { %>
  <h5>Family</h5>
  <select id="family" class="form-select mb-4">
    <option value="">[ALL]</option>
    <% for (var family of allFamilies) { %>
     <% if (families.includes(family.name)) { %>
      <option value="<%= family.name %>" <%= locals.selectedFamily && selectedFamily.toLowerCase() == family.name.toLowerCase() ? "selected" : "" %>>
        <%= family.display %>
      </option>
     <% } %>
    <% } %>
  </select>
<% } %>

<% if (locals.flocks) { %>
  <h5>Flock</h5>
  <select id="flock" class="form-select mb-4">
    <option value="">[ALL]</option>
   <% if (locals.loggedInUser && member.id == loggedInUser.id) { %>
    <option value="NONE">[FLOCKLESS]</option>
   <% } %>
   <% for (var flock of flocks) { %>
    <option value="<%= flock.id %>" <%= locals.selectedFlock && selectedFlock == flock.id ? "selected" : "" %>>
      <%= flock.name %>
    </option>
   <% } %>
  </select>
<% } %>

<% if (locals.artists) { %>
  <h5>Artist</h5>
  <select id="artist" class="form-select mb-4">
    <option value="">[ALL]</option>
   <% for (var artist of artists) { %>
    <option value="<%= artist.name %>" <%= locals.selectedArtist && selectedArtist.toLowerCase() == artist.name.toLowerCase() ? "selected" : "" %>>
      <%= artist.name %>
    </option>
   <% } %>
  </select>
<% } %>

<% if (locals.sortFields) { %>
  <h5>Sort By</h5>
  <select id="sort" class="form-select mb-4">
   <% for (var sort of sortFields) { %>
    <option value="<%= sort.value %>">
      <%= sort.label %>
    </option>
   <% } %>
  </select>
<% } %>

<% if (locals.extraInsights && locals.loggedInUser?.tier.extraInsights) { %>
  <h5>Extra Insights</h5>
  <div id="extraInsights" class="mb-4">
    <% for (var insight of extraInsights) { %>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="extraInsights-<%= insight.id %>" value="<%= insight.id %>" name="extraInsights[]">
      <label class="form-check-label" for="extraInsights-<%= insight.id %>">
        <%= insight.label %>
      </label>
    </div>
    <% } %>
  </div>
<% } %>
