<% if (locals.page == "birdypedia") { %>
  <h5>Guides</h5>

  <ul class="nav-menu p-0">
    <li class="nav-item pb-2">
      <a href="/birdypedia">
        <span class="icon d-inline-block fs-4">🐦</span>
        <span class="d-block label">Birds</span>
      </a>
    </li>
    <li class="nav-item pb-2">
      <a href="/birdypedia/eggs">
        <span class="icon d-inline-block fs-4">🥚</span>
        <span class="d-block label">Eggs</span>
      </a>
    </li>
  </ul>
<% } %>

<% if (locals.page == "wishlist") { %>
  <h5>Wishlist</h5>
  <div id="intensity" class="mb-4">
    <div class="form-check mb-1">
      <input class="form-check-input" type="checkbox" id="intensity-1" value="1" name="intensity" checked>
      <label class="form-check-label" for="intensity-1">
        ❤️ Want It
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="intensity-2" value="2" name="intensity" checked>
      <label class="form-check-label" for="intensity-2">
        🌟 Need It
      </label>
    </div>
  </div>
<% } %>

  <h5 class="mb-0">Search</h5>
  <p><small><em>Use "quotes" for exact matches.</em></small></p>
  <input id="search" type="text" name="search" class="form-control mb-4">

<% if (locals.families) { %>
  <h5>Family</h5>
  <select id="family" class="form-select mb-4">
    <option value="">[ALL]</option>
    <% for (var family of allFamilies) { %>
     <% if (families.includes(family.name)) { %>
      <option value="<%= family.name %>" <%= locals.selectedFamily && selectedFamily.toLowerCase() == family.name.toLowerCase() ? "selected" : "" %>>
        <%= family.display %>
      </option>
     <% } %>
    <% } %>
  </select>
<% } %>

<% if (locals.flocks) { %>
  <h5>Flock</h5>
  <select id="flock" class="form-select mb-4">
    <option value="">[ALL]</option>
    <option value="NONE">[FLOCKLESS]</option>
   <% for (var flock of flocks) { %>
    <% if ((locals.loggedInUser && member.id == loggedInUser.id) || !flock.private) { %>
     <option value="<%= flock.id %>" <%= locals.selectedFlock && selectedFlock == flock.id ? "selected" : "" %>>
       <%= flock.name %>
     </option>
    <% } %>
   <% } %>
  </select>
<% } %>

<% if (locals.artists) { %>
  <h5>Artist</h5>
  <select id="artist" class="form-select mb-4">
    <option value="">[ALL]</option>
   <% for (var artist of artists) { %>
    <option value="<%= artist.name %>" <%= locals.selectedArtist && selectedArtist.toLowerCase() == artist.name.toLowerCase() ? "selected" : "" %>>
      <%= artist.name %>
    </option>
   <% } %>
  </select>
<% } %>

<% if (locals.sortFields) { %>
<%
    var labels = {
      'commonName-ASC' : 'Common Name (A-Z)',
      'commonName-DESC' : 'Common Name (Z-A)',
      'hatchedAt-DESC' : 'Hatched At (Newest)',
      'hatchedAt-ASC' : 'Hatched At (Oldest)',
      'scientificName-ASC' : 'Scientific Name (A-Z)',
      'scientificName-DESC' : 'Scientific Name (Z-A)',
      'friendship-DESC' : 'Friendship (Highest)',
      'friendship-ASC' : 'Friendship (Lowest)',
      'freedAt-DESC' : 'Freed At (Newest)',
      'freedAt-ASC' : 'Freed At (Oldest)',
      'addedAt-DESC' : `Added to ${locals.page && page == 'wishlist' ? 'List' : 'Aviary'} (Newest)`,
      'addedAt-ASC' : `Added to ${locals.page && page == 'wishlist' ? 'List' : 'Aviary'}  (Oldest)`
    }
 %>
  <h5>Sort By</h5>
  <select id="sort" class="form-select mb-4">
   <% for (var sort of sortFields) { %>
    <option value="<%= sort %>">
      <%= labels[sort] %>
    </option>
   <% } %>
  </select>
<% } %>

<% if (locals.extraInsights && locals.loggedInUser?.tier.extraInsights) { %>
 <%
    var labels = {
      'unhatched' : `Not In % Aviary`,
      'hatched' : `In % Aviary`,
      'isolated' : `In % Aviary <span class="checkmark"></span>`,
      'duplicated' : `In % Aviary <span class="checkplus"></span>`,
      'duplicatedME' : 'In My Aviary <span class="checkplus"></span>',
      'somewhere' : 'In Someone\'s Aviary',
      'unwishlisted' : 'Not On % Wishlist',
      'wishlisted' : `On % Wishlist`,
      'wanted' : `On % Wishlist ❤️`,
      'needed' : `On % Wishlist 🌟`,
      'someone' : 'On Someone\'s Wishlist',
    }
 %>
  <h5>Extra Insights</h5>
  <div id="extraInsights" class="mb-4">
   <% for (var insight of extraInsights) { %>
    <% let context = insight.split('-').pop() %>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="extraInsights-<%= insight %>" value="<%= insight %>" name="extraInsights[]">
      <label class="form-check-label" for="extraInsights-<%= insight %>">
        <%- labels[insight.split('-').shift()].replace(/%/, context) %>
      </label>
    </div>
    <% } %>
  </div>
<% } %>
