<% if (locals.page == "birdypedia") { %>
  <h5>Guides</h5>

  <ul class="nav-menu p-0">
    <li class="nav-item pb-2">
      <a href="/birdypedia">
        <span class="icon d-inline-block fs-4">🐦</span>
        <span class="d-block label">Birds</span>
      </a>
    </li>
    <li class="nav-item pb-2">
      <a href="/birdypedia/eggs">
        <span class="icon d-inline-block fs-4">🥚</span>
        <span class="d-block label">Eggs</span>
      </a>
    </li>
    <li class="nav-item pb-2">
      <a href="/birdypedia/artists">
        <span class="icon d-inline-block fs-4">🎨</span>
        <span class="d-block label">Artists</span>
      </a>
    </li>
  </ul>
<% } %>

<% if (locals.page == "wishlist") { %>
  <h5>Wishlist</h5>
  <div id="intensity" class="mb-4">
    <div class="form-check mb-1">
      <input class="form-check-input" type="checkbox" id="intensity-1" value="1" name="intensity" checked>
      <label class="form-check-label" for="intensity-1">
        ❤️ Want It
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="intensity-2" value="2" name="intensity" checked>
      <label class="form-check-label" for="intensity-2">
        🌟 Need It
      </label>
    </div>
  </div>
<% } %>

  <h5>Search</h5>
<% if (locals.searchFields) { %>
  <select id="searchField" class="form-select mb-2">
   <% for (var field of searchFields) { %>
    <option value="<%= field.id %>"><%= field.name %></option>
   <% } %>
  </select>
<% } %>
  <input id="search" type="text" name="search" class="form-control mb-4">

<% if (locals.families) { %>
  <h5>Family</h5>
  <select id="family" class="form-select mb-4">
    <option value="">[ALL]</option>
    <% for (var family of allFamilies) { %>
     <% if (families.includes(family.name)) { %>
      <option value="<%= family.name %>">
        <%= family.display %>
      </option>
     <% } %>
    <% } %>
  </select>
<% } %>

<% if (locals.flocks) { %>
  <h5>Flocks</h5>
  <select id="flocks" multiple>
    <option data-placeholder="true">[ALL]</option>
    <option value="NONE">[NONE]</option>
   <% for (var flock of flocks) { %>
    <option value="<%= flock.id %>"><%= flock.name %></option>
   <% } %>
  </select>

  <div class="mb-4"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.js"></script>
  <script type="text/javascript">
    new SlimSelect({
      select: '#flocks'
    });
  </script>
<% } %>

<% if (locals.style) { %>
  <h5>Style</h5>
  <select id="style" class="form-select mb-4">
    <option value="0">[ALL]</option>
    <option value="1">Illustrations</option>
    <option value="2">Photos</option>
    <option value="-1">Placeholders</option>
  </select>
<% } %>

<% if (locals.sortFields) { %>
<%
    var labels = {
      'commonName-ASC' : 'Common Name (A-Z)',
      'commonName-DESC' : 'Common Name (Z-A)',
      'scientificName-ASC' : 'Scientific Name (A-Z)',
      'scientificName-DESC' : 'Scientific Name (Z-A)',
      'username-ASC' : 'Username (A-Z)',
      'username-DESC' : 'Username (Z-A)',
      'aviary-DESC' : 'Aviary Size (Largest)',
      'aviary-ASC' : 'Aviary Size (Smallest)',
      'friendship-DESC' : 'Friendship (Highest)',
      'friendship-ASC' : 'Friendship (Lowest)',
      'hatchedAt-DESC' : 'Hatched At (Newest)',
      'hatchedAt-ASC' : 'Hatched At (Oldest)',
      'freedAt-DESC' : 'Freed At (Newest)',
      'freedAt-ASC' : 'Freed At (Oldest)',
      'addedAt-DESC' : 'Added At (Newest)',
      'addedAt-ASC' : 'Added At (Oldest)',
      'joinedAt-DESC' : 'Joined At (Newest)',
      'joinedAt-ASC' : 'Joined At (Oldest)',
      'variants-DESC' : 'Newest Variants',
      'activeAt-DESC' : 'Recently Active'
    }
 %>
  <h5>Sort By</h5>
  <select id="sort" class="form-select mb-4">
   <% for (var sort of sortFields) { %>
    <option value="<%= sort %>">
      <%= labels[sort] %>
    </option>
   <% } %>
  </select>
<% } %>

<%
  var labels = {
    'unhatched' : `Not In % Aviary`,
    'hatched' : `In % Aviary`,
    'isolated' : `In % Aviary <span class="checkmark"></span>`,
    'duplicated' : `In % Aviary <span class="checkplus"></span>`,
    'somewhere' : 'In Someone\'s Aviary',
    'unwishlisted' : 'Not On % Wishlist',
    'wishlisted' : `On % Wishlist`,
    'wanted' : `On % Wishlist ❤️`,
    'needed' : `On % Wishlist 🌟`,
    'someone' : 'On Someone\'s Wishlist',
    'exchange' : 'In This Exchange',
    'unexchange' : 'Not In This Exchange',
    'copied' : 'Multiple Copies'
  }
%>

<% if (locals.filters || (locals.extraFilters && locals.loggedInUser?.tier.extraInsights)) { %>
  <h5>Filters</h5>
  <div class="mb-4">
   <% if (locals.filters) { %>
    <div id="filters">
     <% for (var filter of filters) { %>
      <% let context = filter.split('-').pop() %>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="filters-<%= filter %>" value="<%= filter %>" name="filters[]">
        <label class="form-check-label" for="filters-<%= filter %>">
          <%- labels[filter.split('-').shift()].replace(/%/, context) %>
        </label>
      </div>
      <% } %>
    </div>
   <% } %>

   <% if (locals.extraFilters && locals.loggedInUser?.tier.extraInsights) { %>
    <div id="extraFilters">
     <% for (var filter of extraFilters) { %>
      <% let context = filter.split('-').pop() %>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="extraFilters-<%= filter %>" value="<%= filter %>" name="extraFilters[]">
        <label class="form-check-label" for="extraFilters-<%= filter %>">
          <%- labels[filter.split('-').shift()].replace(/%/, context) %>
        </label>
      </div>
      <% } %>
    </div>
   <% } %>
  </div>
<% } %>
