<% if (locals.loggedInUser && loggedInUser.admin && loggedInUser.id != member.id) { %>
  <p>
    <input type="checkbox" id="isContributor" value="1" <%= member.contributor ? 'checked' : '' %> class="form-check-input">
    <label for="isContributor" class="form-check-label">Contributor</label>
  </p>

  <script>
    $(document).ready(function () {
      $('#isContributor').on('change', function (e) {
        API.call('member', 'PUT', { member : '<%= member.id %>', contributor: e.target.checked });
      });
    });
  </script>
<% } %>

<h5>Collection Progress</h5>

<p class="mb-0 mt-4"><a href="/birdypedia">All Species</a></hp>
<% var prct = Math.floor(member.totals.species[0] / member.totals.species[1] * 100); %>
<p class="small mt-0 mb-2"><small></small></p>
<div class="progress mx-2">
  <div class="progress-bar<%= prct == 100 ? " bg-success" : "" %>" style="width: <%= prct %>%" role="progressbar" aria-valuenow="<%= member.totals.species[0] %>" aria-valuemin="0" aria-valuemax="<%= member.totals.species[1] %>"><%= prct %>%</div>
</div>

<% for (let family of allFamilies) { %>
 <% family.owned = member.families.find( (fam) => fam.name == family.name)?.owned; %>
 <% if (family.owned > 0) { %>
  <p class="mb-0 mt-4"><a href="/birdypedia?family=<%= family.name %>"><%= family.name %></a></hp>
  <p class="small mt-0 mb-2"><small>(<%= family.display.split(' (').pop() %></small></p>
  <% var prct = Math.floor(family.owned / family.total * 100); %>
  <div class="progress mx-2">
    <div class="progress-bar<%= prct == 100 ? " bg-success" : "" %>" style="width: <%= prct %>%" role="progressbar" aria-valuenow="<%= family.owned %>" aria-valuemin="0" aria-valuemax="<%= family.total %>"><%= prct %>%</div>
  </div>
 <% } %>
<% } %>
