<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { title : `You hatch the ${adjective} egg to discover...`}) %>

    <div class="row">
      <div class="col-md-8 text-center mb-3">
        <img src="<%= birdypet.image %>" class="birdypet full border border-1 bg-white">
      </div>
      <div class="col-md-4 text-center text-md-start">
        <h3>
          <a href="/birdypedia/bird/<%= birdypet.species.speciesCode %>" target="_blank"><%= birdypet.species.commonName %></a>
        </h3>
        <h6>
          <%= birdypet.label %>
        </h6>
        <h6>
          <%= wishlisted ? "❤️" : "" %>
          <%- userpets.includes(birdypet.species.commonName) ? "<div class=\"small\"><span class=\"checkmark\"></span> <em>You have this species</em></div>" : "" %>
          <%- userpets.includes(birdypet.id) ? "<div class=\"small\"><span class=\"checkmark\"></span> <em>You have this variant</em></div>" : "" %>
        </h6>

        <div id="actions" data-birdypet="<%= birdypet.id %>" class="mt-5">
          <button data-action="keep" class="btn btn-lg btn-primary mb-3">❤️&nbsp;Keep</button>
          &nbsp;
          <button data-action="release" class="btn btn-lg btn-primary mb-3">👋&nbsp;Release</button>
        </div>
      </div>
    </div>

    <script>
      var container = document.getElementById('actions');
      var birdypetId = container.getAttribute('data-birdypet');

      $(container).on('click', 'button', function (e) {
        var button = e.currentTarget;

        switch (button.getAttribute('data-action')) {
          case "keep":
            $.ajax({
              cache: false,
              url: `/api/hatch`,
              data: {
                birdypetId : birdypetId,
                adjective : "<%= adjective %>"
              },
              dataType: "json",
              method: "POST",
              success: function(data) {
                container.innerHTML = `<a class="btn btn-lg btn-primary mb-3" href="/birdypet/${data.memberpet}">🐣 View BirdyPet</a>&nbsp;<a class="btn btn-lg btn-primary mb-3" href="/hatch">🥚 Hatch Another Egg</a>`;
              }
            });
            break;
          case "release":
            $.ajax({
              cache: false,
              url: `/api/release`,
              data: {
                birdypetId : birdypetId
              },
              dataType: "json",
              method: "POST",
              success: function(data) {
                window.location.href = '/hatch';
              }
            });
            break;
        }
      }); 
    </script>

<%- include('../footer.ejs') %>
