<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { title : `You hatch the ${adjective} egg to discover...`}) %>

    <div class="row">
      <div class="col-md-8 text-center">
        <div class="lazy birdypet full border border-1 bg-white"
             data-bg="<%= birdypet.image %>"
        ></div>
      </div>
      <div class="col-md-4">
        <h3>
          <%= birdypet.species.commonName %>
        </h3>
        <h6>
          <%= birdypet.version %> <%= birdypet.label %>
        </h6>
        <h6><%= wishlisted ? "❤️" : "" %><%= userpets.includes(birdypet.species.commonName) ? "✔️" : "" %><%= userpets.includes(birdypet.id) ? "✔️" : "" %></h6>

        <div id="actions" data-birdypet="<%= birdypet.id %>" class="mt-5">
          <button data-action="keep" class="btn btn-lg btn-primary mb-3">❤️&nbsp;Keep</button>
          &nbsp;
          <button data-action="release" class="btn btn-lg btn-primary mb-3">👋&nbsp;Release</button>
        </div>
      </div>
    </div>

    <script>
      var container = document.getElementById('actions');
      var birdypetId = container.getAttribute('data-birdypet');

      $(container).on('click', 'button', function (e) {
        var button = e.currentTarget;

        switch (button.getAttribute('data-action')) {
          case "keep":
            $.ajax({
              cache: false,
              url: `/api/hatch`,
              data: {
                birdypetId : birdypetId,
                adjective : "<%= adjective %>"
              },
              dataType: "json",
              method: "POST",
              success: function(data) {
                container.innerHTML = `<a class="btn btn-lg btn-primary mb-3" href="/birdypet/${data.memberpet}">🐣 View BirdyPet</a>&nbsp;<a class="btn btn-lg btn-primary mb-3" href="/hatch">🥚 Hatch Another Egg</a>`;
              }
            });
            break;
          case "release":
            window.location.href = '/hatch';
            break;
        }
      }); 
    </script>

<%- include('../footer.ejs') %>
