<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', { title : "Incubator" }) %>

  <%- include('../partials/pagination.ejs') %>

  <div id="lazyLoader" class="row g-0" data-endpoint="incubate"></div>

  <%- include('../partials/pagination.ejs') %>

  <%- include('../scripts/lazyloader.ejs', { template: '../templates/incubator.ejs', paginate: currentPage }) %>

  <%- include('../partials/giftModal.ejs', { selectedMember : null }) %>

<%- include('../footer.ejs') %>
