<%- include('../header.ejs') %>

  <div id="eggs">
    <%- include('../partials/page-title.ejs', { title : "Hatch Eggs" }) %>

    <div class="row text-center mb-5">
      <% for (var egg of eggs) { %>
      <div class="col-6 col-md-4 col-lg-2">
        <a data-egg="<%= egg.name %>" class="btn btn-lg btn-outline-secondary p-3 mb-2">
          <h3>
            <img src="/img/eggs/<%= egg.icon ? egg.name : "default" %>.png">
          </h3>
          <h5><%= egg.name %></h5>
         <% if (loggedInUser.tier.extraInsights) { %>
          <div class="small text-muted">
            <small><%= egg.totals[0] %>/<%= egg.totals[1] %></small>
          </div>
           <% } %>
        </a>
      </div>
      <% } %>
    </div>

    <div class="row text-center mt-5">
      <div class="col">
        <p><small><em><a href="/faq#weird-eggs" target="_blank">What's with the weird eggs?</a></em></small></p>
       <% if (loggedInUser.tier.extraInsights) { %>
        <p><small><em><a href="/faq#extra-insights" target="_blank">What do the numbers below the eggs mean?</a></em></small></p>
       <% } %>
      </div>
    </div>
  </div>

  <div id="hatched" class="d-none">
    <%- include('../partials/page-title.ejs', { title : "You hatch the %adjective% egg to discover..." }) %>

    <div class="row">
      <div class="col-md-8 text-center mb-3">
        <img src="" class="birdypet full border border-1 bg-white">
      </div>
      <div class="col-md-4 text-center text-md-start">
        <h3>
          <a href="" target="_blank"></a>
        </h3>
        <h5></h5>
        <h6></h6>

        <div id="actions" class="mt-5 text-center">
          <button data-action="keep" class="btn btn-lg btn-primary mb-3">❤️&nbsp;Keep</button>
          &nbsp;
          <button data-action="release" class="btn btn-lg btn-primary mb-3">👋&nbsp;Release</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    var eggs = document.getElementById('eggs');
    var hatched = document.getElementById('hatched');
    var actions = document.getElementById('actions');

    var egg, birdypet;

    $(eggs).one('click', 'a', function (e) {
      egg = e.currentTarget.getAttribute('data-egg');

      eggs.classList.add('loadingData');

      $.ajax({
        cache: false,
        url: `/api/hatch`,
        data: JSON.stringify({
          egg : egg
        }),
        dataType: "json",
        contentType: 'application/json',
        method: "POST",
        success: function(data) {
          birdypet = data.id;

          hatched.querySelector('h1').innerHTML = hatched.querySelector('h1').innerHTML.replace('%adjective%', egg);
          hatched.querySelector('img').setAttribute('src', data.image);

          var h3 = hatched.querySelector('h3').querySelector('a');
          h3.setAttribute('href', `/birdypedia/bird/${data.species.speciesCode}`);
          h3.innerHTML = data.species.commonName;

          var h5 = hatched.querySelector('h5');
          // add label to returned data

          var h6 = hatched.querySelector('h6');
          var text = "";

          if (data.wishlisted) {
            text += `<div class="small">❤️ <em>This bird is on your wishlist</em></div>`;
          }

          if (data.owned > 1) {
            text += `<div class="small"><span class="checkmark"></span><span class="checkmark"></span> <em>You have more than one of this species</em></div>`;
          }
          else if (data.owned == 1) {
            text += `<div class="small"><span class="checkmark"></span> <em>You have this species</em></div>`;
          }

          h6.innerHTML = text;

          eggs.classList.remove('loadingData');
          eggs.classList.add('d-none');

          hatched.classList.remove('d-none');
        }
      });
    });

    $(actions).on('click', 'button', function (e) {
      var button = e.currentTarget;

      if (!button.style.opacity) { 
        var action = button.getAttribute('data-action');

        actions.classList.add('loadingData');
        actions.innerHTML = "";

        switch (button.getAttribute('data-action')) {
          case "keep":
            $.ajax({
              cache: false,
              url: `/api/collect`,
              data: JSON.stringify({
                birdypet : birdypet,
                adjective : egg
              }),
              dataType: "json",
              contentType: 'application/json',
              method: "POST",
              success: function(memberpet) {
                actions.classList.remove('loadingData');
                actions.innerHTML = `<a class="btn btn-lg btn-primary mb-3" href="/birdypet/${memberpet.id}">🐣 View BirdyPet</a>&nbsp;<a class="btn btn-lg btn-primary mb-3" href="/hatch">🥚 Hatch Another Egg</a>`;
              },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
                actions.classList.remove('loadingData');
                actions.innerHTML = '<em>Something went wrong... uwu</em>';
              }
            });
            break;
          case "release":
            $.ajax({
              cache: false,
              url: `/api/release`,
              data: JSON.stringify({
                birdypet : birdypet
              }),
              dataType: "json",
              contentType: 'application/json',
              method: "POST",
              success: function(data) {
                window.location.reload();
              }
            });
            break;
        }
      }
    }); 
  </script>

<%- include('../footer.ejs') %>
