<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { title : 'Free Birds' }) %>

    <p class="text-center mb-5"><em>Look out!  These birds have been released and are running around stealing things for their nests.  Do you have space in your aviary for any of them?</em></p>

    <%- include('../partials/pagination.ejs') %>

    <div id="lazyLoader" class="row g-0" data-endpoint="/api/freebirds"></div>

    <%- include('../partials/pagination.ejs') %>

    <%- include('../scripts/lazyloader.ejs', { template: '../templates/freebird.ejs', paginate: currentPage }) %>

  <script>
    $('#lazyLoader').on('click', '.card', function () {
      var image = this.querySelector('.birdypet');
      var h3 = this.querySelector('h3');
      var h6 = this.querySelector('h6');

      this.style.cursor = 'default';

      if (!image.parentNode.classList.contains('loadingData') && image.hasAttribute('data-freebird')) {
        image.parentNode.classList.add('loadingData');

        $.ajax({
          cache: false,
          url: `/api/collect`,
          data: JSON.stringify({
            freebird: `${image.getAttribute('data-freebird')}`,
            variant: `${image.getAttribute('data-variant')}`
          }),
          dataType: 'json',
          contentType: 'application/json',
          method: 'POST',
          success: function(birdypet) {
            image.removeAttribute('data-freebird');
            image.parentNode.classList.remove('loadingData');
            image.style.opacity = .5;

            if (birdypet.error) {
              h6.innerHTML = birdypet.error;
            }
            else {
              h3.innerHTML = `<a href="/birdypet/${birdypet.id}" target="_blank">${h3.innerText}</a>`;
            }
          }
        });
      }
    });
  </script>

<%- include('../footer.ejs') %>
