<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', { title: "FAQ" }) %>

  <div class="row">
     <% for (var i = 0, len = faqs.length; i < len; i++) { %>
      <% faq = faqs[i] %>
      <div>
        <a name="<%= faq.slug %>" class="p-5"></a>
        <h4><%= faq.question %></h4>

        <%- faq.answer %>
      </div>

      <% if (i < len - 1) { %>
      <%- include('../partials/spacer.ejs') %>
      <% } %>
     <% } %>
  </div>

<%- include('../footer.ejs') %>
