<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', { title: "FAQ" }) %>

  <div class="row">
    <div class="col-md-3 mb-5">
      <div class="list-group">
       <% for (var faq of faqs) { %>
        <a class="list-group-item list-group-item-action" href="#<%= faq.slug %>">
          <%= faq.question %>
        </a>
       <% } %>
      </div>
    </div>

    <div id="faq" class="col-md-9">
     <% for (var i = 0, len = faqs.length; i < len; i++) { %>
      <% faq = faqs[i] %>
      <div>
        <h4 class="mb-4"><a name="<%= faq.slug %>"></a><%= faq.question %></h4>

        <%- faq.answer %>
      </div>

      <% if (i < len - 1) { %>
      <%- include('../partials/spacer.ejs') %>
      <% } %>
     <% } %>
    </div>
  </div>

<%- include('../footer.ejs') %>
