<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', { title : bird.commonName, subtitle : bird.scientificName }) %>

  <% var licenses = {
       "CC0" : "https://creativecommons.org/publicdomain/zero/1.0/",
       "CC-BY 1.0" : "https://creativecommons.org/licenses/by/1.0/",
       "CC-BY 2.0" : "https://creativecommons.org/licenses/by/2.0/",
       "CC-BY 3.0" : "https://creativecommons.org/licenses/by/3.0/",
       "CC-BY 4.0" : "https://creativecommons.org/licenses/by/4.0/",
       "CC-BY-SA 1.0" : "https://creativecommons.org/licenses/by-sa/1.0/",
       "CC-BY-SA 2.0" : "https://creativecommons.org/licenses/by-sa/2.0/",
       "CC-BY-SA 3.0" : "https://creativecommons.org/licenses/by-sa/3.0/",
       "CC-BY-SA 4.0" : "https://creativecommons.org/licenses/by-sa/4.0/",
       "CC-BY-NC 1.0" : "https://creativecommons.org/licenses/by-nc/1.0/",
       "CC-BY-NC 2.0" : "https://creativecommons.org/licenses/by-nc/2.0/",
       "CC-BY-NC 3.0" : "https://creativecommons.org/licenses/by-nc/3.0/",
       "CC-BY-NC 4.0" : "https://creativecommons.org/licenses/by-nc/4.0/",
       "CC-BY-NC-SA 1.0" : "https://creativecommons.org/licenses/by-nc-sa/1.0/",
       "CC-BY-NC-SA 2.0" : "https://creativecommons.org/licenses/by-nc-sa/2.0/",
       "CC-BY-NC-SA 3.0" : "https://creativecommons.org/licenses/by-nc-sa/3.0/",
       "CC-BY-NC-SA 4.0" : "https://creativecommons.org/licenses/by-nc-sa/4.0/",
       "Pixabay" : "https://pixabay.com/service/license/"
     }
  %>

  <div class="row">
    <div class="col-12 col-md-8 text-center mb-4 position-relative">
      <span class="h-100 d-inline-block position-relative">
       <% if (locals.loggedInUser) { %>
        <div class="birdypet-actions">
          <button class="wishlist-heart btn btn-sm" data-id="<%= bird.id %>" role="button">
            <%= bird.wishlisted ? (bird.wishlisted == 2 ? 'ðŸŒŸ' : 'â¤ï¸') : 'ðŸ¤' %>
          </button>
        </div>
       <% } %>
        <img id="birdy" src="<%= variant.image %>" class="birdypet full <%= !locals.loggedInUser || bird.discovered ? "hatched" : "unhatched" %>">
      </span>
      <br>
      <span id="attribution" class="bg-light d-inline-block px-2 py-1" style="display: <%= variant.source == "n/a" ? "none" : "inline-block" %>">
       <% if (variant.source != "n/a") { %>
        &copy;

        <a id="attribution-license" class="small mt-1" href="<%= licenses[variant.license] %>" target="_blank" rel="noopener" style="display: <%= variant.license ? "inline-block" : "none" %>">
          <%= variant.license %>
        </a>

        <a id="attribution-credit" href="<%= variant.source %>" target="_blank" rel="noopener">
          <%= variant.credit %>
        </a>

        <span id="attribution-notes" class="bg-dark rounded-circle px-2 ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= variant.notes %>" style="display: <%= variant.notes ? "inline-block" : "none" %>">â„¹</span>

       <% } %>
      </span>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <h5 class="pt-3">
        Variants
       <% if (locals.loggedInUser && loggedInUser.contributor) { %>
        <a href="/birdypedia/bird/<%= bird.id_slug %>/variant/new" class="btn btn-sm btn-light p-1 ms-3">+ new</a>
       <% } %>
      </h5>

        <div id="birdDisplay">
          <div class="row mb-3">
         <% for (var variant of bird.variants) { %>
         <% if (!variant.special) { %>
            <div class="col-3 col-md-6 col-lg-4 mb-3 text-center">
              <div class="m-0 birdypet mini <%= !locals.loggedInUser || bird.discovered ? "hatched" : "unhatched" %> checkmark<%= Math.min(2, variant.hatched) %>" data-id="<%= variant.id %>" data-image="<%= variant.image %>" data-credit="<%= variant.credit %>" data-source="<%= variant.source %>" data-license="<%= variant.license %>" data-notes="<%= encodeURIComponent(variant.notes) %>" style="background-image: url('<%= variant.image %>');"></div>
              <% if (locals.loggedInUser && loggedInUser.contributor) { %>
                <a href="/birdypedia/bird/<%= bird.id_slug %>/variant/<%= variant.id %>" class="btn btn-sm btn-light mb-2">edit</a>
              <% } %>
              <div class="small">
                <small>&copy; <a href="/birdypedia/artists/<%= encodeURIComponent(variant.credit) %>"><%= variant.credit %></a></small><br>
                <%- variant.subspecies ? `<em>${variant.subspecies}</em><br>` : '' %>
                <%- variant.label ? `${variant.label}` : '' %>
              </div>
            </div>
         <% } %>
         <% } %>
          </div>

       <% if (bird.variants.find((variant) => variant.special)) { %>
        <h6>Special Variants</h6>
         <% for (var variant of bird.variants) { %>
         <% if (variant.special) { %>
          <div class="row mb-3">
            <div class="col-3 g-0 text-end">
              <div class="bg-white border border-1 m-0 birdypet mini <%= !locals.loggedInUser || variant.hatched ? "hatched" : "unhatched" %> checkmark<%= Math.min(2, variant.hatched) %>" data-id="<%= variant.id %>" data-image="<%= variant.image %>" data-credit="<%= variant.credit %>" data-source="<%= variant.source %>" data-license="<%= variant.license %>" data-notes="<%= encodeURIComponent(variant.notes) %>" style="background-image: url('<%= variant.image %>');"></div>
            </div>
            <div class="col-9 small">
              <% if (locals.loggedInUser && loggedInUser.contributor) { %>
                <a href="/birdypedia/bird/<%= bird.id_slug %>/variant/<%= variant.id %>" class="btn btn-sm btn-light m-2 float-end">edit</a>
              <% } %>
              <%- variant.label ? `${variant.label}` : '' %>
            </div>
          </div>
         <% } %>
         <% } %>
       <% } %>
        </div>
    </div>
  </div>

  <div class="my-5 pt-3">
    <h2 class="text-center">
      BirdyPets
    </h2>
  </div>  

  <%- include('../partials/pagination.ejs') %>

  <div id="lazyLoader" class="row g-0" data-endpoint="aviary" data-params='{"species":"<%= bird.id %>","memberInfo":true}'></div>

  <%- include('../partials/pagination.ejs') %>

  <%- include('../scripts/lazyloader.ejs', { paginate: currentPage, skipParams : true }) %>

  <script type="text/javascript">
    $(document).ready(function () {
      var urlParams = new URLSearchParams(window.location.search);

      $('#birdDisplay').on('click', '.birdypet.mini', function (event) {
        var variant = event.target;
        var full = document.getElementById('birdy');
        var attribution = document.getElementById('attribution');
        var credit = document.getElementById('attribution-credit');
        var license = document.getElementById('attribution-license');
        var notes = document.getElementById('attribution-notes');

        var licenses = <%- JSON.stringify(licenses) %>;

        full.src = variant.getAttribute('data-image');

        if (variant.getAttribute('data-source').startsWith('http')) {
          attribution.style.display = "inline-block";
          credit.href = variant.getAttribute('data-source');
          credit.innerHTML = variant.getAttribute('data-credit');

          if (variant.getAttribute('data-license')) {
            license.style.display = "inline-block";
            license.href = licenses[variant.getAttribute('data-license')];
            license.innerHTML = variant.getAttribute('data-license');
          }
          else {
            license.style.display = "none";
          }

          if (variant.getAttribute('data-notes') && variant.getAttribute('data-notes') != "null") {
            notes.style.display = "inline-block";
            notes.setAttribute('title', decodeURIComponent(variant.getAttribute('data-notes')));
            tooltipList.forEach((tooltip) => tooltip.update());
          }
          else {
            notes.style.display = "none";
          }
        }
        else {
          attribution.style.display = "none";
        }

        urlParams.set('variant', variant.getAttribute('data-id'));

        window.history.replaceState(null, '', window.location.pathname + '?' + urlParams.toString());

        if (variant.className.includes('unhatched')) {
          $(full).removeClass('hatched').addClass('unhatched');
        }
        else {
          $(full).removeClass('unhatched').addClass('hatched');
        }
      });
    });
  </script>

<%- include('../scripts/tooltips.ejs') %>
<%- include('../footer.ejs') %>
