<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', { title : bird.commonName, subtitle : bird.scientificName }) %>

  <div class="text-center">
    <span class="h-100 d-inline-block position-relative">
     <% if (locals.loggedInUser) { %>
      <button class="wishlist-heart btn btn-sm" data-id="<%= bird.code %>" role="button">
        <%= bird.wishlisted ? (bird.wishlisted == 2 ? 'ðŸŒŸ' : 'â¤ï¸') : 'ðŸ¤' %>
      </button>
     <% } %>
      <img id="birdy" src="<%= variant.image %>" class="birdypet full <%= variant.hatched ? "hatched" : "unhatched" %>">
      <a class="attribution bg-light" href="<%= variant.source %>" target="_blank">&copy; <%= variant.credit %></a>
    </span>
  </div>

  <h4 class="mb-3">Who has one?</h4>

  <% if (bird.members?.length > 0) { %>
    <% for (var i = 0, len = bird.members.length; i < len; i++) { %>
      <% if (i % 4 === 0) { %>
        <% if (i > 0) { %>
          </div>
        <% } %>
      <div class="row">
      <% } %>
        <div class="col-md-3 mb-3">
          <div class="row">
          <div class="col-3 text-center">
            <a href="/aviary/<%= bird.members[i].id %>?search=%22<%= bird.commonName %>%22">
              <img class="rounded-circle" src="<%= bird.members[i].avatar %>" data-id="<%= bird.members[i].id %>" onerror="missingMemberAvatar(this)">
            </a>
          </div>
          <div class="col-8 mb-3">
            <h5 class="pt-2">
              <a href="/aviary/<%= bird.members[i].id %>?search=%22<%= bird.commonName %>%22">
                <%= bird.members[i].username %>
              </a>
            </h5>
          </div>
        </div>
      </div>
    <% }; %>
  <% } else { %>
    <p><em>This bird doesn't appear to be in anyone's aviaries... yet!</em></p>
  <% } %>

  <script type="text/javascript">
    $(document).ready(function () {
      var urlParams = new URLSearchParams(window.location.search);

      $('#birdDisplay').on('click', '.birdypet.mini', function (event) {
        var variant = event.target;
        var full = document.getElementById('birdy');
        var attribution = document.querySelector('.attribution');

        full.src = variant.getAttribute('data-image');

        attribution.href = variant.getAttribute('data-source');
        attribution.innerHTML = `&copy; ${variant.getAttribute('data-credit')}`;

        urlParams.set('variant', variant.getAttribute('data-id'));

        window.history.replaceState(null, '', window.location.pathname + '?' + urlParams.toString());

        if (variant.className.includes('unhatched')) {
          $(full).removeClass('hatched').addClass('unhatched');
        }
        else {
          $(full).removeClass('unhatched').addClass('hatched');
        }
      });
    });
  </script>

<%- include('../footer.ejs') %>
