<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { title : bird.commonName, breadcrumb : "Birdypedia" }) %>

    <div class="row">
      <div class="col-md-8 mb-3">
        <div class="text-center">
          <div class="d-inline-block position-relative">
            <img id="birdy" class="bg-white birdypet full border border-1 <%= bird.variants[0].owned > 0 ? "hatched" : "unhatched" %>" src="<%= bird.variants[0].image %>">
            <a class="attribution bg-light" href="<%= bird.variants[0].source %>" target="_blank">&copy; <%= bird.variants[0].credit %></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 border-md-start text-center text-md-start">
        <h5>Scientific Name</h5>
        <p><%= bird.scientificName %></p>

        <h5 class="pt-3">Family</h5>
        <p><a href="/birdypedia?family=<%= bird.family %>"><%= bird.family %></a></p>

        <h5 class="pt-3">Order</h5>
        <p><%= bird.order %></p>

        <% if (bird.variants.length > 1) { %>
        <h5 class="pt-3">Variants</h5>
          <div id="birdDisplay">
          <% for (var variant of bird.variants) { %>
            <p>
              <div class="bg-white border border-1 birdypet mini <%= variant.owned > 0 ? "hatched" : "unhatched" %>" data-id="<%= `${variant.prefix}-${variant.alias}` %>" data-image="<%= variant.image %>" data-credit="<%= variant.credit %>" data-source="<%= variant.source %>" style="background-image: url('<%= variant.image %>');"></div>
              <%= variant.label %> <%- variant.owned > 0 ? "<span class=\"checkmark\"></span>" : "" %>
            </p>
          <% } %>
          </div>
        <% } %>

        <h5 class="pt-3">Hatches From</h5>
        <p>
        <% for (var adjective of bird.adjectives.sort()) { %>
            <%= adjective %> eggs<br>
        <% } %>
        </p>
      </div>
    </div>

  <%- include('../partials/spacer.ejs') %>

  <h4 class="mb-3">Who has one?</h4>

  <% if (bird.members?.length > 0) { %>
    <% for (var i = 0, len = bird.members.length; i < len; i++) { %>
      <% if (i % 4 === 0) { %>
        <% if (i > 0) { %>
          </div>
        <% } %>
      <div class="row">
      <% } %>
        <div class="col-md-3 mb-3">
          <div class="row">
          <div class="col-3 text-center">
            <a href="/aviary/<%= bird.members[i].id %>?search=<%= bird.commonName %>">
              <img class="member-avatar" src="<%= bird.members[i].avatar %>" data-id="<%= bird.members[i].id %>" onerror="missingMemberAvatar(this)">
            </a>
          </div>
          <div class="col-8 mb-3">
            <h5 class="pt-2">
              <a href="/aviary/<%= bird.members[i].id %>?search=<%= bird.commonName %>">
                <%= bird.members[i].username %>
              </a>
            </h5>
          </div>
        </div>
      </div>
    <% }; %>
  <% } else { %>
    <p><em>This bird doesn't appear to be in anyone's aviaries... yet!</em></p>
  <% } %>

  <script type="text/javascript">
  var urlParams = new URLSearchParams(window.location.search);

  $('#birdDisplay').on('click', '.birdypet.mini', function (event) {
    var variant = event.target;
    var full = document.getElementById('birdy');
    var attribution = document.querySelector('.attribution');

    full.src = variant.getAttribute('data-image');

    attribution.href = variant.getAttribute('data-source');
    attribution.innerHTML = `&copy; ${variant.getAttribute('data-credit')}`;

    urlParams.set('variant', variant.getAttribute('data-id'));

    window.history.replaceState(null, '', window.location.pathname + '?' + urlParams.toString());

    if (variant.className.includes('unhatched')) {
      $(full).removeClass('hatched').addClass('unhatched');
    }
    else {
      $(full).removeClass('unhatched').addClass('hatched');
    }
  });
  </script>

<%- include('../footer.ejs') %>
