<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', { title : bird.commonName, subtitle : bird.scientificName }) %>

  <div class="text-center mb-4">
    <span class="h-100 d-inline-block position-relative">
     <% if (locals.loggedInUser) { %>
      <div class="birdypet-actions">
        <button class="wishlist-heart btn btn-sm" data-id="<%= bird.id %>" role="button">
          <%= bird.wishlisted ? (bird.wishlisted == 2 ? 'ðŸŒŸ' : 'â¤ï¸') : 'ðŸ¤' %>
        </button>
      </div>
     <% } %>
      <img id="birdy" src="<%= variant.image %>" class="birdypet full <%= variant.hatched ? "hatched" : "unhatched" %>">
      <a class="attribution bg-light" href="<%= variant.source %>" target="_blank" rel="noopener">&copy; <%= variant.credit %></a>
    </span>
  </div>

  <h4 class="mb-4">Who has one?</h4>
  <% let membersOwned = bird.members ? bird.members.filter((member) => member.owned > 0) : []; %>
  <% if (membersOwned.length > 0) { %>
    <% for (let i = 0, len = membersOwned.length; i < len; i++) { %>
      <% let member = membersOwned[i] %>
      <% if (i % 4 === 0) { %>
        <% if (i > 0) { %>
          </div>
        <% } %>
      <div class="row">
      <% } %>
        <div class="col-md-3 mb-3">
          <div class="row">
          <div class="col-3 text-center">
            <a href="/aviary/<%= member.id %>?search=%22<%= bird.commonName %>%22">
              <img class="rounded" src="<%= member.avatar %>" data-id="<%= member.id %>" onerror="missingMemberAvatar(this)">
            </a>
          </div>
          <div class="col-8 mb-3">
            <h5 class="pt-2">
              <a href="/aviary/<%= member.id %>?search=%22<%= bird.commonName %>%22">
                <%= member.username %>
              </a>
            </h5>
          </div>
        </div>
      </div>
    <% }; %>
  <% } else { %>
    <p><em>This bird doesn't appear to be in any aviaries... yet!</em></p>
  <% } %>

  <h4 class="mt-4 mb-4">Who wants one?</h4>
  <% let membersWishlisted = bird.members ? bird.members.filter((member) => member.wishlisted > 0) : []; %>
  <% if (membersWishlisted.length > 0) { %>
    <% for (let i = 0, len = membersWishlisted.length; i < len; i++) { %>
      <% let member = membersWishlisted[i] %>
      <% if (i % 4 === 0) { %>
        <% if (i > 0) { %>
          </div>
        <% } %>
      <div class="row">
      <% } %>
        <div class="col-md-3 mb-3">
          <div class="row">
          <div class="col-3 text-center">
            <a href="/aviary/<%= member.id %>?search=%22<%= bird.commonName %>%22">
              <img class="rounded" src="<%= member.avatar %>" data-id="<%= member.id %>" onerror="missingMemberAvatar(this)">
            </a>
          </div>
          <div class="col-8 mb-3">
            <h5 class="pt-2">
              <a href="/aviary/<%= member.id %>?search=%22<%= bird.commonName %>%22">
                <%= member.username %>
              </a>
            </h5>
          </div>
        </div>
      </div>
    <% }; %>
  <% } else { %>
    <p><em>This bird doesn't appear to be in any wishlists... yet!</em></p>
  <% } %>

  <script type="text/javascript">
    $(document).ready(function () {
      var urlParams = new URLSearchParams(window.location.search);

      $('#birdDisplay').on('click', '.birdypet.mini', function (event) {
        var variant = event.target;
        var full = document.getElementById('birdy');
        var attribution = document.querySelector('.attribution');

        full.src = variant.getAttribute('data-image');

        attribution.href = variant.getAttribute('data-source');
        attribution.innerHTML = `&copy; ${variant.getAttribute('data-credit')}`;

        urlParams.set('variant', variant.getAttribute('data-id'));

        window.history.replaceState(null, '', window.location.pathname + '?' + urlParams.toString());

        if (variant.className.includes('unhatched')) {
          $(full).removeClass('hatched').addClass('unhatched');
        }
        else {
          $(full).removeClass('unhatched').addClass('hatched');
        }
      });
    });
  </script>

<%- include('../footer.ejs') %>
