<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', { title : { text : `${egg.name} Egg`, prepend : `<img class="me-2" style="height: 4rem;" src="/img/eggs/${egg.icon ? egg.name : 'default'}.png"><span class="text-capitalize">`, append : '</span>' } }) %>

  <%- include('../partials/pagination.ejs') %>

  <div id="lazyLoader" class="row" data-endpoint="/api/birdypedia"></div>

  <%- include('../partials/pagination.ejs') %>

  <%- include('../scripts/lazyloader.ejs', { template: '../templates/birdypedia.ejs', paginate: currentPage, skipParams : true }) %>

  <script type="text/javascript">
    $('#lazyLoader').on('click', '.birdypet.mini', function (event) {
      var variant = event.target;
      var full = variant.parentNode.parentNode.parentNode.querySelector('.birdypet');
      full.style.backgroundImage = variant.style.backgroundImage;
      if (variant.className.includes('unhatched')) {
        $(full).removeClass('hatched').addClass('unhatched');
      }
      else {
        $(full).removeClass('unhatched').addClass('hatched');
      }
    });
  </script>

<%- include('../footer.ejs') %>
