<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', { title : "Birdypedia", subtitle: `Eggs - ${selectedLetter}` }) %> 

  <div class="row">
   <% for (var egg of eggs) { %>
    <div class="col-12 col-md-4">
      <div class="row">
        <div class="col-5 offset-1">
          <a href="/birdypedia/eggs/<%= egg.name %>"><%= egg.name %></a>
        </div>
        <div class="col-5 text-end">
          <small class="text-muted">
            <% if (locals.loggedInUser) { %>
              <% if (egg.memberTotal == egg.speciesTotal) { %>
                <span class="checkmark"></span>
              <% } %>
              (<%= egg.memberTotal %>/<%= egg.speciesTotal %>)
            <% } else { %>
              (<%= egg.speciesTotal %>)
            <% } %>
          </small>
        </div>
      </div>
    </div>
   <% } %>
  </div>
 
<%- include('../footer.ejs') %>
