<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { title : "Eggs Guide", breadcrumb: "Birdypedia" }) %>

    <div class="row">
      <div class="col-4">
        <h4>Egg</h4>
        <select id="eggList" class="form-select">
          <option value=""></option>
        <% for (var adjective of adjectives) { %>
          <option value="<%= adjective %>">
            <%= adjective %>
          </option>
        <% } %>
        </select>
      </div>
    </div>

    <%- include('../partials/spacer.ejs'); %>

    <div id="birdDisplay" class="row"></div>

<script type="text/javascript">
  var userpets = ["<%- userpets.join('","') %>"];

  var cache = {};

  $('#birdDisplay').on('click', '.birdypet.mini', function (event) {
    var variant = event.target;
    var full = variant.parentNode.parentNode.parentNode.querySelector('.birdypet');

    full.style.backgroundImage = variant.style.backgroundImage;

    if (variant.className.includes('unhatched')) {
      $(full).removeClass('hatched').addClass('unhatched');
    }
    else {
      $(full).removeClass('unhatched').addClass('hatched');
    }
  });

  $('#eggList').on('change', function () {
    var adjective = this.value;

    try {
      $('#birdDisplay').html(`
        <div class="spinner-border d-block mx-auto" role="status">
          <span class="visually-hidden">Saving...</span>
        </div>
      `);

      if (cache[adjective]) {
        displayBirdyPets(adjective);
      }
      else {
        $.getJSON(`/api/birdypedia/eggs/${adjective}`, function (data) {
          cache[adjective] = data;
          displayBirdyPets(adjective);
        });
      }
    } catch (err) {
      $('#birdDisplay').html("");
    }
  });

  function displayBirdyPets (adjective) {
    var birds = cache[adjective];
    var output = "";

    for (var bird of birds) {
        bird.variants.sort( function (a, b) { 
          var aIndex = userpets.indexOf(a.id);
          var bIndex = userpets.indexOf(b.id);

          return (aIndex > -1 ? aIndex : Infinity) - (bIndex > -1 ? bIndex : Infinity);
        });

        output += `<%- include('../partials/js/birdypedia.ejs') %>`;
    }

    $("#birdDisplay").html(output);
    lazyLoadInstance.update();
  }
</script>
<%- include('../footer.ejs') %>
