<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { title : "Eggs Guide", breadcrumb: "Birdypedia" }) %>

    <div class="row mb-5">
      <div class="col-4 text-center">
        <input class="form-control" list="eggListOptions" id="eggList" placeholder="Search eggs..." autocomplete="off">

        <datalist id="eggListOptions">
        <% for (var adjective of adjectives) { %>
          <option value="<%= adjective %>" />
        <% } %>
        </datalist>
      </div>
    </div>

    <div id="birdDisplay" class="row"></div>

<script type="text/javascript">
  var userpets = [<%= userpets %>];

  var cache = {};

  $('#eggList').on('input', function () {
    var value = this.value;
    var option = $('#eggListOptions option[value="' + value + '"]')[0];
    try {
      var adjective = option.value;

      $('#birdDisplay').html(`
        <div class="spinner-border d-block mx-auto" role="status">
          <span class="visually-hidden">Saving...</span>
        </div>
      `);

      if (cache[adjective]) {
        displayBirdyPets(adjective);
      }
      else {
        $.getJSON(`/api/birdypedia/eggs/${adjective}`, function (data) {
          cache[adjective] = data;
          displayBirdyPets(adjective);
        });
      }
    } catch (err) {
      $('#birdDisplay').html("");
    }
  });

  function displayBirdyPets (adjective) {
    var birdypets = cache[adjective];
    var output = "";
    for (var birdypet of birdypets) {
        output += `<div class="col-md-3 mb-4" data-id="${birdypet.id}" data-credit="${birdypet.credit}" data-original="${birdypet.illustration}">`;
          output += `<div class="card">`;
            output += `<div class="lazy birdypet birdypet-${userpets.includes(birdypet.id * 1) ? "hatched" : "unhatched"}"`;
              output += ` data-bg="https://storage.googleapis.com/birdypets/${birdypet.species.order}/${birdypet.species.family}/${birdypet.species.scientificName}/${birdypet.id}.jpg">`;
            output += `</div>`;
             output += `<h3 class="text-center">${birdypet.species.commonName}</h3>`;
             output += `<h6 class="text-center">${birdypet.version}&nbsp;${birdypet.label}</h6>`;
          output += `</div>`;
        output += `</div>`;
    }

    $("#birdDisplay").html(output);
    lazyLoadInstance.update();
  }
</script>
<%- include('../footer.ejs') %>
