<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { title : "Birds by Family", breadcrumb: "Birdypedia" }) %>

    <%- include('../partials/filter-search-sort.ejs', { selectedFamily : locals.selectedFamily ? selectedFamily : "" }) %>

    <%- include('../partials/spacer.ejs'); %>

    <div id="birdDisplay" class="row filter-container" data-delay="true"></div>

<script type="text/javascript">
  var filterizr = {
    destroy : function () {}
  };

  var userpets = [<%= userpets %>];
  var cache = {};
  var timeout = null;

  var statePushed = false;

  $('#family').on('change', function () {
    var family = this.value;

    filterizr.destroy();

    try {
      if (family == "") {
        throw "";
      }

      $('#birdDisplay').html(`
        <div class="spinner-border d-block mx-auto" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      `);

      if (statePushed) {
        window.history.replaceState(null, null, `/birdypedia/family/${family}`);
      }
      else {
        window.history.pushState(null, null, `/birdypedia/family/${family}`);
        statePushed = true;
      }

      if (cache[family]) {
        displayBirdyPets(family);
      }
      else {
        $.getJSON(`/api/birdypedia/family/${family}`, function (data) {
          cache[family] = data;
          displayBirdyPets(family);
        });
      }
    } catch (err) {
      $('#birdDisplay').html("");

      if (statePushed) {
        window.history.go(-1);
        statePushed = false;
      }
    }
  });

  <% if (locals.selectedFamily) { %>
    $('#family').change();
  <% } %>

  function displayBirdyPets (family) {
    var birdypets = cache[family];
    var output = "";

    for (var birdypet of birdypets) {
        output += `<%- include('../partials/birdypet.js.ejs') %>`;
    }

    $("#birdDisplay").html(output);

    lazyLoadInstance.update();

    var filterizr = new window.Filterizr('.filter-container', {
      controlsSelector: '.filter-control',
      gridItemsSelector: '.filter-item',
      multifilterLogicalOperator: 'and',
      layout: 'sameWidth',
      spinner: {
        enabled: true
      }
    });
  }
</script>

<%- include('../footer.ejs') %>
