<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', { title : "Birdypedia" }) %> 

  <div id="toggles" class="row select-none">
    <div class="col-2"></div>
    <div class="col-4 text-center">
      <a class="btn btn-lg btn-primary" href="/birdypedia">
        <h2>🐦</h2>
        <h5>Bird Guide</h5>
      </a>
    </div>
    <div class="col-4 text-center">
      <a class="btn btn-lg btn-secondary" href="/birdypedia/eggs">
        <h2>🥚</h2>
        <h5>Egg Guide</h5>
      </a>
    </div>
    <div class="col-2"></div>
  </div>

  <%- include('../partials/filter-search-sort.ejs', { includeAllFamilies : true }) %>

  <%- include('../partials/spacer.ejs'); %>

  <div id="lazyLoader" class="row" data-endpoint="/api/birdypedia"></div>

  <%- include('../scripts/lazyloader.ejs', { template: '../templates/birdypedia.ejs' }) %>

  <script type="text/javascript">
    $('#lazyLoader').on('click', '.wishlist-heart', function (event) {
      var button = event.target;

      if (!button.style.opacity) { 
        var action = button.getAttribute('data-action');
        button.style.opacity = .5;

        $.ajax({
          url: `/api/wishlist/${action}/${button.getAttribute('data-id')}`,
          method: 'post',
          dataType: "json",
          success: function(data) {
            button.style.opacity = null;
            if (action == "add") {
              button.innerHTML = "❤️";
              button.setAttribute('data-action', 'remove');
            }
            else {
              button.innerHTML = "🤍";
              button.setAttribute('data-action', 'add');
            }
          }
        });
      }
    });

    $('#lazyLoader').on('click', '.birdypet.mini', function (event) {
      var variant = event.target;
      var full = variant.parentNode.parentNode.parentNode.querySelector('.birdypet');
      full.style.backgroundImage = variant.style.backgroundImage;
      if (variant.className.includes('unhatched')) {
        $(full).removeClass('hatched').addClass('unhatched');
      }
      else {
        $(full).removeClass('unhatched').addClass('hatched');
      }
    });
  </script>
<%- include('../footer.ejs') %>
