<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', { title : locals.bird ? bird.commonName : 'New Species', subtitle : bird ? 'Edit Species' : '' }) %>

  <div id="form" class="row justify-content-center">
    <div class="col-12 col-md-5 mb-3">
      <h5><label for="form-commonName">Common Name</label></h5>
      <input type="text" id="form-commonName" class="form-control mb-3 w-100" value="<%= locals.bird?.commonName %>">

      <h5><label for="form-scientificName">Scientific Name</label></h5>
      <input type="text" id="form-scientificName" class="form-control mb-3 w-100" value="<%= locals.bird?.scientificName %>" <%= locals.bird ? 'disabled="true"' : '' %>>

      <h5><label for="form-family">Family</label></h5>
      <select id="form-family" class="form-select mb-3" <%= locals.bird ? 'disabled="true"' : '' %>>
        <option></option>
       <% for (let family of families) { %>
        <option value="<%= family.name %>" <%= locals.bird?.family == family.name ? 'selected' : '' %>>
          <%= family.display %>
        </option>
       <% } %>
      </select>
    </div>

    <div class="col-12 col-md-5 mb-3">
      <h5>Alternate Names <em>(optional)</em></h5>

      <div id="form-alternateNames">
       <% locals.bird?.alternateNames.forEach((alternate) => { %>
        <div class="row">
          <div class="col-8">
            <input type="text" name="alternateNames[]" class="form-control mb-3 w-100" value="<%= alternate.name %>">
          </div>
          <div class="col-4">
            <select name="alternateLangs[]" class="form-control">
             <% for (let lang of languages) { %>
              <option value="<%= lang.code %>" <%= alternate.lang == lang.code ? 'selected' : '' %>>
                <%= lang.name %>
              </option>
             <% } %>
            </select>
          </div>
        </div>
       <% }) %>
      </div>

      <div class="text-end">
        <button id="addAlternateName" class="btn btn-sm btn-dark" role="button">+</button>
      </div>
    </div>

    <div class="col-12 text-center">
      <a id="submitForm" class="btn btn-dark"><%= locals.bird ? 'Update' : 'Create' %></a>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#addAlternateName').on('click', function () {
        let container = document.createElement('div');

        container.classList = 'row';
        container.innerHTML = `
          <div class="col-8">
            <input type="text" name="alternateNames[]" class="form-control mb-3 w-100">
          </div>
          <div class="col-4">
            <select name="alternateLangs[]" class="form-control">
             <% for (let lang of languages) { %>
              <option value="<%= lang.code %>">
                <%= lang.name %>
              </option>
             <% } %>
            </select>
          </div>
        `;

        document.getElementById('form-alternateNames').appendChild(container);
      });

      $('#submitForm').on('click', function () {
        var container = document.getElementById('form');

        if (!container.classList.contains('loadingData')) {
          container.classList.add('loadingData');

          var alternateNames = [];
          var alternateLangs = [];

          $('input[name="alternateNames[]"]').each((i, input) => { alternateNames.push(input.value) });
          $('select[name="alternateLangs[]"]').each((i, select) => { alternateLangs.push(select.value) });

          API.call('bird', 'PUT', {
              <%- locals.bird ? `id: "${bird.id}",` : '' %>
              family: $('#form-family').val(),
              commonName: $('#form-commonName').val(),
              scientificName: $('#form-scientificName').val(),
              alternateNames: alternateNames,
              alternateLangs: alternateLangs
            }, function (response) {
              window.location.replace(`/birdypedia/bird/${response?.replace(/\s/g, '-')}<%= locals.bird? '' : '/variant/new' %>`);
            }, function (error) {
              container.classList.remove('loadingData');
            }
          );
        }
      });
    });
  </script>

<%- include('../footer.ejs') %>
