<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', { title : bird.commonName, subtitle : variant ? 'Edit Variant' : 'Upload New Variant' }) %>

  <form id="form" class="row">
    <div class="col-12 col-md-8 mb-4">
      <div class="row mb-3">
        <div class="col-12 col-md-6">
          <h5><label for="form-image">Image</label></h5>
          <input type="file" id="form-image" class="form-control mb-3 w-100" accept="image/png, image/jpeg, image/jpg"> 
        </div>
        <div class="col-6 col-md-3">
          <h5><label for="form-style">Style</label></h5>
          <select id="form-style" class="form-select">
            <option value="2" <%= variant?.style == 2 ? "selected" : "" %>>Photo</option>
            <option value="1" <%= variant?.style == 1 ? "selected" : "" %>>Illustration</option>
            <option value="-1" <%= variant?.style == -1 ? "selected" : "" %>>Placeholder</option>
          </select>
        </div>
        <div class="col-6 col-md-3">
          <h5><label for="form-license">License</label></h5>
          <select id="form-license" class="form-select">
            <option value="">(n/a)</option>
           <% for (let license of ["CC0", "CC-BY 1.0", "CC-BY 2.0", "CC-BY 3.0", "CC-BY 4.0", "CC-BY-SA 1.0", "CC-BY-SA 2.0", "CC-BY-SA 3.0", "CC-BY-SA 4.0", "CC-BY-NC 1.0", "CC-BY-NC 2.0", "CC-BY-NC 3.0", "CC-BY-NC 4.0", "CC-BY-NC-SA 1.0", "CC-BY-NC-SA 2.0", "CC-BY-NC-SA 3.0", "CC-BY-NC-SA 4.0", "CC-BY-NC-ND 4.0", "Pixabay"]) { %>
            <option <%= variant?.license == license ? "selected" : "" %>><%= license %></option>
           <% } %>
          </select>
        </div>
      </div>

      <h5><label for="form-source">Source</label></h5>
      <input type="text" id="form-source" class="form-control mb-3 w-100" value="<%= variant?.source %>">

      <div class="row mb-3">
        <div class="col-12 col-md-6">
          <h5><label for="form-credit">Credit</label></h5>
          <div class="mb-3">
            <input class="typeahead form-control" type="text" id="form-credit" value="<%= variant?.credit %>">
          </div>
        </div>
        <div class="col-12 col-md-6">
          <h5 class="ms-5"><label>Contributor</label></h5>
          <%- include('../partials/membersearch.ejs', { selectedMember : variant ? variant.contributor : loggedInUser }) %>

          <div class="form-check form-check-inline small mt-2 ms-5">
            <input class="form-check-input" type="checkbox" id="form-creator" <%= variant && variant.contributor && variant.contributor.id == variant.creator?.id ? 'checked' : '' %>>
            <label class="form-check-label" for="form-creator">Contributor is also artist/photographer</label>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-6">
          <h5><label for="form-label">Label</label></h5>
          <input type="text" id="form-label" class="form-control mb-3 w-100" value="<%= variant?.label %>">
        </div>
        <div class="col-6">
          <h5><label for="form-subspecies">Subspecies</label></h5>
          <input type="text" id="form-subspecies" class="form-control mb-3 w-100" value="<%= variant?.subspecies %>">
        </div>
      </div>


      <h5><label for="form-notes">Notes</label></h5>
      <input type="text" id="form-notes" class="form-control mb-3 w-100" maxlength="250" value="<%= variant ? variant.notes : '' %>">

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="form-full" <%= variant ? (variant.full ? 'checked' : '') : 'checked' %>>
        <label class="form-check-label" for="form-full">
            Full image (not a headshot/closeup/detail)
        </label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="form-special" <%= variant?.special ? 'checked' : '' %>>
        <label class="form-check-label" for="form-special" <%= loggedInUser.admin ? '' : 'disabled' %>>
            Special (not available through hatching)
        </label>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 text-center">
      <p>Preview:</p>
      <img id="form-preview" class="birdypet" src="<%= variant ? variant.image : '/img/placeholder.jpeg' %>">
    </div>

    <div class="col-12 text-center">
      <a id="submitVariant" class="btn btn-dark"><%= variant ? 'Update' : 'Upload' %></a>
     <% if (variant) { %>
      <a id="deleteVariant" class="btn btn-danger ms-5">Delete</a>
     <% } %>
    </div>
  </form>

  <%- include('../scripts/membersearch.ejs', { include : ['self'], selectedMember : variant ? variant.contributor : loggedInUser }) %>

  <script type="text/javascript">
    $(document).ready(function () {
      var reader = new FileReader();

      $('#form-image').on('change', function () {
        if(this.files[0].size > 1048576){
          alert("Please limit files to 1MB or less (emphasis on less)");
          this.value = "";
        }
        else {
          reader.onload = function() {
            $('#form-preview').attr('src', reader.result);
          }

          reader.readAsDataURL(event.target.files[0]);
        }
      });

      $('#form-credit').typeahead({
        hint: false,
        highlight: true,
        minLength: 1,
      },
      {
        name: 'credit',
        source: new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.whitespace,
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          local: <%- JSON.stringify(artists) %>
        }),
        templates: {
          empty: function () {
            return '<div class="px-1 py-2"><em>No artists found.</em></div>';
          },
          suggestion: function (data) {
            return '<div class="px-1 py-2">' + data + '</div>';
          }
        }
      });

      $('#submitVariant').on('click', function () {
        var container = document.getElementById('form');

        if (!container.classList.contains('loadingData')) {
          container.classList.add('loadingData');

          API.call('variant', 'UPLOAD', {
              <%- variant ? `id: "${variant.id}",` : '' %>
              image: $('#form-image').get(0).files[0],
              source: $('#form-source').val(),
              style: $('#form-style').val(),
              license: $('#form-license').val(),
              notes: $('#form-notes').val(),
              species: '<%= bird.id %>',
              subspecies: $('#form-subspecies').val(),
              credit: $('#form-credit').val(),
              contributor: $('img', '#memberDisplay').attr('data-id'),
              creator: $('#form-creator').is(':checked') ? 1 : 0,
              full: $('#form-full').is(':checked') ? 1 : 0,
              special: $('#form-special').is(':checked') ? 1 : 0,
              label: $('#form-label').val()
            }, function (response) {
              window.location.replace('/birdypedia/bird/<%= bird.id_slug %>?variant=' + response);
            }, function (error) {
              container.classList.remove('loadingData');
            }
          );
        }
      });

     <% if (variant) { %>
      $('#deleteVariant').on('click', function () {
        var contianer = document.getElementById('form');

        if (!contianer.classList.contains('loadingData')) {
          if (window.confirm("Are you SURE you want to delete this variant?")) {
            contianer.classList.add('loadingData');

            API.call('variant', 'DELETE', {
              id: "<%= variant.id %>"
            }, function (response) {
              window.location.replace('/birdypedia/bird/<%= bird.id_slug %>');
            }, function (error) {
              contianer.classList.remove('loadingData');
            });
          }
        }
      });
     <% } %>
    });
  </script>

<%- include('../footer.ejs') %>
