<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', {
      title: {
        text: member.username,
        url: `/members/${member.id}`,
        append: "'s Aviary"
      }
    })
  %>

  <%- include('../partials/pagination.ejs') %>

  <div id="lazyLoader" class="row g-0" data-endpoint="/api/aviary" data-params='{"member":"<%= member.id %>","memberData":"<%= locals.loggedInUser ? loggedInUser.id : '' %>"}'></div>

  <%- include('../partials/pagination.ejs') %>

  <%- include('../scripts/lazyloader.ejs', { paginate : currentPage, noun: 'birdypet' }) %>

<%- include('../footer.ejs') %>
