<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { title : `${member.username}'s Aviary` }) %>

    <%- include('../partials/filter-search-sort.ejs', { includeAllFamily : true, sortFields : [{ "value" : "hatchedAt", "label" : "Hatch Date (Newest)", "dir" : "desc" }, { "value" : "hatchedAt", "label" : "Hatch Date (Oldest)" }, { "value" : "species", "label" : "Species" }] }) %>

    <%- include('../partials/spacer.ejs') %>

    <div id="birdDisplay" class="row" data-endpoint="/api/aviary/<%= member._id %>"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.4.1/jquery.appear.min.js" integrity="sha512-vYYoQJKYzaJQaOaYxaJhhmxikOJ2SEgHwmCNa0EMP0aRr7opdt4HHrorAwnCyPm8bdW/JBApIomo85YaBX81zA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  var page = 1;
  var container = document.getElementById('birdDisplay');;
  var endpoint = container.getAttribute('data-endpoint');
  var timeout;

  function template (birdypet, last) {
   return `<%- include('../templates/birdypet.ejs') %>`;
  }

  $(document).ready( function () {
    updateResults();

    $('select', '#controls').on('change', function (event) {
      container.innerHTML = "";
      page = 1;
      updateResults();
    });
  });

  function updateResults () {
        var sort = $('#sortList option:selected');

        $.ajax({
          url: endpoint,
          data: {
            sort: [sort.val(), sort.attr('data-dir')],
            page: page++
          },
          method: "POST",
          dataType: "json",
          success: function (data) {
            if (data.length > 0 ) {
              for (var i = 0, len = data.length; i < len; i++) {
                container.innerHTML += template(data[i], i == len - 1);
               }

               lazyLoadInstance.update();

               $('div[data-last]', container).appear().one('appear', function (event) {
                 event.target.removeAttribute('data-last');

                 updateResults();
               });
             }
          }
        });
      }
</script>

<%- include('../footer.ejs') %>
