<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', {
      title: locals.page == 'gift' ? {
        text : `Send Gift to ${member.username}`
      } : {
        text: member.username,
        url: `/members/${member.id}`,
        append: "'s Aviary"
      }
    })
  %>

  <% if (locals.page == 'gift' && member.settings.privacy_gifts_unwishlisted) { %>
    <div class="text-center"><strong>NOTE</strong> - <%= member.username %> is not accepting gifts of birds not on their wishlist as this time.</div>
  <% } %>

  <%- include('../partials/pagination.ejs') %>

  <div id="lazyLoader" class="row g-0" data-endpoint="aviary" data-params='{"member":"<%= locals.page == 'gift' ? loggedInUser.id : member.id %>","memberData":"<%= locals.page == 'gift' ? member.id : (locals.loggedInUser ? loggedInUser.id : '') %>"}'></div>

  <%- include('../partials/pagination.ejs') %>

  <%- include('../scripts/lazyloader.ejs', { paginate : currentPage, noun: 'birdypet' }) %>

 <% if (locals.loggedInUser) { %>
  <%- include('../partials/editModal.ejs') %>
  <%- include('../partials/giftModal.ejs', { selectedMember : locals.page == 'gift' ? member : null }) %>
 <% } %>

<%- include('../footer.ejs') %>
