<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { title : `${member.username}'s Aviary` }) %>

    <%- include('../partials/filter-search-sort.ejs', { includeAllFamily : true, sortFields : [{ "value" : "hatched-at", "label" : "Hatched At" }, { "value" : "name", "label" : "Name" }, { "value" : "common-name", "label" : "Species" }] }) %>

    <%- include('../partials/spacer.ejs') %>

    <div class="row filter-container">
      <% for (var userpet of userpets) { %>
      <div class="col-md-3 filter-item"
           data-category="<%= [userpet.birdypet.species.family.toLowerCase(), ...(userpet.flocks.length > 0 ? userpet.flocks : ["flockless"]), (userpet.nickname ? "nicknamed" : "nonickname")].join(", ") %>"
           data-hatched-at="<%= userpet.hatchedAt %>"
           data-name="<%= userpet.nickname ? userpet.nickname.trim() : userpet.birdypet.species.commonName %>"
           data-common-name="<%= userpet.birdypet.species.commonName %>"
      >
        <div class="pb-4">
        <div class="card">
          <a href="/birdypet/<%= userpet.id %>">
            <div class="lazy birdypet" data-bg="https://storage.googleapis.com/birdypets/<%= userpet.birdypet.species.order %>/<%= userpet.birdypet.species.family %>/<%= userpet.birdypet.species.scientificName %>/<%= userpet.birdypet.id %>.jpg"></div>
          </a>
          <h3 class="text-center"><a href="/birdypet/<%= userpet.id %>"><%= userpet.nickname ? userpet.nickname : userpet.birdypet.species.commonName %></a></h3>
          <h6 class="text-center"><%= userpet.nickname ? userpet.birdypet.species.commonName : (userpet.birdypet.label + " " + userpet.birdypet.version) %></h6>
        </div>
        </div>
      </div>
      <% } %>
    </div>

  <%- include('../scripts/filterizr.ejs') %>

<script>
  var statePushed = false;

  $('#flocks').on('change', function () {
    var value = this.options[this.selectedIndex].value;

    if (!isNaN(value)) {
      if (statePushed) {
        window.history.replaceState(null, null, `/flocks/${value}`);
      }
      else {
        window.history.pushState(null, null, `/flocks/${value}`);
        statePushed = true;
      }
    }
    else if (statePushed) {
      window.history.go(-1);
    }
  });
</script>

<%- include('../footer.ejs') %>
