<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { title : `${member.username}'s Aviary` }) %>

    <%- include('../partials/filter-search-sort.ejs', { includeAllFamilies : true, sortFields : [{ "value" : "hatchedAt", "label" : "Hatch Date (Newest)", "dir" : "desc" }, { "value" : "hatchedAt", "label" : "Hatch Date (Oldest)" }, { "value" : "species", "label" : "Species" }] }) %>

    <%- include('../partials/spacer.ejs') %>

    <div id="lazyLoader" class="row" data-endpoint="/api/aviary/<%= member._id %>"></div>

<%- include('../scripts/lazyloader.ejs') %>

<%- include('../footer.ejs') %>
