<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', {
        title : birdypet.nickname ? birdypet.nickname : birdypet.bird.commonName,
        subtitle : birdypet.nickname ? birdypet.bird.commonName : birdypet.bird.scientificName
    })
  %>

        <div class="text-center">
          <span class="h-100 d-inline-block position-relative">
           <% if (locals.loggedInUser && loggedInUser.id != birdypet.member) { %>
            <button class="wishlist-heart btn btn-sm" data-id="<%= birdypet.bird.id %>" role="button">
              <%= birdypet.bird.wishlisted ? (birdypet.bird.wishlisted == 2 ? 'ðŸŒŸ' : 'â¤ï¸') : 'ðŸ¤' %>
            </button>
           <% } %>
            <img id="birdy" src="<%= birdypet.variant.image %>" class="birdypet full">
            <span class="birdymessage border border-1 border-secondary" style="display: none;"></span>
          </span>
        </div>

       <% if (locals.loggedInUser && member.id == locals.loggedInUser.id) { %>
        <form id="manageBirdyPet" class="py-3">

          <div class="row">
            <div class="col-12 col-md-8 mb-3">
              <h5><label>Nickname</label></h5>
              <input id="nickname" type="text" name="nickname" class="form-control" value="<%= birdypet.nickname %>" style="width: 100%">
            </div>
            <div class="col-12 col-md-4 mb-3">
            <% if (!birdypet.variant.special && birdypet.bird.variants.length > 1) { %>
              <h5><label>Variant</label></h5>
              <select name="variant" class="form-select">
               <% for (let variant of birdypet.bird.variants) { %>
                <% if (!variant.special) { %>
                <option value="<%= variant.id %>" data-src="<%= variant.image %>" <%= variant.id == birdypet.variant.id ? "selected" : "" %>>
                  <%= variant.label %> <%= variant.subspecies ? `${variant.subspecies} subspecies` : '' %>
                  by <%= variant.credit %>
                  <%= variant.id == birdypet.variant.id ? "[current]" : "" %>
                </option>
                <% } %>
               <% } %>
              </select>
            <% } %>
            </div>
          </div>

          <div class="mb-3">
            <h5><label>Description</label></h5>
            <textarea name="description" maxlength="500" class="form-control" style="height: 150px; width: 100%;"><%= birdypet.description %></textarea>
          </div>

          <% if (member.flocks) { %>
            <h5 class="mb-4"><label>Flocks</label> <a href="/flocks"><small>(manage)</small></a></h5>
            <% for (var flock of member.flocks) { %>
            <p>
              <label>
                <input type="checkbox" name="flocks[]" class="form-check-input" value="<%= flock.id%>" <%= birdypet.flocks && birdypet.flocks.includes(flock.id) ? "checked" : ""%>>
                &nbsp;
                <%= flock.name %>
              </label>
            </p>
            <% } %>
          <% } %>

          <button class="btn btn-light mt-3" type="submit">Save Changes</button>

        </form>
      <% } else { %>
        <% if (birdypet.description) { %>
          <div class="w-75 mx-auto my-4 bg-light rounded p-3 pb-1 text-break">
          <% for (var para of birdypet.descriptionHTML.split("\r\n")) { %>
            <p><%- para %></p>
          <% } %>
          </div>
        <% } %>
      <% } %>

    <% if (locals.loggedInUser && member.id == locals.loggedInUser.id) { %>
      <script type="text/javascript">
        $(document).ready(function () {

          $('select[name="variant"]').change(function() {
            var option = this.options[this.options.selectedIndex];
            var birdy = document.getElementById('birdy');

            birdy.src = option.getAttribute('data-src');
          });

          $('#makeBirdyBuddy').on('click', function () {
            $.ajax({
              cache: false,
              url: '/api/member',
              data: JSON.stringify({ birdyBuddy : "<%= birdypet.id %>" }),
              dataType: 'json',
              contentType: 'application/json',
              method: 'PUT',
              success: function(data) {
                window.location.reload();
              }
            });
          });

          var form = document.getElementById('manageBirdyPet');

          form.onsubmit = function (e) {
            e.preventDefault();

            if (!form.classList.contains('loadingData')) {
              form.classList.add('loadingData');

              var data = {
                birdypet: "<%= birdypet.id %>",
                flocks: []
              }

              $(form).serializeArray().map( function (datum) {
                if (datum.name == "flocks[]") {
                  data['flocks'].push(datum.value);
                }
                else {
                  data[datum.name] = datum.value;
                }
              });

              $.ajax({
                cache: false,
                url: '/api/birdypet',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json',
                method: 'PUT',
                success: function(data) {
                  window.location.reload();
                }
              });
            }
          }
      });
    </script>
   <% } %>

<%- include('../footer.ejs') %>
