<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { title : userpet.nickname ? userpet.nickname : birdypet.species.commonName, breadcrumb: `${member.username}'s` }) %>

    <div class="row">
      <div class="col-md-8 pt-3">
        <div class="text-center">
          <img id="birdy" src="https://storage.googleapis.com/birdypets/<%= birdypet.species.order %>/<%= birdypet.species.family %>/<%= birdypet.species.scientificName %>/<%= birdypet.id %>.jpg">
        </div>

        <% if (locals.loggedInUser && member._id == locals.loggedInUser.id) { %>
          <%- include('../partials/spacer.ejs'); %>

          <form id="manageBirdyPet" method="POST">

          <div class="row mb-3">
            <div class="col-8">
              <h5><label>Nickname</label></h5>
              <input id="nickname" type="text" name="nickname" class="form-control" value="<%= userpet.nickname %>" style="width: 100%">
            </div>
            <div class="col-4">
            <% if (otherVersions.length > 1) { %>
              <h5><label>Variant</label></h5>
              <select name="variant" class="form-select">
                <% for (let otherVersion of otherVersions) { %>
                <option value="<%= otherVersion.id %>" <%= otherVersion.id == birdypet.id ? "selected" : "" %>>
                  <%= otherVersion.version %>
                  <%= otherVersion.label %>
                  <%= otherVersion.id == birdypet.id ? "[current]" : "" %>
                </option>
                <% } %>
              </select>
            <% } %>
            </div>
          </div>

          <div class="mb-3">
            <h5><label>Description</label></h5>
            <textarea name="description" maxlength="500" class="form-control" style="height: 150px; width: 100%;"><%= userpet.description %></textarea>
          </div>

          <% if (locals.allFlocks) { %>
            <h5 class="mb-4"><label>Flocks</label> <a href="/flocks"><small>(manage)</small></a></h5>

            <% for (var flock of allFlocks) { %>
            <p>
              <label>
                <input type="checkbox" name="flocks[]" class="form-check-input" value="<%= flock._id%>" <%= userpet.flocks && (userpet.flocks.includes(flock._id) || userpet.flocks.includes(`${flock._id}`)) ? "checked" : ""%>>
                &nbsp;
                <%= flock.name %>
              </label>
            </p>
            <% } %>

          <% } %>

          <button class="btn btn-primary mt-3" type="submit">Save Changes</button>

          </form>
        <% } else { %>
          <% if (userpet.description) { %>
            <% for (var para of userpet.description.split("\r\n")) { %>
              <p><%= para %></p>
            <% } %>
          <% } %>
        <% } %>
      </div>
      <div class="col-md-4 pt-3 border-start">
        <h6>Common Name</h6>
        <p><%= birdypet.species.commonName %></p>

        <h6>Scientific Name</h6>
        <p><%= birdypet.species.scientificName %></p>

        <h6>Family</h6>
        <p><%= birdypet.species.family %></p>

        <h6>Order</h6>
        <p><%= birdypet.species.order %></p>

        <% if (birdypet.version || birdypet.label) { %>
        <h6>Variant</h6>
        <p><%= birdypet.version + ' ' + birdypet.label %></p>
        <% } %>

        <h6>Hatch Date</h6>
        <p><%= new Date(userpet.hatchedAt).toLocaleString('en-US', { dateStyle: "long" }) %></p>

        <h6>Aviary</h6>
        <p>
        <% if (member._id) { %>
          <a href="/aviary/<%= member._id %>">
            <%= member.username %>'s Aviary
          </a>
        <% } else { %>
          #<%= member %>'s Aviary
        <% } %>
        </p>

        <% if (flocks.length > 0) { %>
        <h6>Flocks</h6>
        <p>
        <% for (var flock of flocks) { %>
          <a href="/flocks/<%= flock._id %>"><%= flock.name %></a><br>
        <% } %>
        </p>
        <% } %>

        <% if (locals.loggedInUser && member._id == locals.loggedInUser.id) { %>
          <%- include('../partials/spacer.ejs'); %>

          <div class="text-center">
            <% if (member.birdyBuddy != userpet._id) { %>
            <p><a href="/birdypet/buddy/<%= userpet._id %>" class="btn btn-primary">💖 Make Birdy Buddy</a></p>
            <% } else {  %>
            <%- include('../partials/friendshipMeter.ejs', { friendship : userpet.friendship || 0 }) %>
            <% } %>
            <p><a href="/birdypet/gift/<%= userpet._id %>" class="btn btn-primary">🎁 Gift to Someone</a></p>
            <p><a href="/birdypet/release/<%= userpet._id %>" class="btn btn-primary">👋 Release Bird</a></p>
          </div>
        <% } %>
      </div>
    </div>

    <script type="text/javascript">
    $('select[name="variant"]').change(function() {
        var value = this.options[this.options.selectedIndex].value;
        var birdy = document.getElementById('birdy');

        birdy.src = birdy.src.replace(/\/[^\/]+.jpg/, `\/${value}.jpg`);
    });
    </script>
<%- include('../footer.ejs') %>
