<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', {
        title : memberpet.nickname ? memberpet.nickname : memberpet.species.commonName,
        breadcrumb: {
          text: `${member.username}`,
          url: `/members/${member.id}`,
          prepend: `<img class="member-avatar avatar-sm" src="${member.avatar}" data-id="${member.id}" onerror="missingMemberAvatar(this)"> `
        }
    })
  %>

    <div class="row">
      <div class="col-md-8 pt-3">
        <div class="text-center">
          <span class="h-100 d-inline-block position-relative">
           <% if (locals.loggedInUser) { %>
            <button class="wishlist-heart btn btn-light btn-sm" data-id="<%= memberpet.species.speciesCode %>" data-action="<%= memberpet.memberData.wishlisted ? 'remove' : 'add' %>" role="button">
              <%= memberpet.memberData.wishlisted ? '❤️' : '🤍' %>
            </button>
           <% } %>
            <img id="birdy" src="<%= memberpet.image %>" class="birdypet full">
          </span>
        </div>

        <% if (locals.loggedInUser && member.id == locals.loggedInUser.id) { %>
          <%- include('../partials/spacer.ejs'); %>

          <form id="manageBirdyPet" method="POST">

          <div class="row">
            <div class="col-12 col-md-8 mb-3">
              <h5><label>Nickname</label></h5>
              <input id="nickname" type="text" name="nickname" class="form-control" value="<%= memberpet.nickname %>" style="width: 100%">
            </div>
            <div class="col-12 col-md-4 mb-3">
            <% if (!memberpet.special && memberpet.variants.length > 1) { %>
              <h5><label>Variant</label></h5>
              <select name="variant" class="form-select">
                <% for (let otherVersion of memberpet.variants) { %>
                <option value="<%= otherVersion.id %>" data-src="<%= otherVersion.image %>" <%= otherVersion.id == memberpet.birdypetId ? "selected" : "" %>>
                  <%= otherVersion.label %>
                  <%= otherVersion.id == memberpet.birdypetId ? "[current]" : "" %>
                </option>
                <% } %>
              </select>
            <% } %>
            </div>
          </div>

          <div class="mb-3">
            <h5><label>Description</label></h5>
            <textarea name="description" maxlength="500" class="form-control" style="height: 150px; width: 100%;"><%= memberpet.description %></textarea>
          </div>

          <% if (member.flocks) { %>
            <h5 class="mb-4"><label>Flocks</label> <a href="/flocks"><small>(manage)</small></a></h5>
            <% for (var flock of member.flocks) { %>
            <p>
              <label>
                <input type="checkbox" name="flocks[]" class="form-check-input" value="<%= flock.id%>" <%= memberpet.flocks && (memberpet.flocks.includes(flock.id) || memberpet.flocks.includes(`${flock.id}`)) ? "checked" : ""%>>
                &nbsp;
                <%= flock.name %>
              </label>
            </p>
            <% } %>
          <% } %>

          <button class="btn btn-primary mt-3" type="submit">Save Changes</button>

          </form>
        <% } else { %>
          <% if (memberpet.description) { %>
            <% for (var para of memberpet.description.split("\r\n")) { %>
              <p><%= para %></p>
            <% } %>
          <% } %>
        <% } %>
      </div>
      <div class="col-md-4 pt-3 border-md-start text-cener text-md-start">
        <div class="d-block d-md-none">
          <%- include('../partials/spacer.ejs'); %>
        </div>

        <% if (locals.loggedInUser && member.id == locals.loggedInUser.id) { %>
          <div class="text-center">
            <% if (member.birdyBuddy.id != memberpet.id) { %>
            <p><a id="makeBirdyBuddy" class="btn btn-primary">💖 Make Birdy Buddy</a></p>
            <% } else {  %>
            <%- include('../partials/friendshipMeter.ejs', { friendship : memberpet.friendship || 0 }) %>
            <% } %>
            <p><a href="/birdypet/<%= memberpet.id %>/gift" class="btn btn-primary">🎁 Gift to Someone</a></p>
            <p><a href="/birdypet/release/<%= memberpet.id %>" class="btn btn-primary">👋 Release Bird</a></p>
          </div>

          <%- include('../partials/spacer.ejs'); %>
        <% } %>

        <h6>Common Name</h6>
        <p>
          <a href="/birdypedia/bird/<%= memberpet.species.speciesCode %>"><%= memberpet.species.commonName %></a>
        </p>

        <h6>Scientific Name</h6>
        <p><%= memberpet.species.scientificName %></p>

        <h6>Family</h6>
        <p><a href="/birdypedia?family=<%= memberpet.species.family %>"><%= memberpet.species.family %></a></p>

        <h6>Order</h6>
        <p><%= memberpet.species.order %></p>

        <% if (memberpet.label) { %>
        <h6>Variant</h6>
        <p><%= memberpet.label %></p>
        <% } %>

        <h6>Hatch Date</h6>
        <p><%= new Date(memberpet.hatchedAt * 1).toLocaleString('en-US', { dateStyle: "long" }) %></p>

        <% if (memberpet.flocks.length > 0) { %>
        <h6>Flocks</h6>
        <p>
        <% for (var flock of member.flocks) { %>
          <% if (memberpet.flocks.includes(flock.id)) { %>
          <a href="/flocks/<%= flock.id %>"><%= flock.name %></a><br>
          <% } %>
        <% } %>
        </p>
        <% } %>
      </div>
    </div>

    <script type="text/javascript">
      $('select[name="variant"]').change(function() {
        var option = this.options[this.options.selectedIndex];
        var birdy = document.getElementById('birdy');

        birdy.src = option.getAttribute('data-src');
      });

     <% if (locals.loggedInUser && member.id == locals.loggedInUser.id) { %>
      $('#makeBirdyBuddy').on('click', function () {
        $.ajax({
            cache: false,
            url: '/api/member',
            data: JSON.stringify({ birdyBuddy : "<%= memberpet.id %>" }),
            dataType: 'json',
            contentType: 'application/json',
            method: 'PUT',
            success: function(data) {
              window.location.reload();
            }
        });
      });

      var form = document.getElementById('manageBirdyPet');

      form.onsubmit = function (e) {
        e.preventDefault();

        if (!form.classList.contains('loadingData')) {
          form.classList.add('loadingData');

          var data = {
            memberpet: "<%= memberpet.id %>",
            flocks: []
          }

          $(form).serializeArray().map( function (datum) {
            if (datum.name == "flocks[]") {
              data['flocks'].push(datum.value);
            }
            else {
              data[datum.name] = datum.value;
            }
          });

          $.ajax({
            cache: false,
            url: '/api/memberpet',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            method: 'PUT',
            success: function(data) {
              window.location.reload();
            }
          });
        }
      }
     <% } %>
    </script>
<%- include('../footer.ejs') %>
