<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', {
        title : birdypet.nickname ? birdypet.nickname : birdypet.bird.commonName,
        subtitle : birdypet.nickname ? birdypet.bird.commonName : birdypet.bird.scientificName
    })
  %>

        <div class="text-center">
          <span class="h-100 d-inline-block position-relative">
           <% if (locals.loggedInUser && loggedInUser.id != birdypet.member) { %>
            <div class="birdypet-actions">
              <button class="wishlist-heart btn btn-sm" data-id="<%= birdypet.bird.id %>" role="button">
                <%= birdypet.bird.wishlisted ? (birdypet.bird.wishlisted == 2 ? '🌟' : '❤️') : '🤍' %>
              </button>
            </div>
           <% } %>
            <img id="birdy" src="<%= birdypet.variant.image %>" class="birdypet full">
            <span class="birdymessage border border-1 border-secondary" style="display: none;"></span>
          </span>
        </div>

      <% if (birdypet.description) { %>
        <div class="w-75 mx-auto my-4 bg-light rounded p-3 pb-1 text-break">
        <% for (var para of birdypet.descriptionHTML.split("\r\n")) { %>
          <p><%- para %></p>
        <% } %>
        </div>
      <% } %>

    <% if (locals.loggedInUser && member.id == locals.loggedInUser.id) { %>
      <script type="text/javascript">
        var container = document.getElementById('manageBirdyPet');

        $(document).ready(function () {
          $('#makeBirdyBuddy').on('click', function () {
            if (!this.classList.contains('disabled')) {
              this.classList.add('disabled', 'loadingData');

              API.call('member', 'PUT', { birdyBuddy : "<%= birdypet.id %>" }, () => {
                this.classList.remove('loadingData');
              });
            }
          });
        });

        function modalTemplate (model) {
          let html = "";

          switch (model.what) {
            case "hatched":
              html += `🐣 Hatched by `;
              break;
            case "collected":
              html += `❤️  Collected by `;
              break;
            case "gifted":
              html += `🎁 Gifted by `;
              break;
            case "exchanged":
              html += `🤝 Exchanged with `;
              break;
          }

          try {
            html += `<a href="/members/${model.who.id}">${model.who.username}</a>`;
          } catch (err) {
            html += 'someone';
          }

          return `<div>${html}</div>`;
        }

        function saveBirdyPet (birdypet) {
          window.location.reload();
        }
      </script>

      <%- include('../partials/editModal.ejs') %>
      <%- include('../partials/giftModal.ejs') %>
    <% } %>

<%- include('../footer.ejs') %>
