<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', {
        title : birdypet.nickname ? birdypet.nickname : birdypet.bird.commonName,
        subtitle : birdypet.nickname ? birdypet.bird.commonName : birdypet.bird.scientificName
    })
  %>

        <div class="text-center">
          <span class="h-100 d-inline-block position-relative">
           <% if (locals.loggedInUser && loggedInUser.id != birdypet.member) { %>
            <div class="birdypet-actions">
              <button class="wishlist-heart btn btn-sm" data-id="<%= birdypet.bird.id %>" role="button">
                <%= birdypet.bird.wishlisted ? (birdypet.bird.wishlisted == 2 ? '🌟' : '❤️') : '🤍' %>
              </button>
            </div>
           <% } %>
            <img id="birdy" src="<%= birdypet.variant.image %>" class="birdypet full">
            <span class="birdymessage border border-1 border-secondary" style="display: none;"></span>
          </span>
        </div>

       <% if (locals.loggedInUser && member.id == locals.loggedInUser.id) { %>
        <div id="manageBirdyPet" class="py-3">
          <div class="row">
            <div class="col-12 col-md-7 col-lg-8 mb-3">
              <h5><label>Nickname</label></h5>
              <input id="nickname" type="text" maxlength="75" name="nickname" class="form-control mb-3" value="<%= birdypet.nickname %>" style="width: 100%">

              <h5><label>Description</label></h5>
              <textarea name="description" maxlength="500" class="form-control mb-3" style="height: 150px; width: 100%;"><%= birdypet.description %></textarea>

            <% if (member.flocks) { %>
              <h5><label>Flocks</label> <a href="/flocks"><small>(manage)</small></a></h5>
             <% for (var flock of member.flocks) { %>
              <p>
                <label>
                  <input type="checkbox" name="flock" class="form-check-input" value="<%= flock.id%>" <%= birdypet.flocks && birdypet.flocks.includes(flock.id) ? "checked" : ""%>>
                  &nbsp;
                  <%= flock.name %>
                </label>
              </p>
             <% } %>
            <% } %>
            </div>
            <div id="birdDisplay" class="col-12 col-md-5 col-lg-4 mb-3">
              <h5><label>Variant</label></h5>
             <% for (let variant of birdypet.bird.variants) { %>
              <div class="row mb-3">
                <div class="col-3 col-md-2 text-center">
                  <div class="d-inline-block p-1 <%= birdypet.variant.id == variant.id ? 'border border-1 border-primary' : '' %>">
                    <div class="m-0 birdypet mini checkmark<%= variant.hatched >= 2 ? 2 : variant.hatched %>" data-id="<%= variant.id %>" data-image="<%= variant.image %>" data-credit="<%= variant.credit %>" data-source="<%= variant.source %>" style="background-image: url('<%= variant.image %>');"></div>
                  </div>
                </div>
                <div class="col-9 small">
                  <%- variant.subspecies ? `<em>${variant.subspecies}</em><br>` : '' %>
                  <%- variant.label ? `${variant.label}<br>` : '' %>
                  <small>&copy; <a href="/birdypedia?artist=<%= encodeURIComponent(variant.credit) %>"><%= variant.credit %></a></small>
                </div>
              </div>
             <% } %>
            </div>
          </div>
        </div>
      <% } else { %>
        <% if (birdypet.description) { %>
          <div class="w-75 mx-auto my-4 bg-light rounded p-3 pb-1 text-break">
          <% for (var para of birdypet.descriptionHTML.split("\r\n")) { %>
            <p><%- para %></p>
          <% } %>
          </div>
        <% } %>
      <% } %>

    <% if (locals.loggedInUser && member.id == locals.loggedInUser.id) { %>
      <script type="text/javascript">
        var container = document.getElementById('manageBirdyPet');

        $(document).ready(function () {
          $('#makeBirdyBuddy').on('click', function () {
            if (!this.classList.contains('disabled')) {
              this.classList.add('disabled', 'loadingData');

              API.call('member', 'PUT', { birdyBuddy : "<%= birdypet.id %>" }, () => {
                this.classList.remove('loadingData');
              });
            }
          });

          $('#birdDisplay').on('click', '.birdypet.mini', function (event) {
            if (!container.classList.contains('loadingData')) {
              var variant = event.target;
              var full = document.getElementById('birdy');

              full.src = variant.getAttribute('data-image');

              $('.border-primary', '#birdDisplay').removeClass('border', 'border-1', 'border-primary');
              variant.parentNode.classList.add('border', 'border-1', 'border-primary');

              saveBirdyPet({ variant : variant.getAttribute('data-id') });
            }
          });
        });

        $('input, textarea, select', container).on('change', function (event) {
          let data = {};

          data[event.target.name] = $(event.target).val();

          saveBirdyPet(data);
        });

        function saveBirdyPet (data) {
          container.classList.add('loadingData');
          $('input, textarea', container).attr('disabled', true);

          API.call('birdypet', 'PUT', { ...{birdypet: "<%= birdypet.id %>"}, ...data}, () => {
            container.classList.remove('loadingData');
            $('input, textarea', container).attr('disabled', false);
          });
        }

        function modalTemplate (model) {
          let html = "";

          switch (model.what) {
            case "hatched":
              html += `🐣 Hatched by `;
              break;
            case "collected":
              html += `❤️  Collected by `;
              break;
            case "gifted":
              html += `🎁 Gifted by `;
              break;
            case "exchanged":
              html += `🤝 Exchanged with `;
              break;
          }

          try {
            html += `<a href="/members/${model.who.id}">${model.who.username}</a>`;
          } catch (err) {
            html += 'someone';
          }

          return `<div>${html}</div>`;
        }
      </script>

      <%- include('../partials/giftModal.ejs') %>
    <% } %>

<%- include('../footer.ejs') %>
