<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { breadcrumb : "BirdyPets", title : "Gifting" }) %>

    <div class="row">
      <div class="col-md-6">
        <% if (giftpet.userpet.nickname) { %>
          <h4><%= giftpet.userpet.nickname %></h4>
          <h6><%= giftpet.birdypet.species.commonName %></h6>
        <% } else { %>
          <h4><%= giftpet.birdypet.species.commonName %></h4>
          <h6><%= giftpet.birdypet.version %> <%= giftpet.birdypet.label %></h6>
        <% } %>

        <div class="card mt-4 mb-4">
          <img class="birdypet full border border-1" src="<%= giftpet.birdypet.image %>">
        </div>
      </div>
      <div class="col-md-6">
        <h4>Who is the lucky person to receive this gift?</h4>
        <h6>&nbsp;</h6>

        <select id="memberList" class="form-select">
          <option></option>
        <% for (var member of members) { %>
          <option data-avatar="<%= member.avatar %>" data-username="<%= member.username %>" value="<%= member._id %>">
            <%= member.username %>
          </option>
        <% } %>
        </select>

        <div id="memberDisplay" class="my-5"></div>

        <div class="text-center">
          <button id="actionButton" class="btn btn-primary" type="button" disabled>Send Gift!</button>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
    <script type="text/javascript">
      var actionButton = $('#actionButton');
      var memberDisplay = $('#memberDisplay');

      $('#memberList').on('change', function () {
        var option = this.options[this.options.selectedIndex];
        var memberId = option.value;

        if (memberId) {
          memberDisplay.html(`<h3><img src="${option.getAttribute('data-avatar')}" class="member-avatar" width="75" data-id="${memberId}" onerror="missingMemberAvatar(this)"> ${option.getAttribute('data-username')}</h3>`);
          actionButton.attr('disabled', false);
        }
        else {
          memberDisplay.html("");
          actionButton.attr('disabled', true);
        }
      });

      actionButton.on('click', function (event) {
    var button = event.target;

      if (!button.style.opacity) { 
        button.style.opacity = .5;

        var member = $('#memberList').val();

        $.ajax({
          url: `/api/gift/${member}/<%= giftpet.userpet._id %>`,
          method: 'post',
          dataType: "json",
          success: function(data) {
            button.style.opacity = null;

            if (!data.error) {
              window.history.back();
            }
          }
        });
      }
      });

      <% if (locals.selectedMember) { %>
        $('#memberList').val("<%= selectedMember %>").trigger('change');
      <% } %>
    </script>

<%- include('../footer.ejs') %>
