<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', { title : birdypet.nickname ? birdypet.nickname : birdypet.bird.commonName }) %>

  <div class="row">
    <div class="col-md-6">
      <div class="mb-4 text-center">
        <img class="birdypet full" src="<%= birdypet.variant.image %>">
      </div>
    </div>
    <div class="col-md-6">
      <h4>Who is the lucky person to receive this bird?</h4>

      <% if (birdypet.exchangeData.length > 0) { %>
        <div class="bg-warning text-dark p-3 w-75 mx-auto my-3 rounded">
          ⚠️ Giving this birdypet away will remove it from <a href="/exchange/<%= birdypet.exchangeData[0].id %>" class="text-dark text-decoration-underline">an active exchange</a>.
        </div>
      <% } %>

      <div>
        <div id="memberSearch">
          <div class="row text-center">
            <div class="col-6 p-3">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="member-wants">
                <label class="form-check-label" for="member-wants">
                  ❤️ Wants it
                </label>
              </div>
            </div>

            <div class="col-6 p-3">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="member-needs">
                <label class="form-check-label" for="member-needs">
                  🌟 Needs it
                </label>
              </div>
            </div>
          </div>

          <input class="typeahead form-control" type="text">
        </div>

        <div id="memberDisplay" class="my-5">
        <% if (locals.selectedMember) { %>
          <h3><img src="<%= selectedMember.avatar %>" class="rounded-circle" width="75" data-id="<%= selectedMember.id %>" onerror="missingMemberAvatar(this)"> <%= selectedMember.username %></h3>
        <% } %>
        </div>

        <div class="text-center">
          <button id="memberButton" class="btn bg-light" type="button" <%= locals.selectedMember ? "" : "disabled" %>>Send Gift!</button>
        </div>
      </div>
    </div>
  </div>

  <%- include('../scripts/membersearch.ejs', { privacy: ['gifts'], include: ['birdData'], bird : `"${birdypet.bird.code}"` }) %>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#memberButton').on('click', function () {
        var button = this;

        if (!button.disabled) { 
          button.parentNode.parentNode.classList.add('loadingData'); 
          button.disabled = true;

          $.ajax({
            url: '/api/gift',
            data: JSON.stringify({
              member: $('img', '#memberDisplay').attr('data-id'),
              birdypet: '<%= birdypet.id %>'
            }),
            method: 'POST',
            dataType: "json",
            contentType: 'application/json',
            success: function() {
              window.location.replace('/birdypet/<%= birdypet.id %>');
            }
          });
        }
      });
    });
  </script>

<%- include('../footer.ejs') %>
