<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { breadcrumb : "Send a Gift", title : memberpet.nickname ? `${memberpet.nickname} (${memberpet.species.commonName})` : `${memberpet.species.commonName} ${memberpet.label}` }) %>

    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 text-center">
          <img class="birdypet full" src="<%= memberpet.image %>">
        </div>
      </div>
      <div class="col-md-6">
        <h4>Who is the lucky person to receive this bird?</h4>
        <h6>&nbsp;</h6>

        <div>
          <select id="memberList" class="form-select">
            <option></option>
          <% for (var member of members) { %>
            <option data-avatar="<%= member.avatar %>" data-username="<%= member.username %>" value="<%= member.id %>">
              <%= member.username %>
            </option>
          <% } %>
          </select>

          <div id="memberDisplay" class="my-5"></div>

          <div class="text-center">
            <button id="actionButton" class="btn btn-primary" type="button" disabled>Send Gift!</button>
          </div>
        </div>
      </div>
    </div>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
  <script type="text/javascript">
    var actionButton = $('#actionButton');
    var memberDisplay = $('#memberDisplay');

    $('#memberList').on('change', function () {
      var option = this.options[this.options.selectedIndex];
      var memberId = option.value;

      if (memberId) {
        memberDisplay.html(`<h3><img src="${option.getAttribute('data-avatar')}" class="member-avatar" width="75" data-id="${memberId}" onerror="missingMemberAvatar(this)"> ${option.getAttribute('data-username')}</h3>`);
        actionButton.attr('disabled', false);
      }
      else {
        memberDisplay.html("");
        actionButton.attr('disabled', true);
      }
    });

    actionButton.on('click', function (event) {
      var button = event.target;

      if (!button.disabled) { 
        button.parentNode.parentNode.classList.add('loadingData'); 
        button.disabled = true;

        var member = $('#memberList').val();

        $.ajax({
          url: '/api/gift',
          data: JSON.stringify({
            member: member,
            memberpet: '<%= memberpet.id %>'
          }),
          method: 'POST',
          dataType: "json",
          contentType: 'application/json',
          success: function() {
            window.location.replace('/birdypet/<%= memberpet.id %>');
          }
        });
      }
    });

    <% if (locals.selectedMember) { %>
      $('#memberList').val("<%= selectedMember %>").trigger('change');
    <% } %>
  </script>

<%- include('../footer.ejs') %>
