<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { title : birdypet.nickname? birdypet.nickname : birdypet.bird.commonName, subtitle : 'So long, and thanks for all the squawks!' }) %>

    <div class="row">
      <div class="col-md-6">
        <img class="birdypet full mt-4 mb-4" src="<%= birdypet.variant.image %>">
      </div>
      <div class="col-md-6">
        <h4>Are you sure you want to release this bird?</h4>

        <p>&nbsp;</p>

        <div class="text-center">
          <button id="actionButton" class="btn btn-light" type="submit">Bye-Bye Birdy!</button>
        </div>
      </div>
    </div>

  <script>
      $('#actionButton').on('click', function (e) {
        var button = e.currentTarget;

        if (!button.disabled) { 
          button.setAttribute('disabled', true);
          button.parentNode.classList.add('loadingData');

              $.ajax({
                cache: false,
                url: `/api/release`,
                data: JSON.stringify({
                  birdypet : '<%= birdypet.id %>'
                }),
                dataType: "json",
                method: "POST",
                contentType: 'application/json',
                success: function(data) {
                  window.location.href = '/aviary/<%= loggedInUser.id %>';
                }
              });
        }
      }); 
  </script>

<%- include('../footer.ejs') %>
