<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { breadcrumb : "BirdyPets", title : "Release" }) %>

    <div class="row">
      <div class="col-md-6">
        <h4><%= userpet.nickname? `"${userpet.nickname}" (${birdypet.species.commonName})` : `${birdypet.species.commonName}   ${birdypet.label}` %></h4>

        <div class="card mt-4 mb-4">
          <img class="birdypet full border border-1 border-secondary" src="<%= birdypet.image %>">
        </div>
      </div>
      <div class="col-md-6">
        <h4>Are you sure you want to release this bird?</h4>

        <p>&nbsp;</p>
        <form id="releaseBirdyPet" method="post" class="text-center">
          <button id="actionButton" class="btn btn-primary" type="submit">Bye-Bye Birdy!</button>
        </form>
      </div>
    </div>

<%- include('../footer.ejs') %>
